html, body {
height: 100%;
padding: 0;
margin: 0;
overflow: hidden;
}

#header {
margin: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
overflow: hidden;
z-index: 1;
}

#header #votes {
float: left;
height: 100%;
margin-left: 2.0em;
padding-top: 3px;
padding-bottom: 1px;
}

#header #votes .info {
display: inline;
float: left;
font-size: 12pt;
font-family: Mono,Serif;
font-weight: bold;
margin: 3px 0.5em 0 1em;
overflow: hidden;
}

#header #votes .info a {
color: #FFF;
text-decoration: underline;
}

#header #votes .mnm-queued,
#header #votes .mnm-published,
#header #votes .mnm-discarded {
line-height: 0.8em;
width: 5.0em;
background-color: transparent;
float: left;
font-size: 7.5pt;
margin: 0 0.5em 0 0;
}

#header #votes .tool {
background-color: transparent;
float: left;
font-size: 7.5pt;
padding-top: 5px;
margin-left: 10px;
}

#header #votes .menealo {
float: left;
margin-left: 5px;
}

#header #votes .menealo a,
#header #votes .menealo span {
background-color: white;
padding-left: 0.3em;
padding-right: 0.3em;
font-size: 7.5pt;
}

#header #votes .tool select {
font-size: x-small;
}

#header ul.headtools {
float: right;
}

#header ul.headtools li#bar {
display: block;
text-align: left;
font-size: small;
}

#content {
position: absolute;
top: 34px;
bottom: 0px;
left: 0px;
right: 0px;
width:	100%;
height: 100%;
background: #fff;
padding-top: 1px;
}

