body {
overflow:hidden;
}

#header-center, #header-menu, #header .logo-ed, #edlist, #wrap {
display: none;
}

#header #bar {
float: left;
height: 100%;
margin-left: 2.0em;
padding-top: 1px;
padding-bottom: 0px;
overflow: hidden;
}

.mnm-queued,
.mnm-published,
.mnm-discarded {
width: 30px;
background-color: transparent;
float: left;
font-size: 15px;
padding: 1px 0 1px 0;
margin: 0 5px 0 0;
text-align: center;
}

.tool {
background-color: transparent;
float: left;
font-size: 7.5pt;
padding-top: 2px;
margin-left: 10px;
}

.menealo {
float: left;
margin-left: 5px;
}

.menealo a,
.menealo span {
background-color: white;
padding-left: 2px;
padding-right: 2px;
font-size: 10px;
padding: 0 4px 0 4px;
}

.tool select {
font-size: x-small;
}

.info  {
display: inline;
float: left;
font-size: 15px;
font-family: Mono,Serif;
font-weight: bold;
margin: 5px 5px 0 10px;
color: #FFF;
}

.info a {
color: #FFF;
text-decoration: underline;
}

.close, .close:visited {
display: inline;
float: left;
font-size: 14px;
color: #FFF;
margin: 5px 0 0 20px;
}

#content {
position: absolute;
top: 30px;
bottom: 0px;
left: 0px;
right: 0px;
width:	100%;
height: 100%;
background: #fff;
padding-top: 1px;
}
