/* Definitions for mobile, iPad and TVs */

body {
font-size: small;
background: #fff;
}

/* Avoid auto zoom */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="email"], input[type="url"], input[type="search"] {
font-size: 16px; 
}

#header{
min-width: 0;
padding-top: 30px;
}

#header-top {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
z-index: 10;
}

#nav-menu {
width: 30px;
}

#header-center, #header-menu {
display: none;
}

#notifier_panel {
position:fixed;
}

.sneaker {
font-size: small;
}

#sidebar, #edlist, .logo-ed, .widescreen {
display:none;
width: 0px;
min-width: 0;
}

#singlewrap, #newswrap {
margin: 5px 5px 0px 5px;
}

.comment-body.high {
background-image: none;
}


#footwrap {
margin: 5em 5px 0 5px;
clear: both;
}

.banner-top {
width: 470px;
}

#wrap {
min-width: 0;
max-width: auto;
}

.subheader{
height:auto;
padding-left:5px;
line-height: 180%;
}

.news-body {
padding-left: 5px;
padding-right: 5px;
overflow: hidden;
}

.news-details, .news-submitted {
white-space: normal;
}

.news-details select {
float: right;
}

.news-shakeit {
position: relative;
top: 0;
left: 0;
float:left;
margin: 0 10px 5px 0;
}

.news-details .comments-counter {
font-size: 100%;
}

.comment-votes-info {
max-width: 75%;
}

.comments, .notes {
margin: 10px 0 0 0;
}

.pages.margin {
margin-left: 5px;
}

#singlewrap {
margin: 0;
}

.warn {
margin-left: 80px;
}

.commentform.warn {
margin-left: 0;
}

.genericform {
border: 0;
margin: 0 10px 10px 10px;
}

.ads-interlinks {
margin-left: 5px;
}
