/* Definitions for mobile, iPad and TVs */

body {
font-size: small;
background: #fff;
}

/* Avoid auto zoom */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="email"], input[type="url"], input[type="search"] {
font-size: 16px; 
}

#header{
min-width: 0;
padding-top: 30px;
}

#header-top {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
z-index: 10;
}

#header-top .logo-mnm {
margin-left: 10px;
}

#header-center {
display: none;
}

#notifier_panel {
position:fixed;
}

#nav-menu {
display: inline;
color: #fff;
margin:0 5px 0 5px;
padding: 0;
float: left;
cursor: pointer;
width: 30px;
height: 30px;
background-image: url('../img/common/icon-menu-20.png');
background-repeat:no-repeat;
background-position:center; 
}

#header-center {
display: none;
}

.sneaker {
font-size: small;
}

#sidebar, #edlist, .logo-ed, .widescreen {
display:none;
width: 0px;
min-width: 0;
}

#singlewrap, #newswrap {
margin: 5px 5px 0px 5px;
}

.comment-body.high {
background-image: none;
}


#footwrap {
margin: 5em 5px 0 5px;
clear: both;
}

.banner-top {
width: 470px;
}

#wrap {
min-width: 0;
max-width: auto;
}

#header-menu01{
position: fixed;
top: 31px;
left: 0px;
z-index: 10;
overflow: auto;
height:auto;
white-space:normal;
margin-bottom: 0px;
padding: 0 25px 0 25px;
font-size: 20px;
line-height: 180%;
width: auto;
display: none;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5)
}

#header-menu01 ul#menu01-itemsl {
margin-bottom: 10px;
}

#header-menu01 ul, #header-menu01 ul li, #header-menu01 ul#menu01-itemsl, #header-menu01 ul#menu01-itemsr {
float: none;
margin-left: 0;
}

#header-menu01 ul li a{
padding-bottom: 5px;
white-space: nowrap;
}

#header-menu01 .selected a, #header-menu01 ul li a:hover{
background: none;
font-weight: bold;
white-space: nowrap;
}


.searchform {
float:none;
position:relative;
display:block;
margin: 10px 0;
width:150px;
height:40px;
}

.searchform .searchglass {
height:24px;
line-height: normal;
}

.searchform .searchbox {
width:125px;
height:26px;
}

.subheader{
height:auto;
padding-left:5px;
line-height: 180%;
}

.news-body {
padding-left: 5px;
padding-right: 5px;
overflow: hidden;
}

.news-details, .news-submitted {
white-space: normal;
}

.news-details select {
float: right;
}

.news-shakeit {
position: relative;
top: 0;
left: 0;
float:left;
margin: 0 10px 5px 0;
}

.news-details .comments-counter {
font-size: 100%;
}

.comment-votes-info {
max-width: 75%;
}

.comments, .notes {
margin: 10px 0 0 0;
}

.pages.margin {
margin-left: 5px;
}

#singlewrap {
margin: 0;
}

.warn {
margin-left: 80px;
}

.commentform.warn {
margin-left: 0;
}

.genericform {
border: 0;
margin: 0 10px 10px 10px;
}

.ads-interlinks {
margin-left: 5px;
}
