<div class="sidebox"><div><div class="header">
<h4><a href="{{url}}">{{title}}</a></h4>
</div>
<div class="comments"><ul>
{% for obj in objects %}
	<li><img data-src="{% exec get_avatar_url obj.user_id, obj.avatar, 20, false %}" data-2x="s:-20.:-40." alt="" src="{{ globals.base_static | noscheme }}img/g.gif" class="tooltip u:{{ obj.user_id }} avatar lazy"/><p><strong>{{obj.username}}</strong>
	<a class="tooltip {{ obj.tooltip }}:{{ obj.id }}" href="{{obj.link}}" rel="nofollow">{% trans _('en') %} {{obj.title}}</a>	
	</p></li>
{% endfor %}
</ul></div></div></div>
