<section class="section section-large">
    <h1 class="text-center">{% trans _("Novedades en Menéame") %}</h1>

    <div class="container container-medium">
        <div class="container-block">
            <h2>martes, 4 de julio de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt>     <dd>Actualizado el panel del perfil</dd>
                <dt>MEJORA</dt>     <dd>Actualizada la edición de datos de usuario</dd>
                <dt>MEJORA</dt>     <dd>Actualizado el sistema de artículos</dd>
                <dt>CORRECCIÓN</dt> <dd>Sistema de login por Facebook</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>martes, 14 de marzo de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt> <dd>La campana parpadea con las notificaciones</dd>
                <dt>MEJORA</dt> <dd>No será posible ver contenido de usuarios que tienes ignorados</dd>
                <dt>MEJORA</dt> <dd>Añadido texto junto con el icono de RSS</dd>
                <dt>MEJORA</dt> <dd>Actualizado el avatar para nuevos usuarios</dd>
                <dt>MEJORA</dt> <dd>Mejoras visuales en el cambio de relaciones entre usuarios</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>jueves, 23 de febrero de 2017</h2>

            <dl class="list">
                <dt>CORRECCIÓN</dt> <dd>Corregido error visual cuando se anula un voto</dd>
                <dt>CORRECCIÓN</dt> <dd>Corregida maqueta de pantalla de información de votos de un usuario</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>miércoles, 22 de febrero de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt> <dd>Mejoras en el UX del sistema de comentarios/notas</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>lunes, 20 de febrero de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt>     <dd>Añadida posibilidad de anular un voto en un comentario/nota en los siguientes X segundos</dd>
                <dt>CORRECCIÓN</dt> <dd>Corregido el enlace al perfil de usuario desde el admin de un sub</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>sábado, 18 de febrero de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt>     <dd>Disposición de elementos en las acciones sobre los comentarios/notas</dd>
                <dt>MEJORA</dt>     <dd>Añadida posibilidad de cambiar el voto en los siguientes X segundos</dd>
                <dt>CORRECCIÓN</dt> <dd>Se destaca el autor del comentario</dd>
                <dt>CORRECCIÓN</dt> <dd>Corrección de la cabecera de subs en el interior de envío en móvil</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>viernes, 17 de febrero de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt> <dd>Sistema de ocultación de comentarios</dd>
                <dt>MEJORA</dt> <dd>Mejora visual de los comentarios y nótame</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>domingo, 12 de febrero de 2017</h2>

            <dl class="list">
                <dt>CORRECCIÓN</dt> <dd>Añadida la posibilidad de votar negativo en el nuevo formato de artículo</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>miércoles, 8 de febrero de 2017</h2>

            <dl class="list">
                <dt>CORRECCIÓN</dt> <dd>Corregido cuando se hace referencia a otra nota durante la edición</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>viernes, 3 de febrero de 2017</h2>

            <dl class="list">
                <dt>CORRECCIÓN</dt> <dd>Corregida la barra de navegación externa</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>miércoles, 1 de febrero de 2017</h2>

            <dl class="list">
                <dt>CORRECCIÓN</dt> <dd>Corregidos errores en el cambio <i>Preferencias Básicas</i> del perfil</dd>
                <dt>MEJORA</dt>     <dd>Añadida posibilidad de enlaces con texto descriptivo en comentarios/historias/notas</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>lunes, 30 de enero de 2017</h2>

            <dl class="list">
                <dt>NUEVO</dt>      <dd>Añadida sección de Novedades en Menéame</dd>
                <dt>NUEVO</dt>      <dd>Añadidos logos SVG para escritorio y móvil</dd>
                <dt>CORRECCIÓN</dt> <dd>Cambiado el color del texto de la opción ganadora en las encuestas</dd>
                <dt>CORRECCIÓN</dt> <dd>Estilo de la alerta sobre el voto en el nuevo formato blog</dd>
                <dt>CORRECCIÓN</dt> <dd>El switch de ver sólo mis subs ya no fuerza la redirección a portada</dd>
                <dt>MEJORA</dt>     <dd>Reescrito el Javascript del fichero principal</dd>
                <dt>MEJORA</dt>     <dd>Aumentado el límite máximo para las entradillas de los envíos a subs</dd>
                <dt>MEJORA</dt>     <dd>Actualizado Haanga a la versión 1.0.7 Gracias <a href="https://github.com/crodas/Haanga">crodas</a>!</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>jueves, 26 de enero de 2017</h2>

            <dl class="list">
                <dt>MEJORA</dt>     <dd>Redondeo del karma de las opciones de las encuestas</dd>
            </dl>
        </div>

        <div class="container-block">
            <h2>miércoles, 25 de enero de 2017</h2>

            <dl class="list">
                <dt>CORRECCIÓN</dt> <dd>Evitada caché de Javascript en cambio de usuario anónimo a registrado</dd>
                <dt>MEJORA</dt>     <dd>Movido código HTML para plantillas en login y registro</dd>
            </dl>
        </div>
    </div>
</section>
