|
{% if self.has_votes_info %}
<a class="fancybox" href="{{ globals.base_url_general }}backend/get_c_v.php?id={{ self.id }}" title="{% trans _('Información de votos') %}">
    <span id="vc-{{ self.id }}" class="votes-counter">{{ self.votes }}</span>
</a>
{% else %}
<span id="vc-{{ self.id }}" class="votes-counter" title="{% trans _('Información de votos') %}">{{ self.votes }}</span>
{% endif %}

|

<span class="votes-counter" id="vk-{{ self.id }}" title="{% trans _('Karma') %}">
    <i class="icon-karma">K</i>
    {{ self.karma }}
</span>

|
