<div id="toplink">

    {#
    {% if self.thumb_url %}
    <a href="{{ self.media_url }}" class="fancybox" title="{% trans _('miniatura') %}"><img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt="{{ self.title }}" class='thumbnail'/></a>
    {% endif %}
    #}
    <h1><a href="{% exec self.get_permalink %}">{{ self.title }}</a></h1>

    {% if not globals.mobile %}
    {% if self.thumb_url %}
    <p>{% exec text_to_summary self.content 600 %}</p>
    {% else %}
    <p>{% exec text_to_summary self.content 200 %}</p>
    {% endif %}
    {% endif %}

    <a class="footer" style="position:absolute;top:-15px;right:-5px;" href="{{ globals.base_url }}top_active"><i class="fa fa-asterisk"></i> {% trans _('Noticia destacada') %}</a>

    {#
    <a class="footer"
       {% if self.thumb_x> 0 && self.thumb_y > 0 %}
        style="position:absolute;top:0;right:4px;"
        {% endif %}
        href="{{ globals.base_url }}top_active"><i class="fa fa-asterisk"></i> {% trans _('Noticia destacada') %}</a>
    #}
</div>
