<div class="poll-options">
    {% for option in poll.getOptions %}
    <div class="radio poll-option">
        <label>
            <input type="radio" />
            {{ option.option }}
        </label>
    </div>
    {% endfor %}
</div>

<footer>
    <a href="{{ globals.base_url_general }}login?return={{globals.uri|urlencode}}" class="btn btn-mnm btn-sm">
        {% trans _('Votar') %}
    </a>

    <span class="votes">
        {% if poll.votes == 1 %}
        {% trans _('1 voto') %}
        {% else %}
            {% if poll.votes %} {% trans _('%s votos') poll.votes %} {% else %} {% trans _('Sin Votos') %} {% endif %}
        {% endif %}
    </span>
    <span class="finish">{% exec poll.getTimeToFinish %}</span>
</footer>
