<div class="poll-edit {% if !poll.id %}hidden{% endif %}">
    {% if !poll.id %}
    <h3>{% trans _('Si deseas crear una encuesta...') %}</h3>
    {% endif %}

    <div class="form-group">
        <input type="text" name="poll_question" value="{{ poll.question }}" class="form-control" placeholder="{% trans _('Escribe la pregunta') %}" tabindex="3" />
    </div>

    {% for option in poll.getOptionsWithEmpty %}
    <div class="form-group">
        <input type="hidden" name="poll_options[{{ option.index }}][id]" value="{{ option.id }}" />
        <input type="text" name="poll_options[{{ option.index }}][option]" value="{{ option.option }}" class="form-control" placeholder="{% trans _('Opción %s') option.index %}" tabindex="4" />
    </div>
    {% endfor %}

    <div class="form-group">
        <select name="poll_duration" class="form-control" tabindex="5">
            <option value="">{% trans _('Selecciona una duración') %}</option>

            {% for hour in poll.getDurationsValid %}
            <option value="{{ hour }}" {% if poll.duration == hour %}selected{% endif %}>{% trans _('%s horas') hour %}</option>
            {% endfor %}
        </select>
    </div>
</div>
