<div class="poll">
	<div class="poll-options">
		{% for option in poll.getOptions %}
		<div class="poll-option {% if option.voted %}voted{% endif %}">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ option.percent }}" style="width: {{ option.percent }}%;">
                    <span class="percent">{{ option.percent }}%</span>
                    <span class="text">{{ option.option }}</span>
                </div>
            </div>
		</div>
		{% endfor %}
	</div>
</div>
