<div id="pcontainer-{{ self.prefix_id }}{{ self.id }}" class="{{ self.css_class }} comment-avatar-large">
    <div class="{{ self.css_class_body }}">
        <div class="{{ self.css_class_header }}">
            {% if self.show_avatar %}
            <img src="{{ globals.base_static }}img/g.gif"
                data-2x="s:-40.:-80."
                data-src="{% exec get_avatar_url self.author, self.avatar, 40, false %}"
                class="avatar tooltip u:{{ self.author }} lazy" alt="{{ self.username }}"
                width="40" height="40" />
            {% else %}
            <img src="{{ globals.base_static }}img/mnm/no-gravatar-2-40.jpg" class="avatar" width="40" height="40" />
            {% endif %}

            <a class="username" href="{%exec post_get_base_url self.username %}">{{ self.username }}</a>

            {% if current_user.admin AND self.admin %}
            <span>({{ self.admin_user_login }})</span>
            {% endif %}

            <span class="ts showmytitle comment-date" data-ts="{{ self.date }}" title="{% trans _('creado') %}: "></span>
        </div>

        <div class="{{ self.css_class_text }}" id="pid-{{ self.prefix_id }}{{self.id}}">
        {% if self.is_disabled %}
            &#187;&nbsp;<a href="javascript:get_votes('get_post.php','post','pid-{{ self.prefix_id }}{{ self.id }}',0,{{ self.id }})" title="{% trans _('ver texto') %}">{% trans _('ver texto') %}</a>
        {% else %}
            {% include 'post_summary_text.html' %}
        {% endif %}
        </div>
    </div>

    <div class="{{ self.css_class_footer }}">
        {% if self.can_vote %}
            {% if self.user_can_vote %}

            <a href="javascript:void(0);" id="vc-p-{{ self.id }}" class="vote up" onclick="menealo_post({{ current_user.user_id}},{{ self.id }},1)" title="{% trans _('informativo, opinión razonada...') %}">
                <i class="fa fa-arrow-circle-up"></i>
            </a>

            <span class="separator-vertical"></span>

            <a href="javascript:void(0);" id="vc-n-{{ self.id }}" class="vote down" onclick="menealo_post({{ current_user.user_id}},{{ self.id }},-1)" title="{% trans _('sólo para racismo, insultos, spam...') %}">
                <i class="fa fa-arrow-circle-down"></i>
            </a>

            <span class="separator-vertical"></span>

            {% include 'post_summary_votes.html' %}

            {% else %}
                {% if self.voted > 0 %}
                <span id="vc-p-{{ self.id }}" class="vote up voted" title="{% trans _('votado positivo') %}">
                    <i class="fa fa-arrow-circle-up"></i>
                </span>

                <span class="separator-vertical"></span>
                {% else %}{% if self.voted < 0 %}
                <span id="vc-n-{{ self.id }}" class="vote down voted" title="{% trans _('votado negativo') %}">
                    <i class="fa fa-arrow-circle-down"></i>
                </span>

                <span class="separator-vertical"></span>
                {% endif %}{% endif %}

                {% include 'post_summary_votes.html' %}
            {% endif %}
        {% else %}
            {% include 'post_summary_votes.html' %}
        {% endif %}

        <a href="{% exec post_get_base_url self.id %}" title="{% trans _('Permalink') %}">
            <i class="fa fa-link"></i>
        </a>

        {% if current_user.user_id > 0 %}
        <a href="javascript:void(0)" id="favc-{{ self.prefix_id }}{{ self.id }}" onclick="add_remove_fav('favc-{{ self.prefix_id }}{{ self.id }}', 'post', {{ self.id }})" title="{% trans _('Favorito') %}" class="favorite{% if self.favorite %} on{% endif %}">
            <i class="fa fa-star"></i>
        </a>

        <a href="javascript:void(0)" onclick="post_reply({{self.id}}, '{{ self.username}}')" title="{% trans _('Responder') %}">
            <i class="fa fa-reply"></i>
        </a>
        {% endif %}
    </div>
</div>
