<div class="commentform" id="edit-form">
    <form action="{{ globals.base_url }}backend/post_edit.php?user={{ current_user.user_id }}" method="post" id="thisform{{ self.id }}" name="thisform{{ self.id }}" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{ self.randkey }}" />
        <input type="hidden" name="post_id" value="{{ self.id }}" />
        <input type="hidden" name="user_id" value="{{ self.author }}" />

        <div class="row">
            <div class="col-md-1 col-sm-2 hidden-xs">
                <img class="avatar lazy img-responsive" data-src="{% exec get_avatar_url current_user.user_id, current_user.user_avatar, 40, false %}" data-2x="s:-40.:-80." src="{{ globals.base_static }}img/g.gif" alt="{{ current_user.user_login }}" />
            </div>

            <div class="col-md-11 col-sm-10">
                <div class="form-group">
                    <textarea name="post" class="form-control droparea" data-limit="{{ globals.posts_len }}" placeholder="{% trans _('¿Qué es lo que tienes que contar?') %}" tabindex="1" required>{{ self.content }}</textarea>

                    <div class="hidden show-on-focus">
                        {% include 'simpleformat_buttons.html' %}
                    </div>
                </div>

                <div class="hidden show-on-focus">
                    {% if current_user.user_level == 'god' %}
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="admin" type="checkbox" value="true" {% if self.admin %} checked="true" {% endif %} tabindex="2" />
                                <strong>{% trans _('admin') %}</strong>
                            </label>
                        </div>
                    </div>
                    {% endif %}

                    {% if self.media_size > 0 %}
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="image_delete" value="1" />
                                {% trans _('Eliminar imagen') %}
                            </label>
                        </div>
                    </div>
                    {% endif %}

                    <div id="poll-block" class="hidden">
                        {% for i in 1 .. 5 %}
                        <div class="form-group">
                            <input type="text" name="poll_options[]" class="form-control" placeholder="{% trans _('Opción %s') i %}" tabindex="3" />
                        </div>
                        {% endfor %}

                        <div class="form-group">
                            <select name="poll_duration" class="form-control" tabindex="4">
                                <option value="">{% trans _('Selecciona una duración') %}</option>
                                <option value="1">{% trans _('%s día') 1 %}</option>
                                <option value="5">{% trans _('%s días') 5 %}</option>
                                <option value="10">{% trans _('%s días') 10 %}</option>
                                <option value="15">{% trans _('%s días') 15 %}</option>
                                <option value="30">{% trans _('%s días') 30 %}</option>
                            </select>
                        </div>
                    </div>

                    <footer>
                        <button type="button" class="btn btn-mnm btn-sm" data-show="#poll-block">
                            <i class="fa fa-bar-chart"></i>
                        </button>

                        {% if current_user.user_karma > globals.media_min_karma OR current_user.admin %}
                        <input type="hidden" name="MAX_FILE_SIZE" value="{{ globals.media_max_size }}"/>
                        <input type="file" autocomplete="off" name="image" class="uploadFile" accept="image/*" />
                        {% endif %}

                        <button type="submit" class="btn btn-mnm btn-sm pull-right" tabindex="5">{% trans _('Enviar') %}</button>
                    </footer>
                </div>

                <br class="clearfix" />
            </div>
        </div>
    </form>
</div>
