<div class="commentform" id="edit-form">
    <fieldset>
        <form action="{{ globals.base_url }}backend/post_edit.php?user={{ current_user.user_id }}" method="post" id="thisform{{ self.id }}" name="thisform{{ self.id }}" enctype="multipart/form-data">
            <input type="hidden" name="key" value="{{ self.randkey }}" />
            <input type="hidden" name="post_id" value="{{ self.id }}" />
            <input type="hidden" name="user_id" value="{{ self.author }}" />

            <div class="row">
                <div class="col-md-6">
                    <legend><span class="sign">
                        {% if self.id > 0 %} {% trans _('edición nota') %} {% else %} {% trans _('nueva nota') %} {% endif %}
                    </span></legend>

                    {% include 'simpleformat_buttons.html' %}
                    <textarea style="clear: both" name="post" class="droparea" rows="5" id="post"
                        {% if ! globals.mobile %}
                        onKeyDown="textCounter(document.thisform{{ self.id }}.post,document.thisform{{ self.id }}.postcounter,{{ globals.posts_len }})"
                        {% endif %}>{{ self.content }}</textarea>

                    <div style="margin-top:-7px">
                        {% if ! globals.mobile %}
                        <input readonly type="text" name="postcounter" size="{{ globals.posts_len|length }}" maxlength="{{ globals.posts_len|length }}" value="{{ self.body_left }}" />
                        <span class="note">{% trans _('caracteres libres') %}</span>&nbsp;&nbsp;
                        {% endif %}
                    </div>

                    <input class="button" style="width:9em"  type="submit" value="{% trans _('enviar') %}" />

                    {% if current_user.user_level == 'god' %}
                    &nbsp;&nbsp;&nbsp;<label><strong>{% trans _('admin') %}</strong>
                    <input name="admin" type="checkbox" value="true" {% if self.admin %} checked="true" {% endif %} /></label>
                    {% endif %}

                    {% if self.media_size > 0 %}
                    <label>{% trans _('Eliminar imagen') %}: <input type="checkbox" name="image_delete" value="1"/></label>&nbsp;
                    {% endif %}

                    {% if current_user.user_karma > globals.media_min_karma OR current_user.admin %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="hidden" name="MAX_FILE_SIZE" value="{{ globals.media_max_size }}"/>
                    <input type="file" autocomplete="off" name="image" id="fileInput{{ self.id }}" class="uploadFile" accept="image/*" />

                    <div class="droparea_info"></div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <legend><span class="sign">
                        {% trans _('Crear una encuesta') %}
                    </span></legend><br />

                    <div class="form-group">
                        <input type="text" name="question" value="" class="form-control" placeholder="{% trans _('Pregunta') %}" />
                    </div>

                    {% for i in 1 .. 5 %}
                    <div class="form-group">
                        <input type="text" name="question" value="" class="form-control" placeholder="{% trans _('Respuesta %s') i %}" />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </fieldset>
</div>

<script type="text/javascript">
/* prepare Options Object */
{% if self.id == 0 %}

var options = {
    async: false,
    success: function(response) {
        if (/^ERROR:/.test(response)) {
            return mDialog.notify(response, 5);
        }

        element = $("#newpost");
        element.html(response);
        $("#addpost").hide("fast");
        element.trigger('DOMChanged', element);
    }
};

{% else %}

var options = {
    async: false,
    success: function(response) {
        if (/^ERROR:/.test(response)) {
            return mDialog.notify(response, 5);
        }

        element = $("#pcontainer-{{ self.id }}");
        element.html(response);
        element.trigger('DOMChanged', element);
    }
};

{% endif %}

/* wait for the DOM to be loaded */
addPostCode(function() {
    $('#thisform{{ self.id }}').droparea({maxsize: {{ globals.media_max_size }} });
    $('#thisform{{ self.id }}').ajaxForm(options);
    $('textarea').autosize();
    $("#fileInput{{ self.id }}").nicefileinput();
});
</script>
