<span class="separator-vertical"></span>

{% if self.has_votes_info %}
<a href="{{ globals.base_url_general }}backend/get_p_v.php?id={{ self.id }}" class="votes-counter fancybox" id="vc-{{ self.id }}" title="{% trans _('Votos') %}">
    {{ self.votes }}
</a>
{% else %}
<span id="vc-{{ self.id }}" class="votes-counter" title="{% trans _('Votos') %}">{{ self.votes }}</span>
{% endif %}

<span class="separator-vertical"></span>

<span class="votes-counter" id="vk-{{ self.id }}" title="{% trans _('Karma') %}">
    <i class="icon-karma">K</i>
    {{ self.karma }}
</span>

<span class="separator-vertical"></span>
