<div class="reportform">

    <form action="{{globals.base_url}}backend/report_comment.php?id={{comment.id}}&link={{link_id}}&user={{current_user.user_id}}" class="report" method="post" id="r_new_form">
        <input type="hidden" name="randkey" value="{{ randkey }}"/>
        <input type="hidden" name="process" value="newreport"/>
        <input type="hidden" name="key" value="{{key}}"/>
        <input type="hidden" name="id" value="{{comment.id}}"/>
        <input type="hidden" name="link_id" value="{{ link_id }}" />
        <input type="hidden" name="user_id" value="{{ current_user.user_id }}"/>
        <p>Especifica los motivos del reporte</p>
        <input type="radio" name="report_reason" value="violate_rules" checked="checked"> Incumple las normas de uso<br>
        <input type="radio" name="report_reason" value="inappropriate_content"> No debería estar en menéame<br>
        <input type="radio" name="report_reason" value="spam"> Es spam<br>
        <input type="submit" value="Enviar reporte" style="width: 100%;">
    </form>
</div>