{# Share icons #}

{#
{% if not short_link  %}
	{% set short_link = link %}
{% endif %}
#}
{% exec urlencode link as link_url %}
<div class="wrapper-share-icons hide">
	<ul class="share-icons" data-url="{{ link }}" data-title="{{ title }}">
		<li>
			<a class="share-facebook" href="#" onClick="share_fb(this)"><i class="fa fa-facebook-square"></i>{% trans _('Compartir en %s') "Facebook" %}</a>
		</li>
		<li>
			<a class="share-twitter" href="#" onClick="share_tw(this)"><i class="fa fa-twitter-square"></i>{% trans _('Compartir en %s') "Twitter" %}</a>
		</li>
		{% if globals.mobile %}
		<li>
			<a class="share-whatsapp" href="whatsapp://send?text={{ title }} - {{ link_url }}" data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i>{% trans _('Compartir por %s') "Whatsapp" %}</a>
		</li>
		{% endif %}
		<li>
			<a class="share-mail" href="mailto:?subject={{title}}&body={{ link_url }}" title="{% trans _('Compartir por %s') "Correo" %}"><i class="fa fa-envelope"></i>{% trans _('Compartir por %s') "Correo" %}</a>
		</li>
	</ul>
</div>

{#
{% exec urlencode link as link_url %}

<a href="https://www.facebook.com/sharer/sharer.php?u={{ link_url }}" target="_blank"><img src="{{ globals.base_static }}img/external/fb-24.png" alt="fb" title="{% trans _('compartir en %s') "facebook" %}"/></a>

<a href="https://twitter.com/intent/tweet?url={{ link_url }}&amp;text={{ title |urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/external/tw-24.png" alt="tw" title="{% trans _('compartir en %s') "twitter" %}"/></a>
#}

{#
&nbsp;<a href="http://www.tuenti.com/share?url={{ link|urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/tuenti.png" alt="tuenti" title="{% trans _('compartir en %s') "tuenti" %}" width="16" height="16"/></a>

&nbsp;<div class="g-plusone" style="display:inline" data-size="small" data-count="false"></div>

<script type="text/javascript">
	window.___gcfg = {lang: 'es'};
	$(function () {
		$.getScript("https://apis.google.com/js/plusone.js");
	});
</script>
#}