<section class="section section-medium section-with-sidebar">
	{% if can_edit %}
	<a href="{{ globals.base_url }}subedit" class="action-link action-link-large pull-right">
		<i class="fa fa-plus"></i>
		<span>{% trans _('crear sub') %}</span>
	</a>
	{% endif %}

	<h1>{% trans _('Subs') %}</h1>

	<p class="intro intro-large">{% trans _('Los subs son secciones temáticas que te permiten personalizar las noticias que ves. Selecciona los temas que te interesan y podrás verlo en tu portada de suscripciones.') %}</p>

	<form id="form-subs-search" class="form form-search" method="get">
		<div class="form-group form-group-search">
			<i class="fa fa-search"></i>
			<input type="search" name="q" class="form-control input-search" value="{{ q|escape }}" placeholder="{% trans _('Encuentra el sub que estás buscando') %}" autocomplete="off" />
		</div>

		<div class="form-group form-group-filter">
			{% if chars %}
			<div class="charlist">
				{% for c in chars %}
				<a href="?all&amp;c={{ c }}" {% if c == char_selected %}class="selected"{% endif %}>{{ c }}</a>
				{% endfor %}
			</div>
			{% endif %}

			<select class="form-control input-filter">
				<option value="subscribed" {% if option === 0 %}selected{% endif %}>{% trans _('Mis suscripciones') %}</option>
				<option value="all" {% if option === 2 %}selected{% endif %}>{% trans _('Todos') %}</option>
				<option value="active" {% if option === 1 %}selected{% endif %}>{% trans _('Los más activos') %}</option>
			</select>
		</div>
	</form>

	{% include 'subs_list.html' %}

	{% if option === 2 %}
	<div class="pagination-center">
		{% exec do_pages rows page_size false as dummy %}
	</div>
	{% endif %}
</section>