<section class="section section-medium">
    <div class="container">
        <form class="form" method="post" autocomplete="off" enctype="multipart/form-data">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <div class="form-group">
                <label for="title" class="title">{% trans _('Título del Pregúntame') %} *</label>

                <input type="text" id="title" name="title" value="{{ row.title }}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="subtitle" class="title">{% trans _('Subtítulo') %} *</label>

                <input type="text" id="subtitle" name="subtitle" value="{{ row.subtitle }}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="link" class="title">{% trans _('Link al envío') %}</label>

                <input type="text" id="link" name="link" value="{{ row.link }}" class="form-control" />
            </div>

            <div class="form-group">
                <label for="image" class="title">{% trans _('Imagen') %} *</label>

                <input type="file" id="image" name="image" class="form-control" />
            </div>

            <div class="form-group">
                <label for="start_at" class="title">{% trans _('Comienza el (AAAA-MM-DD HH:MM)') %} *</label>

                <input type="text" id="start_at" name="start_at" value="{{ row.start_at }}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="end_at" class="title">{% trans _('Finaliza el (AAAA-MM-DD HH:MM)') %} *</label>

                <input type="text" id="end_at" name="end_at" value="{{ row.end_at }}" class="form-control" required />
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group text-center">
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox" id="sponsored" name="sponsored" {% if row.sponsored %} checked {% endif %} />
                                {% trans _('Patrocinado') %}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group text-center">
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox" id="enabled" name="enabled" {% if row.enabled %} checked {% endif %} />
                                {% trans _('Activo') %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="pull-right">
                    <button type="submit" name="save" value="true" class="btn btn-mnm">
                        {% if row.id %}{% trans _('Guardar modificaciones') %}{% else %}{% trans _('Crear') %}{% endif %}
                    </button>
                </div>
            </footer>
        </form>
    </div>
</section>
