/*
Description: Menéame IE6 CSS file
Version: 1.0
Last updated: 0:01 11/07/2008
Site URI: http://meneame.net
Authors: Damián Vila
Licence: Affero GPL License (http://meneame.net/COPYING)
Comments: This file contains styles and colors & images.
*/


#wrap { /* Code to get min and max width on IE6 */
width: expression(documentElement.clientWidth > 1200 ?  "1200px":
documentElement.clientWidth < 950 ?  "950px": "auto" );
text-align: left;
margin: 0 20px;
overflow: hidden;
}

#sidebar {
margin-right: 15px;
}

.tabmain li a:hover {
text-decoration: underline;
background: #fff;
}

.tabmain li.tabmain-this a:hover {
background: #ffd9c0 url('../img/common/reload-bt.gif') no-repeat right 6px;
}

.tabsub li a:hover {
text-decoration: underline;
background: #fff;
}
