body {
background: #fff;
font-size: 15px;
}

.news-body h1, .news-body h2 {
font-size: 18px;
}


/* Avoid auto zoom */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="email"], input[type="url"], input[type="search"] {
font-size: 16px;
}

#variable {
min-width: 0;
margin-top: 40px;
}

#header{
min-width: 0;
}

#header-top {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height:40px;
z-index: 10;
}

#header-sub{
position: relative;
height: 20px;
overflow:hidden;
white-space:nowrap;
font-size:16px;
padding: 5px 5px;
background-color:#ccc;
}

#header-sub, #header-sub a, #header-sub img {
color:#fff;
vertical-align: bottom;
font-variant:small-caps;
font-weight:bold;
}

#header-sub .favorite {
vertical-align: middle;
}

#nav-menu {
margin-top: 5px;
width: 30px;
background-position: 5px -225px;
}

#header-top .logo-mnm {
margin-top: 10px;
}

#header-top #notifier {
padding-top: 7px;
height:33px;
width:40px;
font-size:18px;
}

#notifier_panel {
top:41px;
}

#notifier_panel div {
font-size: 16px;
}

#header-top .usertext{
margin-top: 9px;
}

#userinfo #avatar {
width:40px;
height:40px;
}

#header-top .userlogin {
margin-top:5px;
}


#header-center, #header-menu, #sidebar, #edlist, .logo-ed, .wideonly, .wide {
display: none;
background: none !important;
}

@media (min-width:500px) and (orientation:landscape) {
    .wide {
        display: inline-block;
    }
}

#notifier_panel {
position:fixed;
}

.sneaker {
font-size: small;
}

#singlewrap, #newswrap {
margin: 5px 5px 0px 5px;
}

.comment-body.high {
background-image: none;
}

.comment-meta .comment-info {
max-width: 35%;
}

.comment-meta .username {
margin-left: 2px;
font-weight: normal;
}

#footwrap {
margin: 5em 5px 0 5px;
clear: both;
}

.banner-top {
width: 470px;
}

#wrap {
min-width: 0;
max-width: auto;
}

.subheader{
height:auto;
padding-left:5px;
line-height: 180%;
}

#toplink .thumbnail.medium {
width: 60px;
height: 60px;
}

.news-body {
padding-left: 5px;
padding-right: 5px;
overflow: hidden;
}

.news-details, .news-submitted {
white-space: normal;
}

.news-details form {
float: right;
}

.news-shakeit {
position: relative;
top: 0;
left: 0;
float:left;
margin: 0 10px 5px 0;
}

.news-details .comments-counter {
font-size: 100%;
}

.comments, .notes {
margin: 10px 0 0 0;
}

.pages.margin {
margin-left: 5px;
}

#singlewrap {
margin: 0;
}

.news-summary .warn {
margin-left: 80px;
}

.commentform.warn {
margin-left: 0;
}

.genericform {
border: 0;
margin: 0 10px 10px 10px;
}

.ads-interlinks {
margin-left: 5px;
}

.share_icons img, .semiopaque {
opacity:0.8;
}

#cboxTitle {
font-weight: normal;
}

.ts.nomobile {
text-decoration: underline;
font-weight: bold;
background: url('{{ globals.base_static }}img/common/icons-common.png') no-repeat 0px -141px;
background-size: 20px 300px;
width:14px;
height:18px;
cursor: pointer;
color: transparent;
overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .ts.nomobile { background-image:url('{{ globals.base_static }}img/common/icons-common-2x.png'); }
}
