/*
Description: Menéame CSS file
Site URI: http://meneame.net
Authors: Ricardo Galli, Benjamí Villoslada, Damián Vila, Aníbal De Castro
Licence: Affero GPL License (http://meneame.net/COPYING)
*/

html * {
margin: 0;
padding: 0;
}

body {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: small;
background-image: url('{{ globals.base_static }}img/common/bkg-01.png');
color: #000;
background-color: #fff;
margin:0px;
padding:0px;
}

#ajaxinfo {
display: none;
}

label {
color: #FF6400;
}

:focus {
outline: 0;
}

select {
background: #FFF;
color: #FF6400;
}

legend {
font-weight: bold;
padding: 0 5px;
}

legend a {
text-decoration: underline;
}

legend, legend a, legend a:visited {
background: #FF6400;
color: #fff;
}

legend a:hover {
color: #888;
}

input, textarea {
margin: 0 0 10px 0;
padding: 2px 2px;
background: #fff;
border: 1px solid #ddd;
color: #303030;
}

.button, button, input[type="button"], input[type="submit"] {
border: none;
font-weight: bold;
margin: 4px 0 4px 0;
padding: 2px 4px 2px 4px;
background-color: #FF6400;
color: #fff;
}

.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
background-color: #FFB300;
}

.button:disabled, button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
background: #feefe5;
}

fieldset {
border: none;
padding: 10px 10px;
margin: 10px 0;
background: #FFF1E2;
}


label {
font-weight: bold;
}

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
color: #03a;
}

a:hover, a:focus {
text-decoration: underline;
color: #ff6400;
}

a:active {
color: #000;
}

a:visited {
color: #551a8b;
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly]
{
color: #aaa;
}

#map, .commentform.warn, .warn, .box, .searchbox, fieldset, label, .button, button {
border-radius: 3px;
}

#header-top, #header-center, .news-shakeit, .answers .counter, #notifier_panel  {
font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#variable {
width: 100%;
min-width: 790px;
margin-top: 30px;
}

#header{
width: 100%;
}

#header-top{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height:30px;
background-color:#3c3c3c;
overflow:hidden;
white-space:nowrap;
z-index: 900;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}

@media (min-height: 600px) {
	#header-top {
	position: fixed;
	}
}


#header-top .logo-mnm{
background: url('{{ globals.base_static }}img/mnm/logos-common.png') no-repeat 0 0;
background-size: 110px 50px;
height:16px;
width:100px;
margin: 5px 0 0 8px;
float:left;
font: 0/0 serif;
text-shadow: none;
color: transparent;
cursor: pointer;
}

#header-top .logo-ed{
background:url('{{ globals.base_static }}img/mnm/h9_logo_ed.png') no-repeat left top;
background-size: 9px 16px;
height:16px;
width:9px;
margin-left:20px;
margin-top:7px;
margin-right:15px;
float:left;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #header-top .logo-ed { background-image:url('{{ globals.base_static }}img/mnm/h9_logo_ed.svg'); }
}

#header-top ul#edlist{
list-style-type:none;
margin: 2px 0 0 0;
padding:0;
float:left;
}

#header-top ul li{
font-size:14px;
color:#fff;
position:relative;
float:left;
line-height:140%;
}

#header-top ul#edlist li a{
padding-top: 1px;
text-decoration:none;
height:27px;
margin-right:20px;
color:#fff;
display:inline-block;
}

#header-top ul#edlist li.selected a{
white-space: nowrap;
}

#header-top ul#edlist li a:hover{
color:#fff;
}

#header-top ul#edlist li.selected a, #header-top ul#edlist li a:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAAFElEQVQI12P4//8/EwMDAxMDAwMAHgYDArjSWt4AAAAASUVORK5CYII=') bottom left repeat-x;
}

#header-top ul#userinfo{
list-style-type:none;
margin:0;
padding:0;
float:right;
}


#header-top ul#userinfo li{
position:relative;
float:left;
}

#header-top ul#userinfo li a{
text-decoration:none;
color:#fff;
}

#header-top ul#userinfo li a:hover{
color:#ff0000;
}

#userinfo #avatar {
width:30px;
height:30px;
}

#header-top .usertext{
font-size:15px;
color:#fff;
margin-right:10px;
margin-top:4px;
}

#header-top .userlogin {
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat 10px -265px;
background-size: 20px 300px;
width:40px;
height:30px;
margin: 0;
font: 0/0 serif;
text-shadow: none;
color: transparent;
cursor: pointer;
}

#header-center{
height:45px;
background-color:#ccc;
overflow: hidden;
white-space: nowrap;
padding-bottom: 2px;
color: #fff;
}

#header-center img {
vertical-align: bottom;
}

#header-center .logo-eli{
background: url('{{ globals.base_static }}img/mnm/h9_eli.png') no-repeat left top;
background-size: 39px 35px;
height:35px;
width:55px;
margin: 5px 0 0 20px;
float:left;
font: 0/0 serif;
text-shadow: none;
color: transparent;
cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#header-center .logo-eli { background-image:url('{{ globals.base_static }}img/mnm/h9_eli.svg'); }
}

#header-center .edname{
margin: 6px 0 0 15px;
padding:0;
float:left;
font-size:25px;
position:relative;
float:left;
}

.edname a:link, .edname a:visited {color: inherit;}


.subname, .subname_base {
font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-variant:small-caps;
}

.subname, .subname a:visited, .subname a:link {
color:#fff !important;
background-color:#ccc;
padding: 0 1px;
}

.subname.big {
font-size: 110%;
}

.searchform {
height:auto;
margin: 10px 10px 0 0;
position:relative;
float:right;
}

.searchform .searchbox {
border:0px;
width:280px;
height:24px;
font-size: 16px;
padding-top: 0px;
padding-left: 20px;
background: #fff url({{ globals.base_static }}img/common/icons-common.png) no-repeat 0 -200px;
background-size: 20px 300px;
}

.header-menu01 {
display: block;
height:30px;
background-color:#ececec;
white-space:nowrap;
overflow: hidden;
font-size: 15px;
padding: 0 0 0 20px;
}

.header-menu01 ul.menu01-itemsl {
list-style-type:none;
margin-top: 3px;
padding:0;
float:left;
}

.menu01-itemsl li {
margin-right: 20px;
}

.header-menu01 ul li{
position:relative;
float:left;
line-height:145%
}

.header-menu01 ul li a{
color:#ff6400;
text-decoration:none;
}

.header-menu01 ul.menu01-itemsr{
list-style-type:none;
margin-top: 3px;
padding:0;
float:right;
display: block;
}

.menu01-itemsr li {
margin: 0 10px;
}

.header-menu01 ul li a{
display:inline-block;
padding-bottom: 5px;
}

.header-menu01 .selected a{
white-space: nowrap;
}

.header-menu01 ul li a:hover{
color:#ff6400;
}

.header-menu01 .selected a, .header-menu01 ul li a:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAAFElEQVQI12P4n8LAxMDAwMTAwAAADwEBaFtNWv8AAAAASUVORK5CYII=') repeat-x 100% 100%;
}

#nav-menu {
display: inline;
color: #fff;
margin:0 5px 0 5px;
padding: 0;
float: left;
cursor: pointer;
width: 10px;
height: 30px;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat 0px -225px;
background-size: 20px 300px;
}

#nav-panel {
position: fixed;
display: none;
top: 30px;
left: 0px;
overflow: auto;
z-index: 901;
width: auto;
height:auto;
white-space:normal;
margin-bottom: 0px;
padding: 0 25px 0 25px;
background-color:#3c3c3c;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5)
}

#nav-panel .header-menu01 {
height: auto;
padding: 0;
margin: 0;
font-size: 16px;
background-color:#3c3c3c;
}

#nav-panel ul {
margin-bottom: 10px;
display: block;
float: none;
}

#nav-panel ul li {
float: none;
margin: 0;
}

#nav-panel ul li a {
padding: 2px 0;
white-space: nowrap;
color: #fff;
}

#nav-panel ul li.selected a, #nav-panel ul li a:hover{
background: none;
font-weight: bold;
display: block;
}

#nav-panel .searchform {
float:none;
position:relative;
display:block;
margin:10px 0 0 0;
height:auto:
}

#nav-panel .searchform .searchbox {
width:150px;
}


#wrap {
padding-top: 2px;
min-width: 805px;
max-width: 1300px;
width: 99%;
text-align: left;
background-color: #fff;
margin: auto;
margin-top: 0;
}

.banner-right {
width: 100%;
height: 252px;
margin: 5px 0 20px 0;
}

#container {
clear:both;
}

#sidebar {
float: right;
width: 300px;
margin: 0 2px 25px 10px;
overflow: hidden;
padding-top: 10px;
}

#newswrap {
margin: 10px 316px 0 4px;
}

#singlewrap {
margin: 0 10px 0 10px;
}

#map {
overflow: hidden;
}


#toplink {
position:relative;
background:#f9f9f9;
border:#ddd 1px solid;
padding: 5px 5px;
margin: 10px 0;
vertical-align:middle;
overflow: hidden;
}

#toplink h1 {
line-height:100%;
font-size: 140%;
font-weight: normal;
margin: 0;
}

#toplink .thumbnail {
float: left;
margin-right: 8px;
}

#toplink .thumbnail.medium {
width: 120px;
height: 120px;
}

#toplink p {
color: #666;
}

#toplink .footer, .topbox .footer {
display:block;
margin-top:5px;
text-transform:capitalize;
font-variant:small-caps;
text-align:right;
color:#666;
text-decoration:underline;
}

.topbox {
position:relative;
background:#f9f9f9;
border:#ddd 1px solid;
padding: 7px 5px 3px 5px;
margin: 0 0px 15px 0;
min-height: 32px;
vertical-align:middle;
overflow: hidden;
white-space: nowrap;
}

.topbox .title {
margin-top:5px;
text-transform:capitalize;
font-variant:small-caps;
text-align:right;
color:#aaa;
font-size:120%;
}

.topbox .footer {
text-decoration: none;
}

.topbox.opinion {
background: #f9f9f9 url({{ globals.base_static }}img/common/opinion_01.png) 99% 5px no-repeat;
padding-right: 40px;
}

.mini-icon-text {
vertical-align: middle;
}

.subheader{
width: auto;
height:30px;
padding-left:25px;
list-style-type: none;
}

.subheader:after {
content: ".";
display: block;
height: 0;
clear: left;
visibility: hidden;
}

.subheader li{
margin-right:25px;
margin-top: 2px;
float:left;
}

.subheader li a{
font-size:15px;
color:#3c3c3c;
text-decoration:none;
}

.subheader li.selected a {
padding-bottom: 5px;
white-space: nowrap;
}

.subheader li a:hover {
color:#3c3c3c;
padding-bottom: 5px;
}

.subheader li.selected a, .subheader li a:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAAFElEQVQI12OwsbFhYmBgYGJgYAAABywAuecLb78AAAAASUVORK5CYII=') bottom left repeat-x;
}

.subheader li.icon{
margin-top:4px;
}

.subheader li.icon-right{
float:right;
background-color: #F9F9F9;
border-color: #F9F9F9;
margin-left: 0px;
margin-right: 10px;
padding-left: 0px;
padding-right: 0px;
color: #FF6400;
font-weight: bold;
}

.toggler img{
margin: 0px 0px 2px 2px !important;
vertical-align: middle;
}

.sidebox {
margin-bottom:25px;
padding: 4px;
border: 1px solid #dadada;
}

.sidebox.message, .sidebox.message a:visited, .sidebox.message a:link {
color:#fff !important;
background-color:#ccc;
margin-bottom: 4px;
font-size: 110%;
}

.sidebox .header {
background-color: #aaa;
margin: 0 1px;
font-size: 14px;
}

.sidebox.red .header {
background-color: #9e0016;
}

.sidebox.brown .header {
background: #A84504;
}

.sidebox h4 {
position: relative;
margin: 0 0 10px;
padding: 1px;
font-weight: normal;
text-align: center;
}

.sidebox h4 a, .sidebox h4 span {
display: block;
padding: 5px;
color: #FFF;
text-decoration: none;
border: 1px solid #FFF;
}

.sidebox h5 {
padding: 0px;
margin: 0 2px 0 50px;
font-size: 90%;
font-weight: normal;
color:#03F;
}

.sidebox h5 a {
text-decoration: none;
}

.sidebox > div {
margin-right:0px;
padding-bottom:6px;
}

.sidebox .cell {
margin: 5px 0;
min-height:35px;
clear: both;
}

.sidebox .thumbnail {
margin:0px 0px 10px 10px;
}

.sidebox img.thumbnail {
width: 30px;
height: 30px;
}



.sidebox .votes, .sidebox .clics {
float: left;
width: 40px;
text-align: center;
border: 1px solid #ffeed6;
text-align: center;
font-size: 12px;
color: #ff6400;
background-color: #FFE1B6;
border-radius: 3px;
}

.sidebox .clics {
font-size: 10px;
}

.sidebox .votes span, .sidebox .clics span {
display: block;
padding: 5px 0;
border: 1px solid #FFF;
background-clip: padding-box;
border-radius: 3px;
}

.sidebox .votes.queued {
background-image: none;
border-color: #FF883D;
}

.sidebox .mainsites ul {
list-style-type: none;
padding: 0;
margin: 6px 0 0 0;
}

.sidebox .mainsites ul li {
font-size: 0.87em;
font-weight: bold;
color:#333333;
display:block;
padding: 6px 0 6px 8px;
}

.sidebox .tagcloud {
color:#039;
margin:0px;
text-align: center;
}

.sidebox .comments {
margin: 0 2px;
}

.sidebox img.avatar {
width:20px;
height:20px;
}

.sidebox .comments ul {
list-style-type: none;
padding: 0;
}

.sidebox .comments li {
clear: left;
display: block;
font-size: 90%;
color:#039;
margin: 0 0 10px 0;
}

.sidebox .comments li img {
float:left;
margin: 3px 0 8px 0;
}

.sidebox .comments li p {
margin-left: 28px;
}

.sidebox .rss {
list-style-type: none;
padding: 0
}

.sidebox .rss li {
font-size: 90%;
color: #039;
display:block;
padding-left: 24px;
background: url({{ globals.base_static }}img/common/h9_rss.png) no-repeat 4px 0px;
margin: 10px 0 10px 0px;
}

#footwrap {
margin: 5em 40px 0 40px;
}

#footcol1, #footcol2, #footcol3, #footcol4, #footcol5 {
float: left;
padding: 0 22px;
border-left: solid 1px #CCCCCC;
font-size: 85%;
margin-bottom: 20px;
}

#footcol1 ul, #footcol2 ul, #footcol3 ul, #footcol4 ul, #footcol5 ul {
padding-bottom: .5em;
}


#footcol1 li, #footcol2 li, #footcol3 li, #footcol4 li, #footcol5 li {
list-style-type: none;
}

#footcol1 {
width: 20%;
background: url('{{ globals.base_static }}img/common/rss-bigfoot.png') no-repeat 85% bottom;
border-left: none;
}

#footcol2 {
width: 12%;
}

#footcol3 {
width: 13%;
}

#footcol4 {
width: 13%;
}

#footcol5 {
width: 9%;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
font-size: 120%;
font-weight: bold;
color: #ff6400;
margin-bottom: 4px;
}

#footcol1 a, #footcol2 a, #footcol3 a, #footcol4 a, #footcol5 a {
color: #5073c5;
}

#footthingy {
clear: both;
margin: 50px 20px 10px 13px;
padding: 0 1em 0 110px;
background: url('{{ globals.base_static }}img/mnm/logos-common.png') no-repeat 0 -25px;
background-size: 110px 50px;
position: relative;
overflow: auto;
}

#footthingy li {
display: inline;
list-style-type: none;
font-size: 85%;
color: #999;
}

#footthingy li a {
color: #999;
}

#footthingy p {
border-bottom: 1px solid;
padding-bottom: 0px;
text-indent: -9999px;
border-color: #FF7D12;
background: none;
}

#legalese {
text-align: center;
float: left;
display: inline-block;
width: 84%;
margin-top: 2px;
}

#legalese li {
border-left: none;
padding: 0 0 0 0;
}

#stdcompliance {
padding: 4px 0 0 0;
text-align: right;
float: right;
display: inline-block;
width: 16%;
margin: 0px;
}

#stdcompliance li {
margin: 0px;
}

/*** LEGACY STYLES ***/
/* references in comments and posts */

dl.categorylist {
float: left;
}

dl.categorylist dt label {
margin-left: 20px;
float: none;
width: auto;
text-align: left;
font-size: 110%;
font-weight: bold;
color: #ff6400;
}

dl.categorylist dd label {
margin-left: 35px;
font-size: 85%;
color: #ff9400;
}

dl.categorylist input {
margin-right: 7px;
margin-bottom: 5px;
}

.thumbnail {
overflow: hidden;
float: right;
margin: 3px 3px 3px 5px;
box-shadow: 0 0 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0 0 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.8);
}

.news-submitted img {
float: left;
width: 25px;
height: 25px;
margin-right: 4px;
vertical-align: bottom;
}

abbr { cursor: help; }

img {
border: none;
}

.shadowed, .avatar.big {
box-shadow: 0 0 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.avatar, .news-submitted img {
border: 1px solid #ccc;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}

.avatar.big {
border-radius: 0px;
}

.shadow-red {
box-shadow: 0 0 6px rgba(255,0,0,0.9);
-moz-box-shadow: 0 0 6px rgba(255,0,0,0.9);
-webkit-box-shadow: 0 0 6px rgba(255,0,0,0.9);
}

.shadow-green {
box-shadow: 0 0 4px rgba(0,255,0,0.8);
-moz-box-shadow: 0 0 4px rgba(0,255,0,0.8);
-webkit-box-shadow: 0 0 4px rgba(0,163,131,0.8);
}

.tooltip {
cursor: pointer;
}

.tt {
cursor: pointer;
text-decoration: underline;
color: #C85000;
}

hr {
height: 1px;
border: none;
}

h2 {
margin-top: 0;
margin-bottom: 8px;
font-size: 160%;
font-weight: bold;
color: #FF6400;
}

.topheading h2 {
padding: 10px 0 20px 0;
margin: 0 0 0 20px;
font-size: 160%;
font-weight: normal;
border: none;
}

h3 {
margin-top: 0;
margin-bottom: 3px;
font-size: 140%;
font-weight: normal;
color: #FF6400;
}

h4 {
font-size: 100%;
font-weight: bold;
margin: 5px 0 3px 0;
}

table.keyvalue tr {
border-bottom: 1px solid;
padding: 5px 0 2px 0;
}

table.keyvalue th {
text-align: right;
padding-right: 4px;
vertical-align: top;
}

table.keyvalue td {
padding-left: 4px;
vertical-align: bottom;
}

table.keyvalue td img {
vertical-align: text-bottom;
}

table.decorated {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
}

table.decorated th, table.decorated td {
text-align: left;
font-size: 12px;
padding: 6px;
border-bottom: 1px solid;
}

tr:hover td, table.keyvalue tr:hover th  {
background: #fafafa;
}

th, td, table.decorated th, table.decorated td {
border-bottom-color: #ddd;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid;
border-color: #FFF;
}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid;
background: #FFF;
border-color: #000;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
text-decoration: none;
border: none;
color: #a00;
}

td.count {
font-size: 140%;
text-align: right;
}

.news-summary .warn {
position: relative;
padding: 5px 10px 5px 25px ;
margin: 0px 0 5px 0;
font-size: 85%;
background: #FEFBEA url({{ globals.base_static }}img/common/error_s.png) 5px 50% no-repeat;
background-size: 16px 16px;
}

.sidebox .warn {
padding-left:20px;
background: url({{globals.base_static}}img/common/error_s.png) no-repeat left center;
background-size: 16px 16px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.news-summary .warn, .sidebox .warn { background-image:url('{{ globals.base_static }}img/common/error_s-2x.png'); }
}

.comments-counter .counter {
text-decoration: none;
padding: 1px 4px;
font-weight: bold;
text-align: center;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
color: white;
}

.error {
font-weight: bold;
font-size: 120%;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
color: #FF6400;
background: url({{ globals.base_static }}img/common/error.png) no-repeat;
background-size: 24px 24px;
}

.error-text {
font-size: 100%;
color: #FF9400;
}

.form-error, .form-error-submit {
font-size: 110%;
font-weight: bold;
margin: 20px 0 10px 20px;
padding: 5px 0 10px 30px;
color: #FF5900;
background: url({{ globals.base_static }}img/common/error.png) 0 50% no-repeat;
background-size: 24px 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.error, .form-error, .form-error-submit { background-image:url('{{ globals.base_static }}img/common/error-2x.png'); }
}

.form-error-submit {
padding: 10px;
margin: 15px 0 0 0;
border: 1px solid;
background: #FFE2C5;
border-color: #FF6400;
}

.form-full {
width: 100%;
font-size: 16px;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

.news-summary {
margin: 0;
padding: 10px 0 10px 0;
position: relative;
}

.news-body {
padding-left: 95px;
padding-right: 5px;
overflow: hidden;
}

.news-details {
display: block;
padding: 0;
margin-top: 4px;
overflow: hidden;
white-space: nowrap;
color: #666;
}

.news-details.main {
line-height: 120%;
margin-top: 6px;
}

.news-details a:link, .news-details a:visited, .news-tags, .news-tags a:link, .news-tags a:visited {
color: #666;
}

.news-details form {
display: inline;
margin-left:10px;
padding: 0;
overflow: hidden;
}

.news-details select {
border: 0;
letter-spacing: 0px;
vertical-align: top;
max-width: 6em;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 6px;
border-left-color: #666;
}

.news-details .comments-counter {
padding: 0 6px 0 0;
border-left: none;
font-size: 120%;
}

.comments-counter .counter {
border-radius: 3px;
background-color: #ff6400;
font-size: 9pt;
}

.news-details .comments-counter a:link, .news-details .comments-counter a:visited {
color: #03a;
}

.comments-counter a .counter {
display: inline-block;
line-height: 120%;
margin-right: 0.25em;
}

.comments-counter a:hover .counter {
text-decoration: none;
}


.news-shakeit {
position: absolute;
top: 10px;
left: 8px;
width: 67px;
height: 85px;
border: 1px solid #ffeed6;
font-size: 12px;
color: #ff6400;
text-align: center;
background-clip: padding-box;
border-radius: 3px;
}

.news-shakeit .votes, .news-shakeit .clics {
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABbCAIAAAA9YnhPAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKHBIbEFJ0KpIAAAA7SURBVBjTtY87CgAhFAOH3P+u1jZvbBbWSkGxCiQhH9QAobeAwQoa+ND6+WP9Imv27fRlTz38t9tMgAGM9ZDiUJW8zgAAAABJRU5ErkJggg==');
}

.news-shakeit .votes {
padding: 6px 0 6px;
border: 1px solid #FFF;
border-bottom: 0;
line-height: 1.2em;
background-repeat:repeat-x;
background-position: 0 -2px;
background-clip: padding-box;
border-radius: 3px 3px 0 0;
}
.news-shakeit .votes a {
display: block;
color: #ff6400;
font-size: 18px;
text-decoration: none;
}

.menealo {
position: relative;
left: -6px;
display: inline-block;
width: 78px;
border: 1px solid #ffc098;
background-color: #ff6400;
}

.menealo:hover {
border: 1px solid #ff6400;
}

.menealo a, .menealo span {
display: block;
padding: 2px 0;
height: 18px;
color: #FFF;
text-decoration: none;
border: 1px solid #FFF;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAIAAAC0rgCNAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKHBEpJevxBJkAAAAuSURBVAjXY/h/9wQTw4/PTAw/v0AwjP3jCxPDz89QGorfP2FieHieiYGBgVgMAAfwGZG+FivHAAAAAElFTkSuQmCC') repeat-x;
}

.menealo span {
background-image: none;
border: 1px solid #ff6300;
border-bottom: 1px solid #ff914a;
background: #FFF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAaCAIAAAD5ZqGGAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKHBEpOxH+OfoAAAAvSURBVAjXjYixDQAgDMOsHMh1XJu2KkvFwMRgyTa9l8gQZZEW9Xh6ev59IRrBFwej9x6Vx7fq1wAAAABJRU5ErkJggg==') repeat-x bottom left;
}

.menealo span.negative  {
color: #ccc;
font-size: 11px;
}

.news-shakeit .clics {
padding: 1px 0 2px 0;
border: 1px solid #FFF;
border-top: 0;
font-size: 10px;
background-repeat: repeat-x;
background-position: bottom;
background-clip: padding-box;
border-radius: 0 0 3px 3px;
}

.news-shakeit.mnm-queued {
border: none;
}

.news-shakeit.mnm-subpublished .clics {
background-image: none;
}

.news-shakeit.mnm-queued .votes, .news-shakeit.mnm-queued .clics {
border-color: #FF883D;
background-image: none;
}

.news-shakeit.mnm-discarded {
color: #808080;
border-color: #dfdfdf;
}

.news-shakeit.mnm-discarded .votes a {
color: #808080;
}

.news-shakeit.mnm-discarded .votes, .news-shakeit.mnm-discarded .clics {
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABbCAYAAACyAO8YAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA59AAAOfQGd6VlXAAAAB3RJTUUH3AocDzAgFiPXdAAAACVJREFUGNNj+PPnz3+m////M0AIBgYGDNYASAxFkwfKSkZGRgYAWXimCfMnmFcAAAAASUVORK5CYII=');
}

.bar .menealo a, .bar .menealo span {
font-size: 13px;
padding-bottom: 3px;
text-align: center;
}

.bar .mnm-published, .bar .mnm-queued, .bar .mnm-discarded {
padding: 4px 5px;
color: #ff6400;
}

.bar .mnm-published {
background-color: #ffc098;
}

.bar .mnm-queued {
background-color: #fff;
}

.bar .mnm-discarded {
background-color: #fff;
color: #808080;
}

.news-body h1, .news-body h2 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: normal;
background: none;
border: none;
}

.news-body img.thumbnail {
width: 60px;
height: 60px;
}

.news-submitted {
font-size: 85%;
margin: 0 0 2px 0;
white-space: nowrap;
min-height: 25px;
color: #666;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
color: #3D72C3;
}

.news-submitted .showmytitle {
font-weight: bold;
cursor: pointer;
}

.tab-trackback-url {
font-weight: bold;
font-size: 100%;
color: #FF6400;
}

.tab-trackback {
margin: 0 0;
padding: 0 0 0 5px;
font-weight: normal;
}

.tab-trackback li {
list-style: none;
text-align: left;
padding: 0 0 5px 5px;
margin: 2px;
overflow: hidden;
}

.tab-trackback-entry {
color: #666;
}

.tab-trackback-entry a {
padding: 2px 0 0 20px;
background: url({{ globals.base_static }}img/common/mnu-list-image02.png) no-repeat 0px 4px
}

/* submit form */
#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

.comments {
margin: 10px 5px 0 10px;
}

.notes {
margin: 15px 5px 0 15px;
}

.comments h3 {
margin: 0;
}


.commentform {
width: 100%;
overflow-x: hidden;
padding-right: 2px;
}

.commentform a:link, .commentform a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
color: #FFF;
}

.commentform .submit {
font-weight: bold;
border: 1px dotted;
background: #FF6400;
color: #FFF;
border-color: #FFF;
}

.commentform a:hover {
text-decoration: none;
}

.commentform textarea {
display: block;
width: 99%;
margin: 0 0 10px 0;
}

.commentform label {
font-weight: bold;
font-size: 100%;
}

.commentform.warn {
border: 0;
padding: 5px 0px 5px 0px;
font-weight: bold;
text-align: center;
background: #FF6400;
color: #FFF;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comments-list li.threaded {
margin-bottom: 5px;
}

.comment-body {
padding: 5px 5px 10px 10px;
line-height: 120%;
text-align: left;
overflow: hidden;
min-height: 25px;
background: #FFF1E2;
color: #202020;
border-color: #FF6400;
border-radius: 2px;
}

.threaded .comment-body {
padding: 2px 5px 3px 10px;
}

.comment-body a strong {
color: #FF6400;
}

.comment-body .tooltip {
color: #C85000;
text-decoration: underline;
}

.comment-body.admin, .comment-body.new {
background: #FFD5AD;
color: #000;
}

.comment-body.high {
background: #FFD5AD url({{ globals.base_static }}img/common/comment-high-01.png) 99% 5px no-repeat;
}

.comment-body.user {
border: 1px solid #FFA500;
}

.comment-body.author {
background-color: #EBEDF4;
border-color: #3D72C3;
}

.comment-body.high.author {
background-color: #CAD0E2;
}

.comment-body.hidden {
border: 1px solid #ccc;
padding: 0px 5px 0px 10px;
font-size: 90%;
overflow: hidden;
color: #aaa;
background: #fff;
}

.comment-body a.fancybox {
color: #C85000;
}

.comment-body.hidden a, .comment-body.hidden a strong {
color: #aaa;
}

.comment-body .avatar, #tooltip-text .avatar {
float: left;
margin: 2px 10px 2px 0;
}

.comment-body .thumb, #tooltip-text .thumb {
padding: 1px;
vertical-align: top;
border: 1px solid #ccc;
}

.comment-body img.avatar {
width: 40px;
height: 40px;
}

.comment-body img.thumb.ok {
width: 80px;
height: 80px;
}


.comment-meta {
font-size: 90%;
color: #666;
height: 22px;
margin: 1px 0 15px 0;
white-space: nowrap;
overflow: hidden;
}

.threaded .comment-meta {
margin-bottom: 0;
}

.comment-meta img {
vertical-align: bottom;
}

.comment-meta.hidden, .comment-meta.hidden a {
color: #aaa;
}

.comment-meta a {
font-weight: bold;
}

.news-details span, .news-details div, .comment-votes-info span, .comment-votes-info div, .comment-meta span {
vertical-align: top;
}

.comment-meta .username {
display: inline-block;
margin-left: 5px;
max-width: 14em;
text-overflow: clip;
vertical-align: top;
}

.comment-meta a:hover {
text-decoration: none;
}

.comment-meta img {
border: none;
margin: 0 4px 0 4px;
border-radius: 2px;
}

.comment-meta .vote {
display: inline-block;
width: 16px;
height: 18px;
cursor: pointer;
margin-right: 10px;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat;
background-size: 20px 300px;
}

.comment-meta .vote.right {
margin-left: 10px;
}

.comment-meta .vote.up {
background-position: 0px 0px;
}

.comment-meta .vote.down {
background-position: 0px -20px;
margin-right: 20px;
}

.comment-meta .vote.voted {
cursor: default;
opacity:0.5;
}

.comment-meta .reply {
display: inline-block;
margin: 0 2px 0 6px;
cursor: pointer;
height: 18px;
width: 18px;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat;
background-position: 0px -60px;
background-size: 20px 300px;
}

.favorite {
display: inline-block;
border-radius: 2px;
border: 1px solid #fff;
margin: 0 4px;
cursor: pointer;
height: 18px;
width: 16px;
background: #fff url({{ globals.base_static }}img/common/icons-common.png) no-repeat;
background-size: 20px 300px;
background-position: 0px -101px;
}

.favorite.on {
background-position: 0px -81px;
}

.comment-info {
float: right;
text-align: right;
text-overflow: clip;
}

.comment-info img {
margin: 0 0 0 4px;
width: 20px;
height: 20px;
}

.comment-answers {
margin:-5px 15px 0 40px;
}

.comment-info a {
color: #3D72C3;
}

.comment-votes-info a {
color: #FF9400;
}

.comment-meta .answers {
display: inline-block;
height: 18px;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat 0px -122px;
background-size: 20px 300px;
padding-left: 14px;
cursor: pointer;
padding-top: 4px;
}

.comment-meta .answers .counter {
display: inline-block;
font-size: 9px;
color: #fff;
font-weight: bold;
text-align: center;
min-height: 12px;
min-width: 12px;
background-color: #FFB600;
border-radius: 50%;
}

.comment-meta .votes-counter {
font-weight: bold;
padding: 0 3px 0 3px;
}


.comment-votes-info {
display: block;
float: left;
height: 18px;
max-width: 70%;
overflow: hidden;
}

.comment-votes-info img {
margin-top: 2px;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
background: #FFF;
}

.comments .comment-info select {
font-size: 85%;
}

#tolerance, #tolerance select {
font-size: 85%;
}

.pages {
padding: 10px 0 0 0;
margin: 15px 0 50px 0;
clear: left;
background: #FFFFFF;
font-weight: bold;
}

.pages:after {
content: ".";
display: block;
height: 0;
clear: left;
visibility: hidden;
}

.pages.margin {
margin-left: 90px;
}

.pages a, .pages span {
display: block;
float: left;
padding: 4px 10px 4px 10px;
margin-right: 3px;
color: #FF7D12;
background: #FFF;
}

.pages span.current {
color: #FFF;
background-color: #FF7D12;
border: solid 1px  #FF7D12;
}

.pages span.current a {
}

.pages a {
text-decoration: none;
border: solid 1px  #FF7D12;
}

.pages a:hover {
color: #FFF;
background-color: #FF7D12;
border-color:#FF7D12;
}

.pages span.nextprev {
border: 1px solid #FFE2C5;
color: #FFE2C5;
}


.faq-title {
margin: 0 30px 0 150px;
}

.faq {
margin: 0;
}

.faq ol {
font-weight: bold;
color: #FF6400;
}

.faq ul {
font-weight: normal;
color: #FF6400;
}

.faq h3,
.faq h4 {
font-weight: bold;
font-size: 125%;
color: #FF6400;
}

.faq p {
font-weight: normal;
color: #303030;
}

.genericform h2 {
margin: 10px 0 10px 0;
}

.genericform {
border: 0;
margin: 0 60px 10px 60px;
padding: 0 0 20px 0;
font-weight: bold;
background: #FFF;
color: #FF6400;
}

.genericform .sign {
font-weight: bold;
font-size: 110%;
}

.genericform .genericformtxt {
font-size: 100%;
font-weight: normal;
color: #303030;
}

.genericform textarea {
width: 100%;
}

.geoform {
margin: 5px 0 5px 0;
font-size: 8.5pt;
background: #FFF;
color: #FF6400;
}

.genericform .recoverpass {
font-size: 125%;
color: #FF6400;
}

.genericform .recoverpass a:link, .recoverpass a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
padding-bottom: 1px;
text-decoration: none;
color: #FF6400;
}

.genericform .recoverpass a:hover {
border-bottom-width: 1px;
border-bottom-style: solid;
padding-bottom: 1px;
text-decoration: none;
}

.genericform .formnotice {
font-weight: normal;
color: #303030;
}

.genericform .sign legend {
color: #FF6400;
}

.sneaker {
margin: 0;
}

.mini-sneaker-title strong, .sneaker-title strong {
font-size: 95%;
}

.sneaker-legend {
font-size: 9pt;
text-align: center;
padding: 8px 0 2px 0;
margin: 0;
}

.sneaker-legend img {
margin: 0 25px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid;
padding: 5px 0 5px 0;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-sub, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status, .sneaker-chat-friends, .sneaker-chat-admin {
float: left;
display: block;
}

.sneaker-ts {
width: 6%;
text-align: left;
}

.sneaker-sub {
width: 9%;
font-variant:small-caps;
}

.sneaker-type {
width: 5%;
}

.sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 50%;
text-align: left;
overflow: hidden;
}

.sneaker-chat, .sneaker-chat-friends, .sneaker-chat-admin {
width: 50%;
text-align: left;
overflow: hidden;
}

.sneaker-who {
width: 15%;
text-align: left;
}

.sneaker-who img {
border: 0px solid;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.sneaker-status {
width: 6%;
text-align: right;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
position: relative;
padding: 2px 2px 2px 2px;
float: left;
min-height: 150px;
width: 99%;
overflow: hidden;
border: 1px solid;
margin: 0 0 5px 0;
color: #FF6400;
background: #FFF;
border-color: #FF9400;
}


.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
white-space: nowrap;
padding: 5px 0 5px 0;
}

.friends-item {
float: left;
display: block;
overflow: hidden;
height: 25px;
white-space: nowrap;
width: 24%;
height: 30px;
font-size: 85%;
white-space: nowrap;
}

.friends-item  img,
.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
font-size: 80%;
clear: left;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
color: #FF6400;
}

.mini-pages span.current {
border: 1px solid;
font-weight: bold;
border-color: #FF6400;
background: #FFBE94;
color: #FF6400;
}

.mini-pages span.current a {
padding: 0;
border: 0px;
background: #FFBE94;
color: #FF6400;
}

.mini-pages a {
border: 1px solid;
text-decoration: none;
border-color: #FF6400;
border-color: #FFF;
background: #fff url({{ globals.base_static }}img/common/tabs/tabsub-background.png) bottom left repeat-x;
border: 1px solid;
}

.mini-pages a:hover {
border-color: #FF9400;
background: #FFBE94;
color: #FF6400;
}

#tooltip-text {
border-radius:3px;
text-align: left;
position:absolute;
display:none;
margin: 0;
z-index:10002;
border: 1px solid;
padding: 6px;
font-size: 95%;
overflow: hidden;
width: 40%;
max-height: 45ex;
background: #fbfbfb;
border-color: #aaa;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

.mini-sneaker-item {
margin: 0 5px 0 5px;
width: 99%;
clear: both;
border-bottom: 1px solid;
padding: 2px 0 2px 0;
text-align: center;
overflow: hidden;
border-bottom-color: #FFE2C5;
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-title strong {
color: #FF9400;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 21%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.rich-edit-key {
color: #fff;
font-size: 15px;
text-align: center;
height: 25px;
width: 25px;
margin-left: 5px;
float: right;
}

#addpost {
padding: 0;
margin-top: 0px;
margin-bottom: 10px;
}

.media-icon {
margin-bottom: 0px;
}

.note {
font-size: 85%;
font-weight: normal;
color: #FF9400;
}


@media print {
body { font-size: small }
}


#mDialog_box {
position: absolute;
z-index: 15000;
width: 25%;
min-width: 250px;
height: 18.5ex;
border:1px solid #FF6400;
background: #FFEEC7;
overflow: hidden;
border-radius: 3px;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}

#mDialog_header {
width:100%;
background: url({{ globals.base_static }}img/common/modal-header-bkg01.png) repeat;
color:#fff;
font-weight:bold;
height: 20px;
padding-top: 3px;
font-size: 14px;
}

#mDialog_content {
margin-top: 10px;
padding: 0 5px;
vertical-align: center;
text-align: center;
font-weight: bold;
font-size: 15px;
height: 7ex;
overflow: hidden;
color: #101010;
word-wrap: break-word;
}

#mDialog_options {
margin: 10px;
text-align: center;
}

#mDialog_options button {
margin: 0 15px 0 15px;
padding: 2px 15px;
width: auto;
}

#mDialog_input {
padding: 4px;
width: 60%;
}

#mDialog_close {
float: right;
cursor: pointer;
margin-right: 5px;
}

.semiopaque {
opacity:0.3;
vertical-align:middle;
}

.semiopaque:hover {
opacity:1.0;
}

#header-top #notifier {
display: inline-block;
cursor:pointer;
background:#666;
color:#fff;
font-size:15px;
font-weight:bold;
height:25px;
width:35px;
padding-top: 5px;
text-align:center;
vertical-align: middle;
}

#header-top #notifier:hover{
background:#fff;
color: #f00;
}

#header-top #notifier.nonzero {
background:#f00;
color:#fff;
}


#notifier_panel {
border-radius:3px;
position:fixed;
right:10px;
top:31px;
padding: 2px 2px;
color:#aaa;
background:#fff;
min-width:200px;
border:1px solid #aaa;
text-align: left;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
display: none;
}

#notifier_panel div {
font-size: 14px;
margin: 0;
position: relative;
color:#333;
padding:7px 4px 3px 30px;
margin-bottom:0px;
border-top:1px solid #ddd;
height:24px;
}

#notifier_panel div:first-child {
border-top:none;
}

#notifier_panel div:hover {
background-color:#ddd !important;
}

#notifier_panel div a {
color:#888;
text-decoration: none;
}

#notifier_panel div.privates {
background:url({{ globals.base_static }}img/common/icon_message-02.png) no-repeat 5px 5px;
}

#notifier_panel div.posts {
background:url({{ globals.base_static }}img/common/icon_post-02.png) no-repeat 5px 5px;
}

#notifier_panel div.comments {
background:url({{ globals.base_static }}img/common/icon_comment-01.png) no-repeat 5px 5px;
}

#notifier_panel div.friends {
background:url({{ globals.base_static }}img/common/icon_friend_bi_00.png) no-repeat 5px 5px;
}

.ads-interlinks {
height: 90px;
max-width: 728px;
padding: 0 0 0 95px;;
margin: 10px 0;
white-space:nowrap;
overflow:hidden;
}

.auth-buttons {
margin-top: 20px;
text-align:center;
}

.auth-buttons img {
vertical-align:middle;
margin: 5px 5px 5px 5px;
}

.share_icons {
display: inline;
}

.share_icons span {
display: inline-block;
width: 18px;
height: 18px;
margin: 0 3px;
padding: 0;
opacity:0.6;
cursor:pointer;
vertical-align: text-top;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat;
background-size: 20px 300px;
}

.share_icons span:hover {
opacity:1.0;
}

.share_icons span.fb {
background-position: 0px -180px;
}

.share_icons span.tw {
background-position: 0px -160px;
}

.ts {
display: inline-block;
text-overflow: clip;
}

.ts.visible {
min-width: 2.5em;
}

.comment-meta .ts {
font-size: 90%;
}

a.permalink {
display: inline-block;
height: 18px;
width: 18px;
margin: 0px 4px 0px 4px;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat 0px -40px;
background-size: 20px 300px;
overflow: hidden !important;
color: transparent !important;
}


.droparea_info {
display:inline-block;
vertical-align: bottom;
padding: 0;
}

.droparea_info img {
vertical-align: bottom;
}

.uploadFile {
vertical-align: middle;
}

input.uploadFile {
visibility: hidden;
}

.uploadFile-button {
vertical-align: middle;
margin: 0 16px;
color: #FF6400;
font-weight: bold;
height: 20px;
padding-right: 28px;
background: url({{ globals.base_static }}img/common/upload.png) no-repeat right;
background-size: 28px 20px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.uploadFile-button { background-image:url('{{ globals.base_static }}img/common/upload-2x.png'); }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.comment-meta .vote, .comment-meta .reply, .favorite, .share_icons span, .searchform .searchbox, .comment-meta .answers, a.permalink, #header-top .userlogin, #nav-menu  { background-image:url({{ globals.base_static }}img/common/icons-common-2x.png); }
	#header-top .logo-mnm, #footthingy { background-image:url('{{ globals.base_static }}img/mnm/logos-common-2x.png'); }
}
