#header, #footthingy {
	display: none;
}

#wrap {
	background: #000;
	margin: 0;
	padding: 0;
}

body {
	color: #167805;
	margin: 0;
	padding: 0;
	background: #000;
	font-family: bitstream mono, courier, courier new, mono;
	font-size: small;
}

/* elements */

abbr { cursor: help; }

img {
	opacity:0.3;
	filter:alpha(opacity=30);
}

a, label {
	color: #167805 !important;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #1c9c06 !important;
	text-decoration: underline;
}

a:active {
	color: #1c9c06 !important;
}

form, input {
	font-family: bitstream mono, courier, courier new, mono;
	color: #1c9c06;
	background: #000;
}


/* sneaker */

.sneaker {
	margin: 10px 10px 10px 10px;
}

.sneaker strong {
	font-size: 95%;
	color: #167805;
}

.sneaker-legend {
	color: #167805;
	text-align: center;
	padding: 0 0 5px 0;
	margin: 0px;
	background: #000;
	border-bottom: 1px solid #167805;
	font-size: 10pt;
}

.sneaker-legend img {
	padding: 0 20px 0 5px;
	margin: 0 0 -4px 0;
}

.sneaker-control {
	margin: 0 0 0 0;
}

.sneaker-item {
	width: 100%;
	clear: both;
	border-bottom: 1px solid #167805;
	padding: 5px 0 5px 0;
	text-align: center;
	overflow: hidden;
}

/*
.sneaker-item:hover {
	background-color: #FFE2C5;
}
*/

.sneaker-type img {
	border: none;
	margin: 0 0 0 0;
	vertical-align: middle;
}


.sneaker-chat {
	color: #1c9c06;
	text-align: left;
	overflow: hidden;
	color: #1c9c06;
}

.sneaker-chat a {
	color: #20B007;
}

.sneaker input {
	background: #000;
	margin: 7px 0 2px 0;
	border: 1px solid #167805;
	color: #20B007;
}

.sneaker input.sendmessage {
	border: 1px dotted #167805;
	font-size: 90%;
}
