<table class="table table-condensed">
    {% if user.username %}

    <tr>
        <th>{% trans _('Usuario') %}</th>
        <td>{{ user.username }}  {% if current_user.admin AND nclones %}
            (<a class="fancybox" href="{{ globals.base_url }}backend/ip_clones.php?id={{ user.id }}" title="{% trans _('clones') %}">{% trans _('clones') %}</a><sup>{{ nclones }}</sup>)
            {% endif %}</td>
    </tr>

    {% if friend_icon %}
    <tr>
        <th>{% trans _('Relación') %}</th>
        <td>
            <select onchange="user_relation({{ current_user.user_id }}, {{ user.id }}, this);">
                <option value="0">{% trans _('Sin relación') %}</option>
                <option value="1" {% if user.friendship == 1 %}selected{% endif %}>{% trans _('Amigo') %}</option>
                <option value="-1" {% if user.friendship == -1 %}selected{% endif %}>{% trans _('Ignorado') %}</option>
            </select>

            {{ friend_icon }}
        </td>
    </tr>
    {% endif %}


    {% if url %}
    <tr>
        <th>{% trans _('Sitio web') %}</th>
        <td><a href="{{ url }}" {{ nofollow }}>{{ url }}</a></td>
    </tr>
    {% endif %}

    {% if current_user.admin %}

    <tr>
        <th>{% trans _('Registro') %}</th>
        <td>{{ user.username_register }}</td>
    </tr>

    {% endif %}

    {% if user.id == current_user.user_id OR current_user.admin %}

    <tr>
        <th>{% trans _('ID y Nivel') %}</th>
        <td>{{ user.id }} / {{ user.level }}</td>
    </tr>

    {% endif %}

    {% if user.names %}
    <tr>
        <th>{% trans _('Nombre') %}</th>
        <td>{{ user.names }}</td>
    </tr>
    {% endif %}

    {% endif %}

    {% if show_email %}
    <tr>
        <th>{% trans _('IM/Email') %}</th>
        <td> {{ user.public_info }}</td>
    </tr>
    {% endif %}

    <tr>
        <th>{% trans _('Desde') %}</th>
        <td>{% exec get_date_time user.date %}</td>
    </tr>

    {% if current_user.user_id == user.id OR current_user.user_level == 'god' %}
    <tr>
        <th>{% trans _('Email') %}</th>
        <td>
            {{ user.email }}

            {% if current_user.user_level == 'god' %}
            (<em>{{ user->email_register }}</em>)
            {% endif %}
        </td>
    </tr>
    {% endif %}

    {% if user.id == current_user.user_id OR current_user.user_level == 'god' %}
    <tr>
        <th>{% trans _('Clave API') %}</th>
        <td>
            <a class="fancybox" href="{{ globals.base_url }}backend/get_user_api_key.php?id={{ user.id }}">{% trans _('Ver clave API') %}</a>
            ({% trans _('no la divulgues') %})
        </td>
    </tr>

    {% if user.adcode %}
    <tr>
        <th>{% trans _('Código AdSense') %}</th>
        <td>{{ user.adcode }}</td>
    </tr>

    <tr>
        <th>{% trans _('Canal AdSense') %}</th>
        <td>{{ user.adchannel }}</td>
    </tr>
    {% endif %}

    {% endif %}

    <tr>
        <th>{% trans _('Karma') %}</th>
        <td>
            {{ user.karma }}

            {% if (user.id == current_user.user_id OR current_user.user_level == 'god' OR current_user.user_level == 'admin') && user.karma_log %}
            (<a class="fancybox" href="{{ globals.base_url }}backend/get_karma_numbers.php?id={{ user.id }}">{% trans _('detalle del cálculo') %}</a>)
            {% endif %}
        </td>
    </tr>

    <tr>
        <th>{% trans _('Ranking') %}</th>
        <td>#{% exec user.ranking %}</td>
    </tr>

    {% if user.stats %}

    <tr>
        <th>{% trans _('Noticias enviadas') %}</th>
        <td>{{ user.total_links }}</td>
    </tr>

    {% if entropy %}
    <tr>
        <th>{% trans _('Entropí­a') %}</th>
        <td>{{ entropy }}%</td>
    </tr>
    {% endif %}

    <tr>
        <th>{% trans _('Noticias publicadas') %}</th>
        <td>{{ user.published_links }} ({{ percent }}%)</td>
    </tr>

    <tr>
        <th>{% trans _('Comentarios') %}</th>
        <td>{{ user.total_comments }}</td>
    </tr>

    <tr>
        <th>{% trans _('Notas') %}</th>
        <td>{{ user.total_posts }}</td>
    </tr>

    <tr>
        <th>{% trans _('Número de votos') %}</th>
        <td>{{ user.total_votes }}</td>
    </tr>

    {% endif %}

    {% if user.id == current_user.user_id %}
    <tr>
        <th>{% trans _('IP actual') %}</th>
        <td><span class="label label-default">{{ globals.user_ip }}</span></td>
    </tr>
    {% endif %}

    {% if addresses %}
    <tr>
        <th>{% trans _('Últimas IPs') %}</th>

        <td>
            {% for address in addresses %}
            <span class="label label-default">{{ address }}</span>&nbsp;
            {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>

{% if user.id == current_user.user_id %}
<div class="text-center">
    {% exec print_oauth_icons _REQUEST.return as foo %}
</div>
{% endif %}

{% if (strikes && (user.id == current_user.user_id OR (current_user.user_level === 'god') OR (current_user.user_level === 'admin'))) %}

<h3>{% trans _('Penalizaciones Acumuladas') %}</h3>

{% for strike in strikes %}
<div class="alert alert-danger">
    <p><strong>{% trans _('Penalización / Motivo') %}:</strong> {{ strike.type }} / {{ strike.reason_message }}</p>
    <p><strong>{% trans _('Karma anterior / durante penalización / final') %}:</strong> {{ strike.karma_old }} / {{ strike.karma_new }} / {{ strike.karma_restore }}</p>
    <p><strong>{% trans _('Inicio / Fin') %}:</strong> {{ strike.date }} &raquo; {{ strike.expires_at }}</p>
</div>
{% endfor %}

{% endif %}