/***
All images referenced by the CSS and distributed in the tar file are 
copyrighted by Benjamí Villoslada and published under a CC license: 
http://creativecommons.org/licenses/by-sa/2.5/

Source code was developed by Ricardo Galli, it's published 
under the Affero GPL License (http://meneame.net/COPYING) unless
stated otherwise in individual files.
***/
/* main */

body {
font-family: sans-serif;
margin: 0;
padding: 0;
min-width: 780px;
}

body, td, th, h3 { /* browser differences workaround */
font-size: small;
}

abbr { cursor: help; }

img { vertical-align: middle;}

#logo {
margin: 0;
width: 99px;
height: 100px;
position: absolute;
left: 0px;
top: 0px;
}

#container-wide {
margin-top: 20px;
padding: 0 15px 50px 15px;
overflow: hidden;
}

#container { 
margin: 20px 15px 0 10px;
position: relative;
overflow: hidden;
padding-bottom: 50px;
}

#contents {
position: relative;
margin-left: 14.5em;
padding-left: 0;
padding-right: 0;
} * html #contents {margin-left: 14.25em;}

#sidebar {
float: left;
width: 13.5em;
margin-top: 27px;
}

/* End holygrail */


.tt {
cursor: pointer;
text-decoration: underline;
}

/* tabs */
.tabmain {
height: 28px !important;
padding: 0 0 0 25px; /* distance from tabs boxes: bottom: underline; left: indent  */
margin: 0;
overflow: hidden;
white-space: nowrap;
}

.tabmain li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

.tabmain a:link, .tabmain a:visited {
float: left;
font-size: 125%;
font-weight: bold;
line-height: 22px !important;
font-weight: bold;
padding: 2px 8px 2px 8px;
margin-right: 4px;
border: 1px solid;
text-decoration: none;
}

.tabmain a:link.tabmain-this, .tabmain a:visited.tabmain-this {
border-bottom: 1px solid;
}

/* tabsub specials */

.tabsub-shakeit {
height: 20px !important;
padding: 0px;
margin: 15px 15px 0px 15px;
overflow: hidden;
white-space: nowrap;
}
/** html .tabsub-shakeit {margin-bottom: 30px;}*/ /* Mind the bottom margin, bug in IE6 */

.tabsub-shakeit a:link, .tabsub-shakeit a:visited {
line-height: 15px !important;
float: left;
font-size: 9pt;
padding: 2px 8px 1px 8px;
margin-right: 3px;
text-decoration: none;
border: 1px solid;
}

.tabsub li, .tabsub-shakeit li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

.tabsub-shakeit a:link.tabsub-this, .tabsub-shakeit a:visited.tabsub-this {
font-weight: bold;
border-bottom: 1px solid;
}

.tabsub-shakeit a:link.teaser, .tabsub-shakeit a:visited.teaser {
border: none;
padding: 2px 0 0 0;
margin: 0 0 0 7px;
float: right;
}

.tabsub-shakeit a:hover.teaser {
background: none;
}

.tabsub {
height: 22px !important;
padding: 0 0 0 30px;
margin: 0 0 20px 0; 
overflow: hidden;
}

.tabsub img {
margin: 0;
vertical-align: top;
}

.tabsub a:link, .tabsub a:visited {
float: left;
font-size: 100%;
line-height: 16px !important;
padding: 2px 10px 2px 10px;
margin-right: 4px;
border: 1px solid;
text-decoration: none;
}

.tabsub a:link.tabsub-this, .tabsub a:visited.tabsub-this {
border-bottom: 1px solid;
}

/* h2 without underline */

.topheading h2 {
padding: 10px 0 20px 0;
margin: 0 0 0 20px;
font-size: 160%;
font-weight: normal;
border: none;
}

/* credits */

* html .credits-wrapper { /* IE6 hack for the footer */
float: left;
position: relative;
width: 100%;
padding-bottom: 10000px;
margin-bottom: -10000px;
}

.credits-strip {
width: 100%;
border-top: 1px dotted;
min-height: 55px;
background: url(../../img/common/mnu-bkgsoft04.png) repeat-x bottom left;
white-space: nowrap;
overflow: hidden;
clear: both;
}

.credits-strip-buttons {
margin: 10px 10px 10px 0px;
float: right;
}

.credits-strip-text {
font-size: 85%;
margin: 10px 0px 0px 20px;
float: left;
line-height: 18px;
}

/* elements */

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
}

a:hover, a:focus {
text-decoration: underline;
}

hr {
height: 1px;
border: none;
}

img {
border: none;
}

p {
line-height: 130%;
}

li {
margin-bottom: 16px;
}

form {
margin: 0;
}


h2 {
margin-top: 0;
margin-left: 95px;
margin-bottom: 3px;
font-size: 160%;
font-weight: normal;
color: #FF6400;
border-bottom-width: 1px;
border-bottom-style: dotted;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, div > p, fieldset p {
margin-top: 0;
}

h3 {
margin-top: 0;
margin-bottom: 3px;
font-size: 140%;
font-weight: normal;
}

h4 {
font-size: 100%;
font-weight: bold;
margin-bottom: 3px;
}

table {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
clear: both;
}

table img {
border: 1px solid;
}

th, td {
text-align: left;
font-size: 85%;
padding: 6px;
border-bottom: 1px solid;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid;
}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
text-decoration: none;
border: none;
}

td.count {
font-size: 140%;
text-align: right;
}

.warn {
position: relative;
border: 1px solid;
padding: 3px 10px 3px 30px ;
margin-bottom: 5px;
font-size: 85%;
}

.error {
font-weight: bold;
font-size: 140%;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
}

.error-text {
font-size: 100%;
}

.form-error, .form-error-submit {
font-size: 120%;
font-weight: bold;
margin: 20px 0 0 20px;
padding: 5px 0 0 30px;
}

.form-error-submit {
padding: 10px;
margin: 15px 0 0 0;
border: 1px dotted;
}

.form-act {
font-size: 120%;
font-weight: bold;
padding: 0;
margin: 40px 0 0 150px;
}

.form-full {
width: 100%;
}

.instruction {
margin-bottom: 15px;
}

.instruction div {
padding: 16px;
}

.instruction h3 {
background: none;
margin-top: 20px;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

#header {
padding: 0px;
margin: 0 0 10px 120px;
height: 37px;
white-space: nowrap;
overflow: hidden;
}

.header-left {
margin: 0 0 0 0;
padding-top: 17px;
height: 20px;
width: 16px;
float: left;
}

#header ul {
margin: 0px;
list-style: none;
}

#header li {
float: right;
margin: 8px 0 0 0;
padding: 0;
}

#header li a, #header li a:visited {
float: left;
font-size: 100%;
border-left: 3px solid;
padding: 2px 10px 2px 10px;
}

#header form {
margin: 0;
border-left: 0px solid;
padding: 2px 10px 0 0px;
}

#header form input {
width: 140px;
font-size: 100%;
padding: 1px 3px 0 3px;
border: 1px solid;
margin: -1px 0 0 0;
}

#header .searchIcon, #header .searchIcon:hover {
vertical-align: bottom;
padding: 3px;
height: 12px;
width: 12px;
background: none;
border: none;
}

/* news */

.news-summary {
margin: 0;
padding: 10px 0 0 0;
position: relative;
}

.news-body {
padding-left: 85px;
padding-right: 5px;
}

.news-details {
display: block;
margin: 1px 0 0 0;
padding: 0;
overflow: hidden;
white-space: nowrap;
min-height: 3.5ex;
}

.news-details span {
margin: 0;
vertical-align: top;
}

.news-details img {
margin: 0;
vertical-align: text-bottom;
}

.news-details select {
border: none;
font-size: 90%;
letter-spacing: 0px;
max-width: 7.5em;
vertical-align: top;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 4px;
}

.news-details .comments {
padding: 0 4px 0 0;
border-left: none;
}

/* Counter box */
.news-shakeit {
position: absolute;
top: 10px;
left: 12px;
width: 65px;
text-align: center;
font-size: 8.2pt;
margin: 5px 0 0 0;
padding: 0;
overflow: hidden;
}

.mnm-published a, .mnm-queued a, .mnm-discarded a {
display: block;
font-size: 16pt;
font-weight: normal;
height: 19pt !important;
letter-spacing: -1px;
text-decoration: none;
vertical-align: bottom;
}

.mnm-published {
display: block;
padding: 4px 0 4px 0;
}

.mnm-queued {
display: block;
border: 1px solid;
padding: 4px 0 4px 0;
}

.mnm-discarded {
display: block;
border: 1px solid;
padding: 4px 0 4px 0;
}

/* vote box */

.menealo a {
border: 1px solid;
}

.menealo a, .menealo span {
margin-top: 2px;
display: block;
padding: 4px 0 4px 0;
}

.menealo span {
border: 1px dotted;
}

.news-body h1 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: normal;
background: none;
border: none;
}

.news-body p {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: left;
overflow: hidden;
}

.news-submitted {
font-size: 85%;
margin: 0;
white-space: nowrap;
min-height: 25px;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
}

.news-tags {
font-size: 90%;
margin: 0;
}


/* gravatar */

.news-submitted img {
border: 1px solid;
float: left;
margin-right: 4px;
vertical-align: bottom;
}

/* side menu */
#sidebar ul {
margin-left: 0; /* IE bug */
}

.mnu-meneria li, .mnu-tools li, .mnu-rss li {
margin: 0;
padding: 0;
}

.mnu-faq {
border: none;
border-top: 1px solid;
font-size: 90%;
padding: 10px 4px 10px 4px;
}

.mnu-faq a {
text-decoration: underline;
}

/*
All boxes:
- margin top: 15; margen bottom: 5
- padding bottom: 5; padding left 3
*/

.mnu-submit {
margin: 0 0 5px 0;
padding: 10px 0 5px 0;
text-align: left;
font-size: 120%;
border-top: 1px solid;
border-bottom: 1px solid;
font-weight: bolder;
}

.mnu-sneak {
margin: 0 0 5px 0;
padding: 10px 0 5px 0;
text-align: left;
font-size: 120%;
border-bottom: 1px solid;
font-weight: bolder;
}

.mnu-notame {
margin: 0 0 5px 0;
padding: 10px 0 5px 0;
text-align: left;
font-size: 120%;
border-bottom: 1px solid;
font-weight: bolder;
}


.mnu-submit a, .mnu-sneak a, .mnu-notame a, .mnu-bugs a, .mnu-menedising a, .mnu-meneria a, .mnu-tools a {
padding-left: 15px;
}

.mnu-bugs, .mnu-menedising {
margin: 0 0 5px 0;
padding: 15px 0 5px 3px;
text-align: left;
font-size: 100%;
}

.mnu-meneria, .mnu-tools {
margin: 15px 0 5px 0;
padding: 0 0 5px 3px;
list-style: none;
text-align: left;
font-size: 100%;
/*white-space: nowrap;*/
}

.mnu-rss {
margin: 15px 0 5px 0;
padding: 0 0 5px 5px;
list-style: none;
text-align: left;
font-size: 100%;
overflow: hidden;
}

.mnu-rss a {
padding-left: 16px;
}

li.mnu-rss-external {
padding-top:7px;
padding-bottom: 3px;
text-align: center;
}

li.mnu-rss-external a {
padding-left: 0px;
}

/* trackback */

.tab-trackback-url {
font-weight: bold;
font-size: 100%;
}

.tab-trackback {
margin: 0 0;
padding: 0 0 0 5px;
font-size: 90%;
font-weight: normal;
}

.tab-trackback li {
list-style: none;
text-align: left;
padding: 0 0 5px 5px;
margin: 2px;
overflow: hidden;
}

.tab-trackback-entry a {
padding: 2px 0 0 20px;
}

.tab-trackback-technorati a, .tab-trackback-google a, .tab-trackback-askcom a {
padding: 5px 0 2px 20px;
}

/* categories */

.catsub-block {
margin: 0px 15px 0px 15px;
padding: 1px 0 0 0;
border-bottom: 1px solid;
border-right: 1px solid;
border-left: 1px solid;
}

.catsub-block ul {
padding: 5px;
margin: 0px;
}

.catsub-block li {
display: inline;
font-size: 85%;
list-style-type: none;
overflow: hidden;
}

.catsub-block .thiscat {
font-weight: bold;
font-size: 95%;
}

dl.categorylist {
float: left;
width: auto;
min-width: 20%;
margin-right: 8px;
padding-bottom: 5px;
font-size: 85%;
}

dl.categorylist dt {
float: none;
width: auto;
text-align: left;
font-size: 120%;
font-weight: bold;
}

/* Right column boxes */
.vertical-box {
width: 100%;
font-size: 8.5pt;
margin: 15px 0 10px 0;
padding-bottom: 10px;
overflow: hidden;
letter-spacing: 0px;
border-bottom: 1px solid;
}

.vertical-box.center {
text-align: center;
}

.vertical-box ul {
list-style: none;
padding: 0;
margin: 0;
}

.vertical-box ul li{
line-height: 9pt;
margin-bottom: 7px;
}

.vertical-box h4, .vertical-box h4 a {
margin: 0 0 10px 0;
text-align: center;
font-size: 10pt;
font-weight: bolder;
border-bottom: none;
}

/* submit form */

#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

/* comments [& incipient notes] */

.comments {
margin: 25px 5px 0 10px;
}

.notes {
margin: 15px 5px 0 15px;
}

.comments h3 {
margin: 0;
}


.commentform a:link, .commentform a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
}

.commentform .submit {
font-weight: bold;
border: 1px dotted;
}

.commentform a:hover {
text-decoration: none;
}

.commentform textarea {
display: block;
width: 90%;
border: 1px dotted;
margin: 0 0 10px 0;
}

.commentform label {
font-weight: bold;
font-size: 100%;
}

.commentform.warn {
border: 0;
padding: 5px 0px 5px 0px;
font-weight: bold;
text-align: center;
}

.comments-warning {
font-size: 100%;
margin: 0;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {
padding: 5px 50px 5px 10px;
line-height: 130%;
overflow: hidden;
border: 1px dotted;
min-height: 25px;
}

.comment-body-hidden {
border: 1px dotted;
padding: 3px 50px 3px 10px;
font-size: 90%;
overflow: hidden;
}

.comment-body-hidden a {
font-size: 90%;
}

.comment-body strong {
font-weight: bold;
}

.comment-body img {
vertical-align: bottom;
border: 0px;
}

.comment-body .avatar {
float: left;
margin: 2px 10px 2px 0;
} * html .comment-body .avatar { float:none; vertical-align: baseline;}

.comment-meta, .comment-meta-hidden {
font-size: 85%;
line-height: 160%;
padding: 0 0px 5px 0;
}

.comment-meta a {
font-weight: bold;
}

.comment-info {
text-align: right;
}

.comment-votes-info {
float: left;
display: inline;
}

.comment-votes-info img {
border: none;
margin: 0 4px 0 0;
vertical-align: middle;
}

.comment-info img {
border: none;
margin: 1px 0 0 4px;
vertical-align: middle;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
}

.comments .comment-info select {
font-size: 85%;
}

#tolerance, #tolerance select {
font-size: 85%;
}

/* fieldsets */

fieldset {
border: 1px solid;
padding: 10px 10px;
margin: 10px 0;
}
 /* only for IE */ * html fieldset {
background: none;
}

legend {
font-weight: bold;
padding: 0 5px;
}

fieldset dl {
margin: 0;
padding: 0;
}

fieldset dt {
clear: left;
float: left;
width: 12em; /* increase for wider dt text */
text-align: right;
padding: 0 10px 4px 0;
}

fieldset dd {
padding: 0 0 4px 0;
font-weight: bold;
}

label {
font-weight: bold;
}

fieldset.labels label {
width: 160px;
float: left;
text-align: right;
display: block;
padding: 3px 8px 3px 0;
}

fieldset.labels div {
padding: 3px 0;
clear: left
}

/* gravatar */

.thumbnail {
border: 1px solid;
overflow: hidden;
float: right;
}

/* pagination */

.pages, .pages-margin {
padding: 10px 0 0 0;
border-top: 1px dotted;
margin: 20px 0 50px 0;
clear: left;
font-size: 90%;
}

.pages-margin {
margin-left: 90px;
}

.pages a, .pages span, .pages-margin a, .pages-margin span {
display: block;
float: left;
padding: 5px 7px 5px 7px;
margin-right: 3px;
border: 1px solid;
}

.pages span.current, .pages-margin span.current {
border: 1px solid;
font-weight: bold;
}

.pages span.current a, .pages-margin span.current a {
padding: 0;
border: 0px;
}

.pages a, .pages-margin a {
border: 1px solid;
text-decoration: none;
}

.pages a.nextprev, .pages-margin a.nextprev {
font-weight: bold;
}

.pages span.nextprev, .pages-margin span.nextprev {
border: 1px solid;
}

/* faq page */

.faq-title {
margin: 0 30px 0 150px;
}

#faq-contents {
margin: 0 30px 75px 150px;
}

#faq-contents ol {
font-weight: bold;
}

#faq-contents ul {
font-weight: normal;
}

#faq-contents h4 {
font-weight: bold;
font-size: 125%;
}

#faq-contents p {
font-weight: normal;
}

/* generic form and wide page */

#genericform-contents {
margin: 0 60px 60px 100px;
}

#genericform-contents h2 {
margin: 10px 0 0 0;
}

#genericform fieldset, #genericform-contents fieldset {
border: 1px solid;
}

#genericform {
border: 0;
margin: 0;
padding: 0 0 20px 0;
font-weight: bold;
}

#genericform .sign, #genericform-contents legend {
font-weight: bold;
font-size: 110%;
}

#genericform .genericsubmit {
border: 1px solid;
font-weight: bold;
}

#genericform .genericsubmit:hover {
font-weight: bold;
}

#genericform input {
border: 1px solid;
}

#genericform .nobold {
font-weight: normal;
}

#genericform .genericformtxt {
font-size: 100%;
font-weight: normal;
}

#genericform .genericformnote {
font-size: 85%;
font-weight: normal;
}

#genericform textarea {
width: 100%;
height: 128px;
border: 1px solid;
}

.geoform {
margin: 5px 0 5px 0;
font-size: 8.5pt;
}

/* generic form: login page specials */

#genericform .recoverpass {
font-size: 125%;
}

#genericform .recoverpass a:link, .recoverpass a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
padding-bottom: 1px;
text-decoration: none;
}

#genericform .recoverpass a:hover {
border-bottom-width: 1px;
border-bottom-style: solid;
padding-bottom: 1px;
text-decoration: none;
}

#genericform .formnotice {
font-weight: normal;
}

/* image forms */

.tc {
margin: 5px 0 5px 0;
}

/* shakeit page search form */

.shakeit-form {
margin: 5px 0 5px 0;
}

.shakeit-form-input {
width: 65%;
border: 1px solid;
margin-right: 5px;
}

.shakeit-form-submit {
border: 1px dotted;
padding: 1px 0 1px 0;
}

.shakeit-form label {
font-weight: normal;
font-size: 140%;
}

/* top banner */

.banner-01 {
margin: 0 0 0 130px;
width: 730px;
height: 90px;
}

.banner-block {
margin: 20px 0 15px 130px;
width: 730px;
height: 15px;
}

.banner-story {
width: 468px;
height: 60px;
margin: 0 auto;
margin-bottom: 30px;
}

.banner-story-2 { /* used when coming from search */
width: 300px;
height: 250px;
margin: 0 auto;
margin-bottom: 25px;
}

.banner-right {
width: 100%;
height: 100px;
margin-bottom: 15px;
padding: 5px;
}

.sneaker {
margin: 0;
}

.mini-sneaker-title strong, .sneaker-title strong {
font-size: 95%;
}

.sneaker-legend {

text-align: center;
padding: 3px 0 5px 0;
margin: 0px;
border-bottom: 1px solid;
}

.sneaker-legend img {
margin: 0 25px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid;
padding: 5px 0 5px 0;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status {
float: left;
display: block;
}

.sneaker-ts {
width: 7%;
text-align: left;
}

.sneaker-type {
width: 7%;
}

.sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 53%;
text-align: left;
}

.sneaker-chat {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-who {
width: 16%;
text-align: left;
}

.sneaker-who img {
border: 0px solid;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.sneaker-status {
width: 8%;
text-align: right;
}

.sneaker input {
margin: 7px 0 2px 0;
border: 1px solid;
font-size: 90%;
}

.sneaker input.sendmessage {
border: 1px solid;
font-size: 90%;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
position: relative;
padding: 2px 2px 2px 2px;
float: left;
width: 99%;
overflow: hidden;
height: 150px;
border: 1px solid;
margin: 0 0 5px 0;
}


.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
}

.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
clear: left;
font-size: 80%;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
border: 1px solid;
}

.mini-pages span.current {
border: 1px solid;
font-weight: bold;
}

.mini-pages span.current a {
padding: 0;
border: 0px;
}

.mini-pages a {
border: 1px solid;
text-decoration: none;
}

/* classes for bar diagrams */ 
.bars {
margin: 25px 0 0 25px;
clear: left;
}

.bars-list {
clear: left;
position: relative;
padding: 2px 2px 2px 2px;
float: left;
width: 99%;
margin: 0 0 5px 8px;
font-size: 80%;
}

.bars-list .bar-container {
float: left;
display: block;
width: 64%;
height: 25px;
font-size: 8pt;
}

.bars-list .item, .bars-list .item-wider {
float: left;
display: block;
overflow: hidden;
width: 35%;
height: 25px;
white-space: nowrap;
}

.bars-list .item-wider {
width: 48%;
height: 30px;
}

.bars-list img {
border: 0px;
margin-right: 5px;
margin-left: 8px;
}

.item a {
text-decoration: none;
}

#tooltip-shadow {
position:absolute;
visibility:hidden;
z-index:9999;
margin: 0;
padding: 0;
background: url(../../img/common/shadow.png) no-repeat bottom right !important;
background: url(../../img/common/shadow.gif) no-repeat bottom right; 
}
 
#tooltip-text {
position:absolute;
visibility:hidden;
margin: 0;
z-index:10000;
border: 1px solid;
padding: 10px;
font-size: 90%;
overflow: hidden;
width: 38em;
max-height: 40ex;
}

.news-websnapr {
border: 1px solid;
float: right;
margin: 0 0 5px 5px;
vertical-align: bottom;
}

.mini-sneaker-item {
margin: 0 5px 0 5px;
width: 99%;
clear: both;
border-bottom: 1px solid;
padding: 2px 0 2px 0;
text-align: center;
overflow: hidden;
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 24%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.bookmarks-export-user-stories {
margin-left: 30px;
}

.bookmarks-export-user-commented {
margin-left: 0px;
}

.rich-edit-key {
margin-left: 3px;
margin-bottom: 3px;
float: right;
}

#addpost {
padding: 0;
margin-top: 0px;
margin-bottom: 10px;
}

