/***** Compress with http://www.cleancss.com/ a mnmxxx.css ****/
/***
All images referenced by the CSS and distributed in the tar file are 
copyrighted by Benjamí Villoslada and published under a CC license: 
http://creativecommons.org/licenses/by-sa/2.5/

Source code was developed by Ricardo Galli, it's published 
under the Affero GPL License (http://meneame.net/COPYING) unless
stated otherwise in individual files.
***/
/* main */

body {
font-family: sans-serif;
color: #303030;
margin: 0;
padding: 0;
background: #FFF;
min-width: 920px;
}

body, td, th, h3 { /* browser differences workaround */
font-size: small;
}

abbr { cursor: help; }

img { vertical-align: middle;}

#logo {
margin: 0;
width: 99px;
height: 100px;
position: absolute;
left: 0px;
top: 0px;
}

#container-wide {
margin-top: 20px;
padding: 0 15px 50px 15px;
overflow: hidden;
}

#container { 
margin: 20px 15px 0 15px;
position: relative;
overflow: hidden;
background: url(../../img/common/pixel-ff6400.png) 14.5em top repeat-y;
padding-bottom: 50px;
}

#contents {
position: relative;
margin-left: 14.5em;
padding-left: 0;
padding-right: 0;
} * html #contents {margin-left: 14.25em;}

#sidebar {
float: left;
width: 13.5em;
margin-top: 27px;
}

/* End holygrail */


.tt {
cursor: pointer;
text-decoration: underline;
color: #C85000;
}

/* tabs */
.tabmain {
height: 28px !important;
padding: 0 0 0 25px; /* distance from tabs boxes: bottom: underline; left: indent  */
margin: 0;
background: #fff url(../../img/common/pixel-ff6400.png) repeat-x bottom;
overflow: hidden;
white-space: nowrap;
}

.tabmain li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

.tabmain a:link, .tabmain a:visited {
float: left;
font-size: 125%;
font-weight: bold;
line-height: 22px !important;
font-weight: bold;
padding: 2px 8px 2px 8px;
margin-right: 4px;
border: 1px solid #ff6400;
text-decoration: none;
background: #FFF url(../../img/common/tabs/tabmain-background.png) bottom left repeat-x; /* gradient background */
color: #FF6400;
}

.tabmain a:link.tabmain-this, .tabmain a:visited.tabmain-this {
border-bottom: 1px solid #fff;
color: #FF6400;
background: #fff url(../../img/common/reload-tab-margin-01.png) right center no-repeat;
}

.tabmain a:hover {
background: #fff;
}


/* tabsub specials */

.tabsub-shakeit {
height: 20px !important;
padding: 0px;
margin: 15px 15px 0px 15px;
background: #fff url(../../img/common/pixel-ff9400.png) repeat-x bottom;
overflow: hidden;
white-space: nowrap;
}
/** html .tabsub-shakeit {margin-bottom: 30px;}*/ /* Mind the bottom margin, bug in IE6 */

.tabsub-shakeit a:link, .tabsub-shakeit a:visited {
line-height: 15px !important;
float: left;
font-size: 9pt;
padding: 2px 8px 1px 8px;
margin-right: 3px;
text-decoration: none;
color: #FF9400;
border: 1px solid #FF9400;
}

.tabsub li, .tabsub-shakeit li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

.tabsub-shakeit a:link.tabsub-this, .tabsub-shakeit a:visited.tabsub-this {
font-weight: bold;
border-bottom: 1px solid #FFF;
}

.tabsub-shakeit a:link.teaser, .tabsub-shakeit a:visited.teaser {
border: none;
padding: 2px 0 0 0;
margin: 0 0 0 7px;
float: right;
}

.tabsub-shakeit a:hover.teaser {
background: none;
}

.tabsub-shakeit a:hover {
background: #FF9400;
color: #FFF;
}

.tabsub {
height: 22px !important;
padding: 0 0 0 30px;
margin: 0 0 20px 0; 
background: url(../../img/common/pixel-ff6400.png) repeat-x bottom;
overflow: hidden;
}

.tabsub img {
margin: 0;
vertical-align: top;
}

.tabsub a:link, .tabsub a:visited {
float: left;
font-size: 100%;
line-height: 16px !important;
padding: 2px 10px 2px 10px;
margin-right: 4px;
border: 1px solid #ff6400;
text-decoration: none;
background: #FFF url(../../img/common/tabs/tabsub-background.png) bottom left repeat-x; /* gradient background */
color: #FF6400;
}

.tabsub a:link.tabsub-this, .tabsub a:visited.tabsub-this {
border-bottom: 1px solid #fff;
color: #FF6400;
background: #fff;
}

.tabsub a:hover {
background: #fff;
}

/* h2 without underline */

.topheading h2 {
padding: 10px 0 20px 0;
margin: 0 0 0 20px;
font-size: 160%;
font-weight: normal;
color: #FF6400;
border: none;
}

/* credits */

* html .credits-wrapper { /* IE6 hack for the footer */
float: left;
position: relative;
width: 100%;
padding-bottom: 10000px;
margin-bottom: -10000px;
}

.credits-strip {
width: 100%;
border-top: 1px dotted #FF6400;
min-height: 55px;
background: url(../../img/common/mnu-bkgsoft04.png) repeat-x bottom left;
white-space: nowrap;
overflow: hidden;
clear: both;
}

.credits-strip-buttons {
margin: 10px 10px 10px 0px;
float: right;
}

.credits-strip-text {
color: #FF6400;
font-size: 85%;
margin: 10px 0px 0px 20px;
float: left;
line-height: 18px;
}

.credits-strip a:link, .credits-strip a:visited {
color: #FF6400;
}

/* elements */

a {
color: #03A;
text-decoration: none;
outline: none;
vertical-align: baseline;
}

a:hover, a:focus {
color: #FF6400;
text-decoration: underline;
}

a:active {
color: #000;
}

hr {
height: 1px;
background: #ccc;
border: none;
}

img {
border: none;
}

p {
line-height: 130%;
}

li {
margin-bottom: 16px;
}

form {
margin: 0;
}


h2 {
margin-top: 0;
margin-left: 95px;
margin-bottom: 3px;
font-size: 160%;
font-weight: normal;
color: #FF6400;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #FF6400;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, div > p, fieldset p {
margin-top: 0;
}

h3 {
margin-top: 0;
margin-bottom: 3px;
font-size: 140%;
font-weight: normal;
}

h4 {
font-size: 100%;
font-weight: bold;
margin-bottom: 3px;
}

table {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
clear: both;
}

table img {
border: 1px solid #ccc;
}

th, td {
text-align: left;
font-size: 85%;
padding: 6px;
border-bottom: 1px solid #ddd;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid #FFF;
}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid #000;
background: #FFF;
}

tr:hover td {
background: #FFE2C5;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
color: #a00;
text-decoration: none;
border: none;
}

td.count {
font-size: 140%;
text-align: right;
}

.warn {
position: relative;
background: #FEFBEA url(../../img/common/error_s.png) 5px 50% no-repeat;
border: 1px solid #C4C400;
padding: 3px 10px 3px 30px ;
border: 1px solid #FF9400;
margin-bottom: 5px;
font-size: 85%;
}

.error {
color: #FF6400;
font-weight: bold;
font-size: 140%;
background: url(../../img/common/error.png) no-repeat;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
}

.error-text {
color: #FF9400;
font-size: 100%;
}

.form-error, .form-error-submit {
color: #FF5900;
font-size: 120%;
font-weight: bold;
margin: 20px 0 0 20px;
padding: 5px 0 0 30px;
background: url(../../img/common/error.png) 0 50% no-repeat;
}

.form-error-submit {
padding: 10px;
margin: 15px 0 0 0;
background: #FFE2C5;
border: 1px dotted #FF6400;
}

.form-act {
color: #FF5900;
font-size: 120%;
font-weight: bold;
padding: 0;
margin: 40px 0 0 150px;
}

.form-full {
width: 100%;
}

.instruction {
margin-bottom: 15px;
color: #2C3D4E;
}

.instruction div {
padding: 16px;
}

.instruction h3 {
background: none;
margin-top: 20px;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

#header {
padding: 0px;
margin: 0 0 10px 120px;
height: 37px;
color: #FFF;
background: url(../../img/common/heading-background-01.png) repeat-x bottom;
white-space: nowrap;
overflow: hidden;
}

.header-left {
margin: 0 0 0 0;
padding-top: 17px;
height: 20px;
width: 16px;
float: left;
background: url(../../img/common/tri01.png) left bottom no-repeat;
}

#header ul {
margin: 0px;
list-style: none;
}

#header li {
float: right;
margin: 8px 0 0 0;
padding: 0;
}

#header li a, #header li a:visited {
color: #FFF;
float: left;
font-size: 100%;
border-left: 3px solid #FF9400;
padding: 2px 10px 2px 10px;
}

#header form {
margin: 0;
border-left: 0px solid #FF9400;
padding: 2px 10px 0 0px;
}

#header form input {
width: 140px;
font-size: 100%;
color: #FF6400;
padding: 1px 3px 0 3px;
background: #FFD6BB;
border: 1px solid #FF9400;
margin: -1px 0 0 0;
}

#header form input:hover {
background: #FFF;
color: #FF6400;
}

/* news */

.news-summary {
margin: 0;
padding: 20px 0 0 0;
position: relative;
}

.news-body {
padding-left: 85px;
padding-right: 5px;
}

.news-details {
color: #FF6400;
display: block;
margin: 1px 0 0 0;
padding: 0;
overflow: hidden;
white-space: nowrap;
min-height: 3.5ex;
}

.news-details span {
margin: 0;
vertical-align: top;
}

.news-details img {
margin: 0;
vertical-align: text-bottom;
}

.news-details a:link, .news-details a:visited {
color: #FF9400;
}

.news-details select {
background: #FFF;
border: none;
color: #FF9400;
font-size: 90%;
letter-spacing: 0px;
max-width: 7.5em;
vertical-align: top;
}

.news-details .tool {
display: inline;
border-left: 1px solid #FF6400;
padding: 0 4px 0 4px;
}

.news-details .comments {
padding: 0 4px 0 0;
border-left: none;
}

/* Counter box */
.news-shakeit {
position: absolute;
top: 20px;
left: 12px;
width: 65px;
text-align: center;
font-size: 8.2pt;
margin: 5px 0 0 0;
padding: 0;
overflow: hidden;
}

.mnm-published a, .mnm-queued a, .mnm-discarded a {
display: block;
font-size: 16pt;
font-weight: normal;
height: 19pt !important;
letter-spacing: -1px;
text-decoration: none;
vertical-align: bottom;
}

.mnm-published a:hover, .mnm-queued a:hover, .mnm-discarded a:hover {
color: #03A;
}

.mnm-published, .mnm-published a {
color: #FFF;
}

.mnm-published {
display: block;
background: #FF6400 url(../../img/common/elmnm-p03.png) top left no-repeat;
padding: 4px 0 4px 0;
}

.mnm-queued, .mnm-queued a {
color: #FF6400;
}

.mnm-queued {
display: block;
background: #FFF url(../../img/common/elmnm-p03a.png) top left no-repeat;
border: 1px solid #FF6400;
padding: 4px 0 4px 0;
}

.mnm-discarded, .mnm-discarded a {
color: #FFF;
}

.mnm-discarded {
display: block;
background: #D9AA95 url(../../img/common/elmnm-p03b.png) top left no-repeat;
border: 1px solid #D9AA95;
padding: 4px 0 4px 0;
}

/* vote box */
.menealo {
background-color: #fff;
}

.menealo a {
background: url(../../img/common/menealo-background.png) bottom left repeat-x;
border: 1px solid #FFCBAA;
}

.menealo a, .menealo span {
margin-top: 2px;
display: block;
padding: 4px 0 4px 0;
color: #FF6400;
}

.menealo span {
border: 1px dotted #FF6400;
}

.news-body h1 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: normal;
background: none;
border: none;
}

.news-body p {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: left;
overflow: hidden;
}

.news-submitted {
color: #666;
font-size: 85%;
margin: 0;
white-space: nowrap;
min-height: 25px;
}

.news-submitted a:link, .news-submitted a:visited {
color: #666;
font-weight: bold;
}

.news-tags {
color: #666;
font-size: 90%;
margin: 0;
}


/* gravatar */

.news-submitted img {
border: 1px solid #FFE2C5;
float: left;
margin-right: 4px;
vertical-align: bottom;
}

/* side menu */
#sidebar ul {
margin-left: 0; /* IE bug */
}

.mnu-meneria li, .mnu-tools li, .mnu-rss li, .mnu-trackback li {
margin: 0;
padding: 0;
}

.mnu-faq {
border: none;
border-top: 1px solid #FFE2C5;
border-bottom: 1px solid #FFE2C5;
font-size: 90%;
color: #FF6400;
padding: 10px 4px 5px 4px;
}

.mnu-faq a {
color: #FF9400;
text-decoration: underline;
}

/*
All boxes:
- margin top: 15; margen bottom: 5
- padding bottom: 5; padding left 3
*/

.mnu-submit {
margin: 0 0 5px 0;
padding: 15px 0 5px 0;
text-align: left;
font-size: 120%;
color: #FF6400;
border-bottom: 1px solid #FFE2C5;
font-weight: bolder;
background: url(../../img/common/mnu-submit01.png) right bottom no-repeat;
}

.mnu-submit a, .mnu-sneak a, .mnu-bugs a, .mnu-menedising a, .mnu-meneria a, .mnu-tools a, .mnu-trackback a {
color: #FF6400;
background: url(../../img/common/mnu-list-image01.png) no-repeat 2px 4px;
padding-left: 15px;
}

.mnu-sneak {
margin: 0 0 5px 0;
padding: 15px 0 5px 0;
text-align: left;
font-size: 120%;
color: #FF6400;
border-bottom: 1px solid #FFE2C5;
font-weight: bolder;
background: url(../../img/common/elmnm-sneak01.png) right bottom no-repeat;
}

.mnu-bugs, .mnu-menedising {
margin: 0 0 5px 0;
padding: 15px 0 5px 3px;
text-align: left;
font-size: 100%;
color: #FF6400;
background: url(../../img/common/mnu-bkgsoft02.png) bottom left repeat-x;
}

.mnu-meneria, .mnu-tools, .mnu-trackback {
margin: 15px 0 5px 0;
padding: 0 0 5px 3px;
list-style: none;
text-align: left;
font-size: 100%;
color: #FF6400;
/*white-space: nowrap;*/
background: #FFF url(../../img/common/mnu-bkgsoft01.png) bottom left repeat-x;
}

.mnu-trackback {
overflow: hidden;
}

.mnu-rss {
margin: 15px 0 5px 0;
padding: 0 0 5px 5px;
list-style: none;
text-align: left;
font-size: 100%;
color: #FF6400;
border-bottom: 1px solid #FFE2C5;
background: #FFF url(../../img/common/mnu-bkgsoft01.png) bottom left repeat-x;
}

.mnu-rss a {
color: #FF6400;
background: url(../../img/common/feed-icon-12x12.png) no-repeat 0px 2px;
padding-left: 16px;
}

.mnu-trackback li {
list-style: none;
text-align: left;
font-weight: bold;
padding: 0 0 5px 5px;
margin: 0;
}

/* backgrounds */

.mnu-trackback-entry a {
background: url(../../img/common/mnu-list-image02.png) no-repeat 0px 4px;
padding: 0 0 0 16px;
}

.mnu-trackback-technorati a {
background: url(../../img/favicons/technorati.png) no-repeat 0px 4px;
padding: 5px 0 2px 20px;
}

.mnu-trackback-google a {
background: url(../../img/favicons/google.png) no-repeat 0px 4px;
padding: 5px 0 2px 20px;
}

.mnu-trackback-askcom a {
background: url(../../img/favicons/ask.gif) no-repeat 0px 4px;
padding: 5px 0 2px 20px;
}


.mnu-trackback-list {
padding-left: 10px;
font-size: 90%;
font-weight: normal;
}

/* categories */

.catsub-block {
margin: 0px 15px 0px 15px;
padding: 1px 0 0 0;
color: #FF9400;
border-bottom: 1px solid #FF9400;
border-right: 1px solid #FF9400;
border-left: 1px solid #FF9400;
}

.catsub-block ul {
padding: 5px;
margin: 0px;
}

.catsub-block li {
display: inline;
font-size: 85%;
list-style-type: none;
overflow: hidden;
}

.catsub-block a:link, .catsub-block a:visited {
color: #FF9400;
}

.catsub-block .thiscat {
font-weight: bold;
font-size: 95%;
}

dl.categorylist {
float: left;
width: auto;
min-width: 20%;
margin-right: 8px;
padding-bottom: 5px;
font-size: 85%;
}

dl.categorylist dt {
	float: none;
	width: auto;
	text-align: left;
	font-size: 120%;
	font-weight: bold;
}

/* Right column boxes */
.vertical-box {
width: 100%;
font-size: 8.5pt;
background: url(../../img/common/mnu-bkgsoft02-inv.png) top left repeat-x;
margin-bottom: 30px;
overflow: hidden;
letter-spacing: 0px;
}

.vertical-box a {
color: #8397DA;
}

.vertical-box.center {
text-align: center;
}

.vertical-box ul {
list-style: none;
padding: 0;
margin: 0;
}

.vertical-box ul a {
color: #666;
}

.vertical-box ul li{
line-height: 9pt;
margin-bottom: 7px;
}

.vertical-box h4, .vertical-box h4 a {
margin: 0 0 10px 0;
text-align: center;
font-size: 10pt;
color: #FF6400;
font-weight: bolder;
border-bottom: none;
}

/* submit form */

#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

/* comments */

.comments {
margin: 25px 5px 0 10px;
}

.comments h3 {
margin: 0;
}

.comments .commentform {
border: 0;
padding: 5px 0px 5px 0px;
background: #FF6400;
color: #FFF;
font-weight: bold;
}

.comments .commentform a:link, .commentform a:visited {
color: #FFF;
border-bottom-width: 1px;
border-bottom-style: dotted;
}

.comments .submitcomment {
background: #FF6400;
color: #FFF;
font-weight: bold;
border: 1px dotted #FFF;
}

.comments .commentform a:hover {
text-decoration: none;
}

.comments textarea {
width: 100%;
border: 1px dotted #FF9400;
background: #FFE2C5 url(../../img/common/comment-input.png) left bottom no-repeat;
color: #303030;
margin: 0 0 10px 0;
}

.comments label {
color: #FF6400;
font-weight: bold;
font-size: 100%;
}

.comments-warning {
font-size: 100%;
margin-bottom: 0;
color: #9B0000;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {
background: #FFE2C5 url(../../img/common/comment.png) right bottom no-repeat;
padding: 5px 50px 5px 10px;
color: #303030;
line-height: 130%;
overflow: hidden;
border: 1px dotted #FF6400;
min-height: 25px;
}

.comment-body-hidden {
border: 1px dotted #aaa;
padding: 3px 50px 3px 10px;
font-size: 90%;
color: #aaa;
overflow: hidden;
}

.comment-body-hidden a {
color: #aaa;
font-size: 90%;
}

.comment-body strong {
color: #FF6400;
font-weight: bold;
}

.comment-body span strong {
color: #000;
}

.comment-body img {
vertical-align: bottom;
border: 0px;
}

.comment-meta, .comment-meta-hidden {
font-size: 85%;
line-height: 160%;
color: #FF6400;
padding: 0 0px 5px 0;
}

.comment-meta-hidden, .comment-meta-hidden a {
color: #aaa;
}

.comment-meta a {
color: #FF9400;
font-weight: bold;
}

.comment-info {
text-align: right;
}

.comment-votes-info {
float: left;
display: inline;
}

.comment-votes-info img {
border: none;
margin: 0 4px 0 0;
vertical-align: middle;
}

.comment-info img {
border: none;
margin: 1px 0 0 4px;
vertical-align: middle;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
background: #FFF;
}

.comments .comment-info select {
font-size: 85%;
}

#tolerance, #tolerance select {
font-size: 85%;
}

/* fieldsets */

fieldset {
border: 1px solid #FF9400;
padding: 10px 10px;
margin: 10px 0;
}
 /* only for IE */ * html fieldset {
background: none;
}

legend {
font-weight: bold;
padding: 0 5px;
/* gallir color: #499722; */
color: #FF9400;
font-size: 125%;
}

fieldset dl {
margin: 0;
padding: 0;
}

fieldset dt {
clear: left;
float: left;
width: 288px; /* increase for wider dt text */
text-align: right;
padding: 0 10px 4px 0;
}

fieldset dd {
padding: 0 0 4px 0;
font-weight: bold;
}

label {
font-weight: bold;
}

fieldset.labels label {
width: 160px;
float: left;
text-align: right;
display: block;
padding: 3px 8px 3px 0;
}

fieldset.labels div {
padding: 3px 0;
clear: left
}

/* gravatar */

.gravatar-sub {
border: 1px solid #FFE2C5;
float: right;
}

/* pagination */

.pages, .pages-margin {
padding: 10px 0 0 0;
border-top: 1px dotted #FF6400;
margin: 20px 0 50px 0;
clear: left;
font-size: 90%;
}

.pages-margin {
margin-left: 90px;
}

.pages a, .pages span, .pages-margin a, .pages-margin span {
display: block;
float: left;
color: #FF6400;
padding: 5px 7px 5px 7px;
margin-right: 3px;
border: 1px solid #FFF;
background: #FFF;
}

.pages span.current, .pages-margin span.current {
border: 1px solid #FF6400;
font-weight: bold;
background: #FFBE94;
color: #FF6400;
}

.pages span.current a, .pages-margin span.current a {
padding: 0;
background: #FF6400;
color: #FF6400;
border: 0px;
}

.pages a, .pages-margin a {
border: 1px solid #FF6400;
text-decoration: none;
background: url(../../img/common/tabs/tabsub-background.png) bottom left repeat-x;
}

.pages a:hover, .pages-margin a:hover {
border-color: #FF9400;
background: #FFBE94;
color: #FF6400;
}

.pages a.nextprev, .pages-margin a.nextprev {
font-weight: bold;
}

.pages span.nextprev, .pages-margin span.nextprev {
color: #FFE2C5;
}

.pages span.nextprev, .pages-margin span.nextprev {
border: 1px solid #FFE2C5;
color: #FFE2C5;
}

/* faq page */

.faq-title {
margin: 0 30px 0 150px;
}

#faq-contents {
margin: 0 30px 75px 150px;
}

#faq-contents ol {
color: #FF6400;
font-weight: bold;
}

#faq-contents ul {
color: #303030;
font-weight: normal;
}


#faq-contents h4 {
color: #FF6400;
font-weight: bold;
font-size: 125%;
}
#faq-contents p {
color: #303030;
font-weight: normal;
}

/* generic form and wide page */

#genericform-contents {
margin: 0 60px 60px 100px;
}

#genericform-contents h2 {
margin: 10px 0 0 0;
}

#genericform fieldset, #genericform-contents fieldset {
background: #FFF;
border: 1px solid #FF6400;
}

#genericform {
border: 0;
margin: 0;
padding: 0 0 20px 0;
background: #FFF;
color: #FF6400;
font-weight: bold;
}

#genericform .sign, #genericform-contents legend {
color: #FF6400;
font-weight: bold;
font-size: 110%;
}

#genericform .genericsubmit {
background: #fff url(../../img/common/menealo-background.png) bottom left repeat-x;
border: 1px solid #FF6400;
color: #FF6400;
font-weight: bold;
}

#genericform .genericsubmit:hover {
background: #FFBE94;
color: #FFF;
font-weight: bold;
}

#genericform input {
background: #FFE2C5;
border: 1px solid #FF6400;
color: #303030;
}

#genericform .nobold {
font-weight: normal;
}

#genericform .genericformtxt {
color: #303030;
font-size: 100%;
font-weight: normal;
}

#genericform .genericformnote {
font-size: 85%;
font-weight: normal;
color: #FF9400;
}

#genericform textarea {
width: 100%;
height: 128px;
background: #FFE2C5;
border: 1px solid #FF6400;
color: #303030;
}

/* generic form: login page specials */

#genericform .recoverpass {
color: #FF6400;
font-size: 125%;
}

#genericform .recoverpass a:link, .recoverpass a:visited {
color: #FF6400;
border-bottom-width: 1px;
border-bottom-style: dotted;
padding-bottom: 1px;
text-decoration: none;
}

#genericform .recoverpass a:hover {
border-bottom-width: 1px;
border-bottom-style: solid;
padding-bottom: 1px;
text-decoration: none;
}

#genericform .formnotice {
color: #303030;
font-weight: normal;
}

/* image forms */

.tc {
margin: 5px 0 5px 0;
}

/* shakeit page search form */

.shakeit-form {
margin: 5px 0 5px 0;
}

.shakeit-form-input {
color: #303030;
width: 65%;
border: 1px solid #FF6400;
background: #FFE2C5;
margin-right: 5px;
}

.shakeit-form-submit {
background: #FF6400;
color: #FFF;
border: 1px dotted #FFF;
padding: 1px 0 1px 0;
}

.shakeit-form label {
font-weight: normal;
color: #FF6400;
font-size: 140%;
}

/* top banner */

.banner-01 {
margin: 0 0 0 130px;
width: 730px;
height: 90px;
}

.banner-block {
margin: 20px 0 15px 130px;
width: 730px;
height: 15px;
}

.banner-story {
width: 468px;
height: 60px;
margin: 0 auto;
margin-bottom: 30px;
}

.banner-story-2 { /* used when coming from search */
width: 336px;
height: 280px;
margin: 0 auto;
margin-bottom: 25px;
}

.banner-right {
width: 100%;
height: 100px;
background: #FFCBAA;
margin-bottom: 15px;
padding: 5px;
}

.sneaker {
margin: 0;
background: url(../../img/common/elmnm-sneak-reverse02.png) 97% 95% no-repeat;
}

.sneaker-title strong {
font-size: 95%;
color: #FF9400;
}

.sneaker-legend {
color: #FF6400;
text-align: center;
padding: 3px 0 5px 0;
margin: 0px;
background: url(../../img/common/mnu-bkgsoft01.png) repeat-x bottom left;
border-bottom: 1px solid #FFF;
}

.sneaker-legend img {
margin: 0 25px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid #FFE2C5;
padding: 5px 0 5px 0;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status {
float: left;
display: block;
}

.sneaker-ts {
width: 7%;
text-align: left;
}

.sneaker-type {
width: 7%;
}

.sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 53%;
text-align: left;
}

.sneaker-chat {
color: #9B0000;
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-chat a {
color: #9B0000;
}

.sneaker-who {
width: 16%;
text-align: left;
}

.sneaker-who img {
border: 0px solid #FFE2C5;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}


.sneaker-problem {
color: #F00;
}

.sneaker-status {
width: 8%;
text-align: right;
}

.sneaker-published {
color: #FF6400;
}

.sneaker-discarded {
color: #D9AA95;
}

.sneaker input {
background: #FFE2C5;
margin: 7px 0 2px 0;
border: 1px solid #FF6400;
color: #303030;
font-size: 90%;
}

.sneaker input.sendmessage {
color: #FF6400;
border: 1px solid #FF6400;
font-size: 90%;
background: #fff url(../../img/common/menealo-background.png) bottom left repeat-x;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
color: #FF6400;
background: #FFF;
position: relative;
padding: 2px 2px 2px 2px;
float: left;
width: 99%;
overflow: hidden;
height: 150px;
border: 1px solid #FFE2C5;
margin: 0 0 5px 0;
}


.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
}

.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
clear: left;
font-size: 80%;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
color: #FF6400;
padding: 3px 5px 3px 5px;
margin-right: 3px;
border: 1px solid #FFF;
background: url(../../img/common/tabs/tabsub-background.png) bottom left repeat-x;
}

.mini-pages span.current {
border: 1px solid #FF6400;
font-weight: bold;
background: #FFBE94;
color: #FF6400;
}

.mini-pages span.current a {
padding: 0;
background: #FFBE94;
color: #FF6400;
border: 0px;
}

.mini-pages a {
border: 1px solid #FF6400;
text-decoration: none;
}

.mini-pages a:hover {
border-color: #FF9400;
background: #FFBE94;
color: #FF6400;
}


/* classes for bar diagrams */ 
.bars {
margin: 25px 0 0 25px;
clear: left;
}

.bars-list {
clear: left;
color: #FF6400;
background: #FFF;
position: relative;
padding: 2px 2px 2px 2px;
float: left;
width: 99%;
margin: 0 0 5px 8px;
font-size: 80%;
}

.bars-list .bar-container {
float: left;
display: block;
width: 64%;
height: 25px;
font-size: 8pt;
color: #000;
}

.bars-list .item, .bars-list .item-wider {
float: left;
display: block;
overflow: hidden;
width: 35%;
height: 25px;
white-space: nowrap;
}

.bars-list .item-wider {
width: 48%;
height: 30px;
}

.bars-list img {
border: 0px;
margin-right: 5px;
margin-left: 8px;
}

.item a {
text-decoration: none;
}

#tooltip-shadow {
position:absolute;
visibility:hidden;
z-index:9999;
margin: 0;
padding: 0;
background: url(../../img/common/shadow.png) no-repeat bottom right !important;
background: url(../../img/common/shadow.gif) no-repeat bottom right; 
}
 
#tooltip-text {
position:absolute;
visibility:hidden;
margin: 0;
z-index:10000;
background: #FFEEC7;
border: 1px solid #e2d3b0;
padding: 10px;
font-size: 90%;
overflow: hidden;
width: 35em;
max-height: 40ex;
}

.news-websnapr {
border: 1px solid #FFE2C5;
float: right;
margin: 0 0 5px 5px;
vertical-align: bottom;
}

.mini-sneaker-item {
margin: 0 5px 0 5px;
width: 99%;
clear: both;
border-bottom: 1px solid #FFE2C5;
padding: 2px 0 2px 0;
text-align: center;
overflow: hidden;
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 24%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.bookmarks-export-user-stories {
margin-left: 30px;
}

.bookmarks-export-user-commented {
margin-left: 0px;
}

.rich-edit-key {
margin-left: 3px;
margin-bottom: 3px;
float: right;
}
