<table class="decorated" style="font-size: 10pt">
    <tr>
        <th style="white-space: nowrap">
            <a href="?{% exec URLQuery "order_by" "user_login" "order_mode" order_mode %}">
                {% trans _('Usuario') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_type" "order_mode" order_mode %}">
                {% trans _('tipo') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_reason" "order_mode" order_mode %}">
                {% trans _('motivo') %}
            </a>
        </th>
        <th>
            {% trans _('comentario') %}
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_report_id" "order_mode" order_mode %}">
                {% trans _('reporte') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_karma_old" "order_mode" order_mode %}">
                {% trans _('karma anterior') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_karma_new" "order_mode" order_mode %}">
                {% trans _('karma nuevo') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_date" "order_mode" order_mode %}">
                {% trans _('creación') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "strike_expires_at" "order_mode" order_mode %}">
                {% trans _('fin') %}
            </a>
        </th>
        <th>
            <a href="?{% exec URLQuery "order_by" "admin_login" "order_mode" order_mode %}">
                {% trans _('admin') %}
            </a>
        </th>
        <th>&nbsp;</th>
    </tr>

    {% for strike in strikes %}

    <tr>
        <td>
            <a target="_blank" href="{{ globals.base_url }}user/{{ strike.user_login }}/{{ strike.user_id }}" class="tooltip u:{{ strike.user_id }}" style="overflow: hidden;white-space: nowrap;">
                {{ strike.user_login }}
            </a>
        </td>
        <td>{{ strike.type|Capfirst }}</td>
        <td>{{ strike.reason_message }}</td>
        <td>{{ strike.comment|txt_shorter:50|clean_text }}</td>
        <td>
            {% if strike.report_id %}
            <a href="{{ globals.base_url }}admin/reports.php?s={{ strike.report_id }}&amp;report_status=all">
                {{ strike.report_id }}
            </a>
            {% else %}
            N/A
            {% endif %}
        </td>
        <td>{{ strike.karma_old }}</td>
        <td>{{ strike.karma_new }}</td>
        <td>{{ strike.date }}</td>
        <td>{{ strike.expires_at }}</td>
        <td>{{ strike.admin_login }}</td>
        <td>
            <a href="?tab=strikes&amp;op=new&amp;strike_user={{ strike.user_login }}" title="Información" class="btn btn-default btn-xs">
                <i class="fa fa-info"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
