<div id="singlewrap">
    <div class="genericform" style="margin:0">
        <div style="float:right;">
            <form method="get" action="{{ globals.base_url }}admin/strikes.php">
                <input type="hidden" name="tab" value="{{ selected_tab }}" />
                <input type="text" name="s" {% if search %} value="{{ search }}" {% endif %} placeholder="{% trans _('buscar') %}..." />&nbsp;
                <input style="padding:2px;" type="image" align="top" value="buscar" alt="buscar" src="{{ globals.base_static }}img/common/search-03.png" />
            </form>
        </div>

        {% if current_user.user_level == "god" %}
        &nbsp; [ <a href="{{ globals.base_url }}admin/strikes.php?op=new">{% trans _('Nuevo strike') %}</a> ]
        {% endif %}

        {% include 'admin/strikes/_table.html' %}
    </div>
</div>
