<div id="singlewrap">
    <div class="genericform" style="margin:0">
        <form method="get" name="search_user" action="{{ globals.base_url }}admin/strikes.php" style="margin-top: 20px;">
            <label for="strike_user">{% trans _('Usuario') %}</label>
            <input type="hidden" name="tab" value="{{ selected_tab }}">
            <input type="hidden" name="op" value="new">
            <input type="text" id="strike_user" name="strike_user" size="30" maxlength="64" value="" class="ac-user"/>
            <input type="submit" value="buscar">
        </form>

        {% if user.id > 0 %}
        <br>

        {% if error %}

        <span style="color: red;">{{ error }}</span><br><br>

        {% else %}

        <form method="post" name="newban" action="{{ globals.base_url }}admin/strikes.php?tab={{ selected_tab }}">
            <input type="hidden" name="user_id" value="{{ user.id }}" />
            <input type="hidden" name="report_id" value="{{ _REQUEST.report_id | intval }}" />

            <table class="decorated" style="font-size: 10pt">
                <tr>
                    <th style="white-space: nowrap">{% trans _('Usuario') %}</th>
                    <th>Strike/Ban</th>
                    <th>{% trans _('motivo de strike') %}</th>
                    <th>{% trans _('comentario') %}</th>
                    <th>{% trans _('Acción') %}</th>
                </tr>
                <tr>
                    <td>
                        <a target="_blank" href="{{ globals.base_url }}user/{{ user.username }}" class="tooltip u:{{ user.id }}" style="overflow: hidden;white-space: nowrap;">
                            {{ user.username }} ({{ user.level }})
                            <input type="hidden" name="strike_user_id" value="{{ user.id }}">
                        </a>
                    </td>
                    <td>
                        <select name="type" id="type" required>
                            {% for value in types %}
                            <option value="{{ value['code'] }}" {% if value['code'] == next %}selected{% endif %}>{{ value['name'] }} - {{ user['karma'] }} &rarr; {{ value['karma'] }} * {{ value['days'] }} días &rarr; {{ value['karma_restore'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="reason" id="reason" required>
                            {% for key, value in reasons %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input class="form-full" type="text" name="comment" id="comment" required />
                    </td>
                    <td>
                        <input type="hidden" name="op" value="save"/>
                        <input type="submit" name="submit" value="{% trans _('Crear strike') %}"/>
                    </td>
                </tr>
            </table>
        </form>
        {% endif %}

        <h4>Histórico de strikes</h4><br />

        {% if strikes %}

        {% include 'admin/strikes/_table.html' %}

        {% else %}

        El usuario "{{ user.username }}" aún no tiene asociado ningún strike.

        {% endif %}

        {% endif %}

    </div>
</div>