<form action="" method="POST">
<fieldset style="clear: both;">

<legend>{% trans _('categorías personalizadas') %}</legend>

{% for meta in metas %}
	<dl class="categorylist" id="meta-{{ meta.id}}"><dt>
	<label><input
		{% if user.id != current_user.user_id %}disabled="true"{% endif %}
		name="meta_category[]" type="checkbox" value="{{ meta.id }}"
		{% if not selected || selected[meta.id] %}checked="true"{% endif %}
		onchange="select_meta(this, {{ meta.id}})"
		/>{{ meta.name}}</label></dt>

	{% for category in categories[meta.id] %}
		<dd><label><input
			{% if user.id != current_user.user_id %}disabled="true"{% endif %}
			name="categories[]" type="checkbox"
			{% if not selected || selected[category.id] %}checked="true"{% endif %}
			value="{{ category.id }}"/>{{ category.name }}</label></dd>
	{% endfor %}
	</dl>

{% endfor %}
<br style="clear: both;"/>
</fieldset>

{% if user.id == current_user.user_id %}
	<input class="button" type="submit" value="{% trans _('grabar') %}"/>
{% endif %}
</form>





<script type="text/javascript">
function select_meta(input, meta) {
    if (input.checked) new_value = true;
    else new_value = false;
    $('#meta-'+meta+' input').attr({checked: new_value});
    return false;
}
</script>
