<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{globals.lang}}" lang="{{globals.lang}}">
<head>
</head>
<body>
{% for m in media %}
	<a id="gallery-{{ forloop.counter }}" class="fancybox" rel="gallery" href="{{ globals.base_url}}backend/media.php?type={{ m.type }}&amp;id={{ m.id }}&amp;version={{ m.version }}" title="{{ m.type }},{{ m.id }},{{ m.user }}"></a>
{% endfor %}

<script type="text/javascript">
function formatTitle(title, currentArray, currentIndex, currentOpts) {
	t_i_u = title.split(",");
	script = 'get_'+t_i_u[0]+'_tooltip.php';
	if (t_i_u[0] == 'post') type = '{% trans _('nota de') %}';
	else type = '{% trans _('comentario de') %}';

	pages = (currentIndex + 1) + '/' + currentArray.length;
	url = base_url + 'backend/go.php?what=' + t_i_u[0] + '&id=' + t_i_u[1];
	/* With tooltips
	tooltip = onmouseover="tooltip.ajax_delayed(event, script, t_i_u[1], 10000)" onmouseout="tooltip.clear(event)";
	*/
	who = '<div>' + type + '&nbsp;<a class="fancybox" href="'+url+'" target="_blank" style="margin-bottom: 4px">' + t_i_u[2] + '</a></div>';
	return who + pages;
}

function onComplete() {
	reportAjaxStats('image', 'gallery');
}

$("a.fancybox").fancybox(
	{
	'type': "image",
	'transitionIn'	: 'none',
	'transitionOut'	: 'none',
	'showNavArrows': true,
	'cyclic': true,
	'titlePosition': 'inside',
	'titleFormat'		: formatTitle,
	'showCloseButton'	: true,
	'autoDimensions': true,
	'autoScale': true,
	'onComplete': onComplete,
	'onClosed': function() {$('#gallery').remove()},
	}
	);
$(document).ready(function() {$("#gallery-1").trigger('click')});
</script>
</body>
</html>
