<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{globals.lang}}" lang="{{globals.lang}}">
<head>
</head>
<body>
<div id="gallery-container">
{% for m in images %}
	<a id="gallery-{{ forloop.counter }}" class="fancybox" rel="gallery" href="{{ m.url }}" title="{{ m.type }},{{ m.id }},{{ m.user }}"></a>
{% endfor %}

<script type="text/javascript">

var $colorbox;

function formatTitle() {
	var t_i_u = this.title.split(",");

	script = 'get_'+t_i_u[0]+'_tooltip.php';
	if (t_i_u[0] == 'post') {
		type = '{% trans _('nota de') %}';
	} else {
		type = '{% trans _('comentario de') %}';
	}

	url = base_url + 'go.php?what=' + t_i_u[0] + '&id=' + t_i_u[1];

	var image_link;
	if (! is_mobile) {
		image_link = '&nbsp;[<a href="'+this.href+'" target="_blank">{% trans _('imagen') %}</a>]';
	} else {
		image_link = '';
	}

	var extra = "";
	if (t_i_u[2] == "{{ current_user.user_login }}" ) {
		if ($.colorbox.element().data('deleted')) {
			extra = ' [{% trans _("eliminada") %}]';
		} else {
			extra = ' <span id="delete">[<a href="javascript:delete_image(\''+t_i_u[0]+'\','+t_i_u[1]+')">{% trans _("eliminar") %}</a>]</span>';
		}
	}
		
	who = '<div><a class="fancybox" href="'+url+'" target="_blank" style="margin-bottom: 4px">' + type + '&nbsp;' + t_i_u[2] + '</a>'+image_link+extra+'</div>';

	return who;
}

function delete_image(type, id) {
	mDialog.confirm("{% trans _('¿seguro desea eliminar definitivamente la imagen?') %}",
        function () {
			var url = base_url + 'backend/media.php?op=delete&id='+id+"&type="+type;
			$.post(url, {op: "delete", type: type, id: id }, function (data) {
				if (data.ok) {
					$.colorbox.element().data('deleted', 1);
					$('#delete').html(' [{% trans _("eliminada") %}]').attr('href', '');
				} else {
					mDialog.notify(data.text);
				}
			});
		},
		function () {return false});
	return false;
}

function onComplete() {
	reportAjaxStats('image', 'gallery', this.href);
}

var wh;
if (is_mobile) wh = '100%';
else wh = '75%';

$("#gallery-container > a.fancybox").colorbox(
	{
		'type': "image",
		'transition'	: 'none',
		'current': "{current}/{total}",
		'loop': true,
		'onComplete': onComplete,
		'width':wh,
		'height':wh,
		'opacity': 0.5,
		'preloading': true,
		'title': formatTitle,
		'onClosed': function() {$('#gallery').remove()}
	}
);
$(document).ready(function() {$("#gallery-1").trigger('click')});
</script>
</div>
</body>
</html>
