<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{globals.lang}}" lang="{{globals.lang}}">
<head>
</head>
<body>
<div id="gallery-container">
{% for m in images %}
	<a id="gallery-{{ forloop.counter }}" class="fancybox" rel="gallery" href="{{ m.url }}" title="{{ m.type }},{{ m.id }},{{ m.user }}"></a>
{% endfor %}

<script type="text/javascript">
function formatTitle() {
	t_i_u = this.title.split(",");

	script = 'get_'+t_i_u[0]+'_tooltip.php';
	if (t_i_u[0] == 'post') type = '{% trans _('nota de') %}';
	else type = '{% trans _('comentario de') %}';

	url = base_url + 'go.php?what=' + t_i_u[0] + '&id=' + t_i_u[1];

	who = '<div><a class="fancybox" href="'+url+'" target="_blank" style="margin-bottom: 4px">' + type + '&nbsp;' + t_i_u[2] + '</a>'+'&nbsp;[<a href="'+this.href+'" target="_blank">{% trans _('imagen') %}</a>]'+'</div>';

	return who;
}

function onComplete() {
	reportAjaxStats('image', 'gallery', this.href);
}

$("#gallery-container > a.fancybox").colorbox(
	{
		'type': "image",
		'transition'	: 'none',
		'loop': true,
		'onComplete': onComplete,
		'width':"75%",
		'height':"75%",
		'opacity': 0.5,
		'preloading': true,
		'title': formatTitle,
		'onClosed': function() {$('#gallery').remove()}
	}
);
$(document).ready(function() {$("#gallery-1").trigger('click')});
</script>
</div>
</body>
</html>
