<ul class="subheader" style="margin-bottom: 20px">
{% if options|isarray %}
    {% for text,turl in options %}
        {% if forloop.counter0 == selected %}
            <li class="selected">
        {% else %}
            <li>
        {% endif %}
            <a href="{{turl}}">{{text}}</a>
        </li>
    {% endfor %}
{% else %}
    <h1>{{options}}</h1>
{% endif %}

{% if between %}
	<li><a href="{{ globals.base_url }}between?{{ between }}">{% trans _("debates") %}</a></li>
{% endif %}

{% if rss %}
	<li class="icon wideonly">
        <a href="{{globals.base_url}}{{rss}}" title="{{rss_title}}">
        <img src="{{globals.base_static}}img/common/h9_rss.png" width="15" height="15" alt="rss2"/>
        </a>
    </li>
{% endif %}
</ul>
