{# Votes info #}
{#
<span {% if current_user.user_id %}class="wideonly"{% endif %}>{% trans _('votos') %}: </span>{% if self.has_votes_info %}<a class="fancybox" href="{{ globals.base_url_general }}backend/get_c_v.php?id={{ self.id }}" title="{% trans _('información de votos') %}">{% endif %}<span id="vc-{{ self.id }}" class="votes-counter">{{ self.votes }}</span>{% if self.has_votes_info %}</a>{% endif %}
&nbsp;&nbsp;
#}

<span>{% trans _('karma') %}: </span><span class="votes-counter" id="vk-{{ self.id }}" title="{% trans _('karma') %}">{{ self.karma }}</span>

{% if self.has_votes_info %}
<a class="fancybox" href="{{ globals.base_url_general }}backend/get_c_v.php?id={{ self.id }}" title="{% trans _('información de votos') %}"><span class="votes-info">i</span></a>
{% endif %}
