</div>

<div id="footthingy">
<p>menéame</p>
<ul id="legalese">

{# IMPORTANT: links change in every installation, CHANGE IT!!
 contact info #}

{% if globals.is_meneame %}
	<li><a href="{{ globals.legal }}">{% trans _('condiciones legales') %}</a>
	&nbsp;&#47;&nbsp;<a href="{{ globals.legal }}#tos">{% trans _('de uso') %}</a>
	&nbsp;&#47;&nbsp;<a href="{{ globals.legal }}#cookies">{% trans _('y de cookies') %}</a></li>
	<li>&nbsp;&#47;&nbsp;<a href="{{ globals.base_url_general }}faq-{{ globals.lang }}#we">{% trans _('quiénes somos') %}</a></li>
	{% if not globals.mobile %}
		<li>&nbsp;&#47;&nbsp;{% trans _('licencias') %}:&nbsp;
		<a href="{{ globals.base_url_general }}COPYING">{% trans _('código') %}</a>,&nbsp;
		<a href="http://creativecommons.org/licenses/by-sa/3.0/">{% trans _('gráficos') %}</a>,&nbsp;
		<a rel="license" href="http://creativecommons.org/licenses/by/3.0/es/">{% trans _('contenido') %}</a></li>
		<li>&nbsp;&#47;&nbsp;<a href="http://validator.w3.org/check?uri=referer">HTML5</a></li>
		<li>&nbsp;&#47;&nbsp;<a href="https://github.com/gallir/Meneame">{% trans _('codigo fuente') %}</a></li>
	{% endif %}
{% else %}
	<li>link to code and licenses here (please respect the menéame Affero license and publish your own code!)</li>
	<li><a href="">contact here</a></li>
	<li>code: <a href="#">Affero license here</a>, <a href="#">download code here</a></li>
	<li>you and contact link here</li>
{% endif %}

</ul>
</div>

</div>

</div> {# #variable #}

{% include 'footer_js.html' %}

{% meneame_endtime %}

{% if ! globals.partial %}

{# warn warn warn dont do stats of password recovering pages #}

{% try_include 'private/stats.html' %}
</body>
{% endif %} {# PARTIAL #}

</html>
