<div class="topbox">
<a class="title" href="{{ link_url }}/best-comments" title="{% trans _('los sombreados de rojo son de usuarios que votaron negativo') %}">{% trans _('Comentarios destacados') %}:</a>&nbsp;
{% for obj in objects %}
	<a class="tooltip c:{{ obj.link_id }}-{{ obj.order }}" href="{{link_url}}/c0{{ obj.order }}#c-{{ obj.order }}" rel="nofollow"><img 
		src="{{ globals.base_static | noscheme }}img/g.gif"
		data-src="{% exec get_avatar_url obj.user_id, obj.avatar, 25, false %}" 
		data-2x="s:-25.:-40."
		alt="" width="25" height="25" 
		{% if obj.vote < 0 %}
			class="avatar shadow-red lazy"
		{% else %}
			{% if obj.vote > 0 %}
				class="avatar shadow-green lazy"
			{% else %}
				class="avatar lazy"
			{% endif %}
		{% endif %}
		/></a>&nbsp;
{% endfor %}
{% if self %}
	<div style="margin-top:5px;margin-bottom:5px">
		<div style="float:left;">
		<a class="tooltip c:{{ self.link_id }}-{{ self.c_order }}" href="{{link_url}}/c0{{ self.order }}#c-{{ self.order }}" rel="nofollow"><img 
			src="{{ globals.base_static | noscheme }}img/g.gif"
			data-src="{% exec get_avatar_url self.author, self.avatar, 25, false %}" 
			data-2x="s:-25.:-40."
			alt="" width="25" height="25" 
			{% if self.vote < 0 %}
				class="avatar shadow-red lazy" 
			{% else %}
				{% if self.vote > 0 %}
					class="avatar shadow-green lazy" 
				{% else %}
					class="avatar lazy" 
				{% endif %}
			{% endif %}
			style="vertical-align:text-top"
			/></a>
		</div>
		<div style="white-space:normal;margin:0 20px 0 40px;font-size:9pt;color:#666;a:link {color:#FF0000;}">
		{% include 'comment_summary_text.html' %}
		</div>
	</div>
{% endif %}
</div>
