{# Share icons #}

{#
{% if not short_link  %}
	{% set short_link = link %}
{% endif %}
#}


<div data-url="{{ link }}" data-title="{{ title }}" class="share_icons">

<span class="fb" title="{% trans _('compartir en %s') "facebook" %}" onClick="share_fb(this)"></span>
<span class="tw" title="{% trans _('compartir en %s') "twitter" %}"  onClick="share_tw(this)"></span>

</div>

{#
{% exec urlencode link as link_url %}

<a href="https://www.facebook.com/sharer/sharer.php?u={{ link_url }}" target="_blank"><img src="{{ globals.base_static }}img/external/fb-24.png" alt="fb" title="{% trans _('compartir en %s') "facebook" %}"/></a>

<a href="https://twitter.com/intent/tweet?url={{ link_url }}&amp;text={{ title |urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/external/tw-24.png" alt="tw" title="{% trans _('compartir en %s') "twitter" %}"/></a>
#}

{#
&nbsp;<a href="http://www.tuenti.com/share?url={{ link|urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/tuenti.png" alt="tuenti" title="{% trans _('compartir en %s') "tuenti" %}" width="16" height="16"/></a>

&nbsp;<div class="g-plusone" style="display:inline" data-size="small" data-count="false"></div>

<script type="text/javascript">
	window.___gcfg = {lang: 'es'};
	$(function () {
		$.getScript("https://apis.google.com/js/plusone.js");
	});
</script>
#}
