<div style="margin-bottom: 4px">
<button type="button" onclick="applyTag('{{ id }}', 'sup');" class="rich-edit-key" style="font-size:smaller"> <sup>sup</sup></button>
<button type="button" onclick="applyTag('{{ id }}', 'sub');" class="rich-edit-key" style="font-size:smaller"> <sub>sub</sub></button>
<button type="button" onclick="applyTag('{{ id }}', 'del');" class="rich-edit-key"><del>D</del></button>
<button type="button" onclick="applyTag('{{ id }}', 'i');" class="rich-edit-key"><i>I</i></button>
<button type="button" onclick="applyTag('{{ id }}', 'b');" class="rich-edit-key"><b>B</b></button>
</div>
