<div style="overflow:hidden">
<button type="button" onclick="applyTag(this, 'sup');" class="rich-edit-key" style="font-size:smaller"> <sup>sup</sup></button>
<button type="button" onclick="applyTag(this, 'sub');" class="rich-edit-key" style="font-size:smaller"> <sub>sub</sub></button>
<button type="button" onclick="applyTag(this, 'del');" class="rich-edit-key"><del>D</del></button>
<button type="button" onclick="applyTag(this, 'i');" class="rich-edit-key"><i>I</i></button>
<button type="button" onclick="applyTag(this, 'b');" class="rich-edit-key"><b>B</b></button>
</div>
