<div class="genericform">
{% if errors %}
    {% for e in errors %}
        <div class="form-error-submit">&nbsp;&nbsp;{{ e }}</div>
    {% endfor %}
{% endif %}

<form method="post" id="thisform" name="thisform" autocomplete="off">
<input type="hidden" name="id" value="{{ sub.id }}" />
<input type="hidden" name="u" value="{{ current_user.user_id }}" />
<input type="hidden" name="created_from" value="{{ site.id }}" />


<fieldset><legend>
{% if sub.id %}
	{% trans _('edición sub') %} <a href="{{ sub.base_url }}m/{{ sub.name }}">{{ sub.name }}</a>
{% else %}
	{% trans _('nuevo sub') %}
{% endif %}
</legend>

{% if current_user.admin %}
	<label for="name">user_id:</label><br/>
	<input type="number" id="owner" name="owner" value="{{ sub.owner }}" maxlength="10" pattern="[0-9]+"/>
	<br/>
{% else %}
	<input type="hidden" id="owner" name="owner" 
	{% if sub.name %}
		value="{{ sub.owner }}"
	{% else %}
		value="{{ current_user.user_id }}"
	{% endif %}
	/>
{% endif %}


<label for="name">{% trans _('nombre corto, sin espacios') %}:</label><br/>
<input type="text" id="name" name="name" value="{{ sub.name }}" maxlength="12" pattern="[A-Za-z0-9]{3,12}" />
<br/>

<label for="name">{% trans _('título') %}:</label><br/>
<input type="text" id="name_long" name="name_long" value="{{ sub.name_long }}" pattern=".{6,32}" maxlength="32" style="width:60%"/>
<br/>

{% if current_user.admin %}
	{% if sub.id > 0 %}
		<input type="checkbox" name="enabled" value="1" {% if sub.enabled %}checked{% endif %}>{% trans _("habilitado") %}
		<input type="checkbox" name="allow_main_link" value="1" {% if sub.allow_main_link %}checked{% endif %}>{% trans _("permitir enlace principal") %}
		<br/>
	{% endif %}

	{% if copy_to %}
		{% trans _('copiar a') %}:<br/>
		{% for c in copy_to %}
			<select name="copy_to[]">
			<option value="{{ c.id }}" selected>{{ c.name }}</option>
			<option value="0">{% trans _('eliminar') %}</option>
			</select>
			<br/>
		{% endfor %}
	{% endif %}
	{% if candidates_to %}
		{% trans _('añadir copiar a') %}:<br/>
		<select name="copy_to[]">
		<option value="0" selected>--</option>
		{% for c in candidates_to %}
			<option value="{{ c.id }}">{{ c.name }}</option>
		{% endfor %}
		</select>
	{% endif %}
{% endif %}

<br/><br/>
<input class="button" type="submit" value="{% trans _('guardar') %}" />
</fieldset>
</form>
</div>

