<style type="text/css">
table.decorated {
	margin-top: 5px;
}
table.decorated .header {
	font-size: 110%;
}

table.decorated th {
	text-transform: capitalize;
	padding: 3px 4px;
}
table.decorated td {
	padding: 2px 4px;
}
</style>
<div style="text-align: left;min-width: 400px">
<strong>{% trans _('etiquetas') %}:</strong> «{{ results.str }}»<br/>
<strong>{% trans _('resumen') %}:</strong> <br/>
{% if results.phrases > 0 OR results.min_freq < 0.19 AND results.tags > 1 %}
	{% if results.in_title > 0 AND results.phrases > 0 %}
		- {% trans _('Etiquetas excelentes') %}<br/>
	{% else %}
		- {% trans _('Etiquetas adecuadas') %}<br/>
	{% endif %}
{% else %}
	{% if results.min_freq > 1 %}
	- {% trans _('Todas las etiquetas son demasiado genéricas') %}<br/>
	{% endif %}

	{% if results.tags < 3 %}
	- {% trans _('Muy pocas etiquetas') %}<br/>
	{% endif %}

{% endif %}

{% if results.in_title == 0 %}
	- {% trans _('Mejoraría si alguna palabra o frase del título estuviese en la etiqueta') %}<br/>
{% endif %}


{% if results.tags > 6 %}
	- {% trans _('Demasiadas etiquetas') %}<br/>
{% endif %}

{% if results.highs > results.tags * 0.51 %}
	- {% trans _('Demasiadas etiquetas genéricas') %}<br/>
{% endif %}

{% if results.phrases == 0 AND (results.in_title == 0 || results.max_freq > 1 || results.tags > 4 || results.in_title == 0) %}
	- {% trans _('No contiene ninguna frase de la forma «palabra1 palabra2, otras»') %}<br/>
{% endif %}

<table class="decorated" style="width: 400px">
<tr class="header">
<th>{% trans _('etiqueta') %}</th>
<th><em>hits</em></th>
<th>{% trans _('frecuencia') %}</th>
<th>{% trans _('estado') %}</th>
</tr>

{% for w in words %}
	<tr>
	<th>{{ w.w }}</th>
	<td>{{ w.hits }}</td>
	<td>{{ w.freq }}%</td>
	<td>
		{% if w.freq <= 2 %}
			{% if w.freq < 0.3 OR w.phrase %}
				{% if w.in_title %}
					{% if w.phrase %}
						{% trans _('¡perfecta, con premio mayor!') %}
					{% else %}
						{% trans _('¡perfecta!') %}
					{% endif %}
				{% else %}
					{% trans _('muy buena') %}
					{% if w.hits < 2 %}
						{% trans _('¿pero está bien escrita?') %}
					{% endif %}
				{% endif %}
			{% else %}
				{% if w.freq < 1 %}
					{% trans _('OK') %}
				{% else %}
					{% if w.in_title %}
						{% trans _('OK') %} ({% trans _('en el título') %})
					{% else %}
						{% trans _('regular') %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% else %}
			{% if w.freq > 4 %}{% trans _('demasiado genérica') %}
			{% else %}
				{% if w.in_title %}
					{% trans _('OK') %} ({% trans _('en el título') %})
				{% else %}
					{% trans _('genérica') %}
				{% endif %}
			{% endif %}
		{% endif %}
	</td>

	</tr>
{% endfor %}
</table>
</div>
