{% spacefull %}
<SCRIPT type="text/javascript">
<!--
var img_src1='{{ globals.base_static }}img/common/indicator_orange.gif';
var img1= new Image();
img1.src = img_src1;
//-->
</SCRIPT>
{% endspacefull %}

{% if errors %}

	{% include 'link/errors.html' %}

	<form class="genericform" action="">
	<input class="button" type="button" onclick="window.history.go(-1)" value="&#171; {% trans _('retroceder') %}" />
	</form>

{% else %}{% if link %}

	<h2>{% trans _('paso 3 de 3') %}</h2>

	<div class="genericform">

	<form action="submit" method="post" class="genericform" onSubmit="$('#working') %}html('{% trans _('enviando trackbacks') %}...&nbsp;<img src=\''+ img_src1 +'\'/>'); return true;">
	<fieldset><legend><span class="sign">{% trans _('detalles de la historia') %}</span></legend>

	<div class="genericformtxt"><label>{% trans _('ATENCIÓN: esto es sólo una muestra. Puedes retroceder o enviar a la cola y finalizar') %}</label>&nbsp;&nbsp;</div>

	<div class="formnotice">
	{% exec link.print_summary 'preview' as dummy %}
	</div>

	<input type="hidden" name="phase" value="3" />
	<input type="hidden" name="key" value="{{ link.key }}" />
	<input type="hidden" name="randkey" value="{{ link.randkey }}" />
	<input type="hidden" name="timestamp" value="{{ globals.now }}" />
	<input type="hidden" name="id" value="{{ link.id }}" />
	<input type="hidden" name="trackback" value="{{ _POST['trackback'] | escape }}" />


	<br style="clear: both;" /><br style="clear: both;" />
	<input class="button" type="button" onclick="window.history.go(-1)" value="&#171; {% trans _('retroceder') %}"/>&nbsp;&nbsp;
	<input class="button" type="submit" value="{% trans _('enviar a la cola y finalizar') %} &#187;"/>&nbsp;&nbsp;&nbsp;<span id="working">&nbsp;</span>
	</fieldset>
	</form>

	{% if related %}
		{% include "story/related.html" %}
	{% endif %}

	</div>

{% endif %} {% endif %}
