/*
Description: Menéame main CSS file
Version: 4.0
Last updated: 22:32 19/06/2008
Site URI: http://meneame.net
Authors: Ricardo Galli and Benjamí Villoslada. CSS by Damián Vila
Licence: Affero GPL License (http://meneame.net/COPYING)
Comments: This file contains only styles without colors or images. A separate file with colors and images is available.
*/

html * {
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
font-size: 87.5%; /* font size 14px */
text-align: center;
}

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
}

a:hover, a:focus {
text-decoration: underline;
}

#wrap {
min-width: 68em; /* 952px */
max-width: 85.72em; /* 1200px */
margin: 0 auto;
text-align: left;
}

#header {
height: 25px;
overflow: hidden;
}

#logo {
display: block;
float: left;
width: 210px;
height: 24px;
text-indent: -9999px;
}

#eli {
display: block;
float: left;
width: 80px;
height: 73px;
text-indent: -9999px;
}

#headtools {
text-align: right;
padding: 0 .71em;
vertical-align: middle;
}

#headtools li {
font-size: 0.79em; /* 11px */
display: inline;
float: right;
margin: .43em .28em 0 .28em;
border-left: 1px solid;
padding-left: .56em;
}

#headtools li.noborder {
border-left: none;
}
	
#headtools a {
text-decoration: none;
}

#headtools a:hover {
text-decoration: underline;
}

#headtools img, #headtools a img {
border: none;
vertical-align: top;
}

#headtools input {
padding: 0 0 0 .29em;
border: 1px dotted;
font-size: 1em;
height: 1.28em;
width: 15em;
}

#naviwrap {
float: left;
margin-left: 0px;
}

#navigation {
text-align: right;
width: 124px;
margin: 0 0 .71em 0;
}

#navigation li {
list-style-type: none;
font-size: 0.93em;
padding: 2px 12px 2px 0;
border-top: 1px solid;
}

#navigation li.second {
padding-right: 18px;
}

#navigation li.third {
padding-right: 24px;
}

#navigation li.fourth {
padding-right: 30px;
}

#navigation a {
text-decoration: none;
}

#navigation a:hover {
text-decoration: underline;
}

.banner-top {
float: left;
margin: 0.36em;
width: 730px;
height: 92px;
}

.banner-right {
width: 100%;
height: 252px;
margin: 10px 0 10px 0;
}

#container {
clear:both;
}

#sidebar {
float: right;
width: 300px;
margin: 2px 25px 25px 25px;
overflow: hidden;
padding-top: 12px;
}

#newswrap {
margin: 10px 345px 0 10px;
font-size: small;
}

#singlewrap {
margin: 0 10px 0 10px;
font-size: small;
}

#map {
overflow: hidden;
}

.mini-icon-text {
vertical-align: middle;
}

.tabmain {
height: 24px !important;
margin: 10px 0 0 0;
padding-left: 177px;
border-bottom: 1px solid;
}

.tabmain li {
float: left;
list-style-type: none;
margin-right: 4px;
height: 24px;
padding-left: 8px;
}

.tabmain li a {
font-size: .93em;
font-weight: bold;
display: block;
float: left;
height: 20px;
padding: 3px 8px 0 4px;
border-top: 1px solid;
border-right: 1px solid;
text-decoration: none;
}

.tabmain li a:hover {
text-decoration: none;
}

.tabmain li.tabmain-this {
height: 25px;
}

.tabmain li.tabmain-this a {
font-style: oblique;
font-size: 1.07em;
padding: 2px 24px 0 5px;
height: 22px;
}

.tabsub-this {
font-weight: bold;
}

.tabsub-shakeit {
height: 25px !important;
clear: both;
padding-left: 180px;
font-size: 11pt;
}

.tabsub-shakeit li {
float:left;
list-style-type: none;
/* l & r margins */
padding-left: 6px;
padding-right: 4px; /* in padding instead of margin for toggler */
margin-left: 2px;
border-left: 1px solid;
/* t & b margins */
height: 17px;
margin-top: 4px;
}

.tabsub-shakeit li.tabsub-this {
padding-right: 5px; /* 0 pixels for the toggler */
}

.tabsub-shakeit-icon {
padding-top: 3px;
}

.tabsub-shakeit li:first-child {
padding-left:0;
border-left: 0;
border-left: none;
margin-left: 0;
}

.tabsub-shakeit li a {
text-decoration: none;
}

.tabsub-shakeit li a:hover {
text-decoration: underline;
}

.tabsub {
height: 22px !important;
margin: 10px 0 20px 0;
padding-left: 20px;
border-bottom: 1px solid;
}

.tabsub li {
float: left;
list-style-type: none;
margin-right: 4px;
height: 22px;
padding-left: 7px;
}

.tabsub li a {
display: block;
float: left;
height: 18px;
padding: 3px 8px 0 6px;
border-top: 1px solid;
border-right: 1px solid;
font-size: .9em;
text-decoration: none;
}

.tabsub li a:hover {
text-decoration: none;
}

.tabsub li.tabsub-this {
height: 23px;
}

.tabsub li.tabsub-this a {
font-style: oblique;
padding: 2px 8px 0 4px;
height: 20px;
}

.thiscat a {
font-weight: bold;
}

.catsub-block {
border-bottom: 1px dotted;
padding: 3px 25px;
font-size: 8.5pt;
}

.catsub-block li {
display: inline;
list-style-type: none;
}

.catsub-block li a {
text-decoration: none;
}

.catsub-block li a:hover {
text-decoration: underline;
}

#sidebar h4 {
text-align: center;
font-weight: bold;
font-size: 130%;
font-family: sans-serif;
padding: 0 0 0.25em 0;
}

#sidebar h4 a {
text-decoration: none;
}

#sidebar h4 a:hover {
text-decoration: underline;
}

.sidebox, .banner-right  {
margin-bottom: 25px;
}

.sidebox h5 {
margin: .5em 5px .6em 48px;
font-size: .85em;
}


.mini-pop {
clear: both;
border-bottom: 1px solid;
}

.mnm-pop {
float: left;
width: 40px;
height: 20px;
text-align: center;
font-size: .95em;
font-weight: bold;
overflow: visible;
margin: .6em 0;
padding-top: 6px;
border: 1px solid;
}

.tags-box {
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
}

.tags-box a {
text-decoration: none;
}

.tags-box a:hover {
text-decoration: underline;
}

.nube {
padding: 0 1em 1.5em 1em;
line-height: 1.75em;
}

#sidebar .topcommentsli li, .storyrsslist li {
list-style-type: none;
border-bottom: 1px solid;
padding: .35em 0;
font-size: .85em;
}

#sidebar .storyrsslist li {
padding-left: 17px;
}

#footwrap {
margin: 5em 100px 0 100px;
clear: both;
}

#footcol1, #footcol2, #footcol3, #footcol4, #footcol5 {
float: left;
padding: 0 22px;
border-left: 1px dotted;
font-size: .75em;
margin-bottom: 20px;
}

#footcol1 ul, #footcol2 ul, #footcol3 ul, #footcol4 ul, #footcol5 ul {
padding-bottom: .5em;
}


#footcol1 li, #footcol2 li, #footcol3 li, #footcol4 li, #footcol5 li {
list-style-type: none;
}

#footcol1 {
width: 20%;
}

#footcol2 {
width: 12%;
}

#footcol3 {
width: 13%;
}

#footcol4 {
width: 13%;
}

#footcol5 {
width: 9%;
border-right: 1px dotted;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
font-size: 1.5em;
font-weight: normal;
}

#footthingy {
clear: both;
margin: 1em 20px 0 20px;
padding: 0 1em 0 60px;
/* margin-top: -5em; hack ie7 */
}

#footthingy li {
display: inline;
list-style-type: none;
font-size: .75em;
}

#footthingy p {
border-bottom: 1px dotted;
padding-bottom: 4px;
text-indent: -9999px;
}

#legalese {
margin-top: 5px;
text-align: center;
}

#legalese li {
border-left: 1px solid #c6c6c6;
padding: 0 6px 0 6px;
}

#legalese li:first-child {
border-left: none;
padding-left: 0;
}

#stdcompliance {
padding: 2em 0 4em 0;
text-align: center;
}

#stdcompliance li {
margin: 0 5px;
}

/*** LEGACY STYLES ***/
dl.categorylist {
float: left;
width: auto;
min-width: 20%;
margin-right: 5px;
padding-bottom: 5px;
font-size: 85%;
}

dl.categorylist dt {
float: none;
width: auto;
text-align: left;
font-size: 120%;
font-weight: bold;
}

dl.categorylist dd {
margin-left: 15px ;
font-size: 100%;
padding-bottom: 0;
}

.thumbnail {
border: 1px solid;
overflow: hidden;
padding: 2px;
float: right;
margin-left: 4px;
margin-bottom: 4px;
}

.news-submitted img {
border: 1px solid;
float: left;
margin-right: 4px;
vertical-align: bottom;
}

abbr { cursor: help; }

img {
border: none;
}

/* End holygrail */


.tt {
cursor: pointer;
text-decoration: underline;
}

hr {
height: 1px;
border: none;
}

h2 {
margin-top: 0;
margin-bottom: 8px;
font-size: 160%;
font-weight: normal;
border-bottom-width: 1px;
border-bottom-style: dotted;
}

h3 {
margin-bottom: 8px;
}

/* h2 without underline */
.topheading h2 {
padding: 10px 0 20px 0;
margin: 0 0 0 20px;
font-size: 160%;
font-weight: normal;
border: none;
}

h3 {
margin-top: 0;
margin-bottom: 3px;
font-size: 140%;
font-weight: normal;
}

h4 {
font-size: 100%;
font-weight: bold;
margin: 5px 0 3px 0;
}

table {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
clear: both;
}

table img {
border: 1px solid;
}

th, td {
text-align: left;
font-size: 85%;
padding: 6px;
border-bottom: 1px solid;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid;
}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
text-decoration: none;
border: none;
}

td.count {
font-size: 140%;
text-align: right;
}

.warn {
position: relative;
border: 1px solid;
padding: 3px 10px 3px 30px ;
margin: 5px 0 5px 0;
font-size: 85%;
}

.error {
font-weight: bold;
font-size: 140%;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
}

.error-text {
font-size: 100%;
}

.form-error, .form-error-submit {
font-size: 120%;
font-weight: bold;
margin: 20px 0 0 20px;
padding: 5px 0 0 30px;
}

.form-error-submit {
padding: 10px;
margin: 15px 0 0 0;
border: 1px dotted;
}

.form-full {
width: 100%;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

/* news */

.news-summary {
margin: 0;
padding: 10px 0 5px 0;
position: relative;
}

.news-body {
padding-left: 85px;
padding-right: 5px;
}

.news-details {
display: block;
margin: 4px 0 0 0;
padding: 0;
overflow: hidden;
white-space: nowrap;
}

.news-details span {
margin: 0;
vertical-align: top;
}

.news-details img {
margin: 0;
vertical-align: text-bottom;
}

.news-details select {
border: none;
font-size: 90%;
letter-spacing: 0px;
max-width: 7.5em;
vertical-align: top;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 6px;
}

.news-details .comments {
padding: 0 6px 0 22px ;
font-weight: bold;
border-left: none;
}

/* Counter box */
.news-shakeit {
position: absolute;
top: 10px;
left: 12px;
width: 65px;
text-align: center;
font-size: 8.2pt;
margin: 5px 0 0 0;
padding: 0;
overflow: hidden;
}

.mnm-published a, .mnm-queued a, .mnm-discarded a {
display: block;
font-size: 16pt;
font-weight: normal;
height: 19pt !important;
letter-spacing: -1px;
text-decoration: none;
vertical-align: bottom;
}

.mnm-published {
display: block;
padding: 4px 0 4px 0;
}

.mnm-queued {
display: block;
border: 1px solid;
padding: 4px 0 4px 0;
}

.mnm-discarded {
display: block;
border: 1px solid;
padding: 4px 0 4px 0;
}

/* vote box */

.menealo a {
border: 1px solid;
}

.menealo a, .menealo span {
margin-top: 2px;
display: block;
padding: 4px 0 4px 0;
}

.menealo span {
border: 1px dotted;
}

.news-body h1 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: normal;
background: none;
border: none;
}

.news-body p {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: left;
overflow: hidden;
}

.news-submitted {
font-size: 85%;
margin: 0;
white-space: nowrap;
min-height: 25px;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
}

.news-tags {
font-size: 90%;
margin: 0;
}


/* trackback */

.tab-trackback-url {
font-weight: bold;
font-size: 100%;
}

.tab-trackback {
margin: 0 0;
padding: 0 0 0 5px;
font-size: 90%;
font-weight: normal;
}

.tab-trackback li {
list-style: none;
text-align: left;
padding: 0 0 5px 5px;
margin: 2px;
overflow: hidden;
}

.tab-trackback-entry a {
padding: 2px 0 0 20px;
}

.tab-trackback-technorati a, .tab-trackback-google a, .tab-trackback-askcom a {
padding: 5px 0 2px 20px;
}

/* submit form */

#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

/* comments [& incipient notes] */

.comments {
margin: 15px 5px 0 10px;
}

.notes {
margin: 15px 5px 0 15px;
}

.comments h3 {
margin: 0;
}


.commentform a:link, .commentform a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
}

.commentform .submit {
font-weight: bold;
border: 1px dotted;
}

.commentform a:hover {
text-decoration: none;
}

.commentform textarea {
display: block;
width: 99%;
margin: 0 0 10px 0;
}

.commentform label {
font-weight: bold;
font-size: 100%;
}

.commentform.warn {
border: 0;
padding: 5px 0px 5px 0px;
font-weight: bold;
text-align: center;
}

.commentform.warn p, .commentform.warn ul {
text-align: left;
font-weight: normal;
padding-left: 30px;
}

.commentform.warn li {
line-height: 0px;
margin-left: 25px;
}

.commentform.warn p {
margin-top: 20px;
}

.commentform.warn em {
font-weight: bold;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {
padding: 5px 50px 5px 10px;
line-height: 130%;
overflow: hidden;
border: 1px dotted;
min-height: 25px;
}

.comment-body-hidden {
border: 1px dotted;
padding: 3px 50px 3px 10px;
font-size: 90%;
overflow: hidden;
}

.comment-body strong {
font-weight: bold;
}

.comment-body .avatar {
float: left;
margin: 2px 10px 2px 0;
} * html .comment-body .avatar { float:none; vertical-align: baseline;}

.comment-meta, .comment-meta-hidden {
font-size: 85%;
line-height: 160%;
padding: 0 0px 5px 0;
}

.comment-meta a {
font-weight: bold;
}

.comment-info {
text-align: right;
}

.comment-votes-info {
float: left;
display: inline;
}

.comment-votes-info img {
border: none;
margin: 0 4px 0 0;
vertical-align: middle;
}

.comment-info img {
border: none;
margin: 1px 0 0 4px;
vertical-align: middle;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
}

.comments .comment-info select {
font-size: 85%;
}

#tolerance, #tolerance select {
font-size: 85%;
}

/* fieldsets */

fieldset {
border: 1px solid;
padding: 10px 10px;
margin: 10px 0;
}

/* pagination */

.pages, .pages-margin {
padding: 10px 0 0 0;
margin: 20px 0 50px 0;
clear: left;
font-size: 9pt;
}

.pages-margin {
margin-left: 90px;
}

.pages a, .pages span, .pages-margin a, .pages-margin span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
border: 1px solid;
}

.pages span.current, .pages-margin span.current {
border: 1px solid;
font-weight: bold;
}

.pages span.current a, .pages-margin span.current a {
padding: 0;
border: 0px;
}

.pages a, .pages-margin a {
border: 1px solid;
text-decoration: none;
}

.pages a.nextprev, .pages-margin a.nextprev {
font-weight: bold;
}

.pages span.nextprev, .pages-margin span.nextprev {
border: 1px solid;
}

/* faq page */

.faq-title {
margin: 0 30px 0 150px;
}

.faq {
margin: 0;
}

.faq ol {
font-weight: bold;
}

.faq ul {
font-weight: normal;
}

.faq h3,
.faq h4 {
font-weight: bold;
font-size: 125%;
}

.faq p {
font-weight: normal;
}

.genericform h2 {
margin: 10px 0 10px 0;
}

.genericform fieldset, .genericform-contents fieldset {
border: 1px solid;
}

.genericform {
border: 0;
margin: 0 60px 10px 60px;
padding: 0 0 20px 0;
font-weight: bold;
}

.genericform .sign, .genericform-contents legend {
font-weight: bold;
font-size: 110%;
}

.genericform .genericformtxt {
font-size: 100%;
font-weight: normal;
}

.genericform textarea {
width: 100%;
height: 128px;
}

.geoform {
margin: 5px 0 5px 0;
font-size: 8.5pt;
}

/* generic form: login page specials */

.genericform .recoverpass {
font-size: 125%;
}

.genericform .recoverpass a:link, .recoverpass a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
padding-bottom: 1px;
text-decoration: none;
}

.genericform .recoverpass a:hover {
border-bottom-width: 1px;
border-bottom-style: solid;
padding-bottom: 1px;
text-decoration: none;
}

.genericform .formnotice {
font-weight: normal;
}

/* image forms */

.tc {
margin: 5px 0 5px 0;
}

.sneaker {
margin: 0;
}

.mini-sneaker-title strong, .sneaker-title strong {
font-size: 95%;
}

.sneaker-legend {
font-size: 9pt;
text-align: center;
padding: 3px 0 5px 0;
margin: 0px;
border-bottom: 1px solid;
}

.sneaker-legend img {
margin: 0 25px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid;
padding: 5px 0 5px 0;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status, .sneaker-chat-friends, .sneaker-chat-admin {
float: left;
display: block;
}

.sneaker-ts {
width: 7%;
text-align: left;
}

.sneaker-type {
width: 7%;
}

.sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-chat, .sneaker-chat-friends, .sneaker-chat-admin {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-who {
width: 16%;
text-align: left;
}

.sneaker-who img {
border: 0px solid;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.sneaker-status {
width: 8%;
text-align: right;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
position: relative;
padding: 2px 2px 2px 2px;
float: left;
width: 99%;
overflow: hidden;
height: 150px;
border: 1px solid;
margin: 0 0 5px 0;
}


.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
white-space: nowrap;
}

.friends-item {
float: left;
display: block;
overflow: hidden;
height: 25px;
white-space: nowrap;
width: 48%;
height: 30px;
font-size: 85%;
white-space: nowrap;
}

.friends-item  img,
.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
font-size: 80%;
clear: left;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
border: 1px solid;
}

.mini-pages span.current {
border: 1px solid;
font-weight: bold;
}

.mini-pages span.current a {
padding: 0;
border: 0px;
}

.mini-pages a {
border: 1px solid;
text-decoration: none;
}


#tooltip-shadow {
position:absolute;
visibility:hidden;
z-index:9999;
margin: 0;
padding: 0;
background: url(../../img/common/shadow.png) no-repeat bottom right !important;
background: url(../../img/common/shadow.gif) no-repeat bottom right; 
}

#tooltip-text {
text-align: left;
position:absolute;
visibility:hidden;
margin: 0;
z-index:10000;
border: 1px solid;
padding: 10px;
font-size: 90%;
overflow: hidden;
width: 44em;
max-height: 45ex;
}

.news-websnapr {
border: 1px solid;
float: right;
margin: 0 0 5px 5px;
vertical-align: bottom;
}

.mini-sneaker-item {
margin: 0 5px 0 5px;
width: 99%;
clear: both;
border-bottom: 1px solid;
padding: 2px 0 2px 0;
text-align: center;
overflow: hidden;
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 24%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.rich-edit-key {
padding-right: 5px;
margin-bottom: 3px; /* when edit */
float: right;
}

#addpost {
padding: 0;
margin-top: 0px;
margin-bottom: 10px;
}

.media-icon {
margin-bottom: 0px;
}

/* Simple Modal */

#simplemodal-overlay {
background-color:#888;
cursor:wait;
}

#simplemodal-container {
height:300px;
width:600px;
border:1px solid #FF6400;
background: #FFEEC7;
overflow: hidden;
text-align: left;
font-size: 10pt;
}
#simplemodal-container a.modalCloseImg,
#simplemodal-container a.modalCloseImg:link,
#simplemodal-container a.modalCloseImg:active,
#simplemodal-container a.modalCloseImg:visited {display: inline; text-decoration:none; font-weight:bold; font-size:1.3em; position:absolute; top:-1px; right:5px; color:#fff; cursor: pointer;}
#simplemodal-container a.modelCloseImg:hover {color:#9bb3b3;}

#simplemodal-container .header {
width:100%;
background: url(../../img/common/modal-header-bkg01.png) repeat;
color:#fff;
font-weight:bold;
height: 20px;
text-align:center;
}

#simplemodal-container .content {
padding: 5px 5px 5px 5px;
}

#simplemodal-container .content ul {
padding-left: 15px;
}

#simplemodal-container .content li {
margin: 3px 0 0 0;
}

/* Form defaults */

input, textarea {
margin: 0 0 10px 0;
}

.button, button {
border: 1px solid;
font-weight: bold;
margin: 4px 0 4px 0;
padding: 0 4px 0 4px;
}

legend {
font-weight: bold;
padding: 0 5px;
}

fieldset dl {
margin: 0;
padding: 0;
}

fieldset dt {
clear: left;
float: left;
width: 12em; /* increase for wider dt text */
text-align: right;
padding: 0 10px 4px 5px;
}

fieldset dd {
padding: 0 0 4px 0;
font-weight: bold;
}

label {
font-weight: bold;
}

.note {
font-size: 85%;
font-weight: normal;
}

.toggler img {
border: none;
margin: 0 0 2px 6px;
vertical-align: middle;
}
