/*
Description: CSS color and image file for Menéame
Version: 6.0
Last updated: 22:30 19/06/2008
Site URI: http://meneame.net
Authors: Ricardo Galli and Benjamí Villoslada. CSS by Damián Vila
Licence: Affero GPL License (http://meneame.net/COPYING)
Comments: This file contains only colors or images. All images referenced by the CSS and distributed in the tar file are copyrighted by Benjamí Villoslada and published under a CC license: http://creativecommons.org/licenses/by-sa/2.5/
*/

body {
background-color: #fff;
background-image: url('../../img/common/bkg-01.png');
color: #000;
}

a {
color: #03a;
}

a:hover, a:focus {
color: #ff6400;
}

a:active {
color: #000;
}

a:visited {
color: #551a8b;
}

#wrap, #newswrap, #singlewrap {
background-color: #fff;
}

#header {
background: #feefe5;
}

#logo {
background: url('../../img/mnm/logobg02.png') no-repeat left top;
}

#headtools a {
color: #333;
}

#headtools li {
border-color: #fff;
}

#eli {
background: #fff url('../../img/mnm/eli.png') no-repeat left top;
}

#navigation {
background: #fff url('../../img/common/navibg.png') no-repeat right top;
}

#navigation li {
border-color: #fff;
}

#navigation a {
color: #ff6400;
}

.tabmain {
border-color: #ff6400;
}

.tabmain li {
background: url('../../img/common/tab-wht-bg.png') no-repeat -28px 0;
}

.tabmain li:hover {
background: url('../../img/common/tab-org-bg.png') no-repeat -28px 0;
}

.tabmain li a {
background: #fff;
border-color: #ff6400;
color: #ff6400;
}

.tabmain li a:hover {
background: #feefe5;
}

.tabmain li.tabmain-this {
background: #fff;
background: url('../../img/common/tab-org-bg.png') no-repeat -28px 0;
}

.tabmain li.tabmain-this a {
background: #feefe5 url('../../img/common/reload-bt.png') no-repeat right 6px;
}

.tabsub-shakeit {
background: #feefe5;
}

.tabsub-shakeit li {
border-color: #ff6400;
}

.tabsub-shakeit li a {
color: #ff6400;
}

/* Estilos nuevos para las pestañas de las noticias */

.tabsub {
border-color: #ff6400;
}

.tabsub li {
background: url('../../img/common/tab-wht-bg.png') no-repeat -29px 0;
}

.tabsub li:hover {
background: url('../../img/common/tab-org-bg.png') no-repeat -29px 0;
}

.tabsub li a {
background: #fff;
border-color: #ff6400;
color: #ff6400;
}

.tabsub li a:hover {
background: #feefe5;
}

.tabsub li.tabsub-this {
background: #fff;
background: url('../../img/common/tab-wht-bg.png') no-repeat -29px 0;
}

.tabsub li.tabsub-this a:hover {
background: #fff;
}

.tabsub a:visited,
.tabmain a:visited,
.tabsub-shakeit a:visited {
color: #ff6400;
}

/* Fin de los estilos nuevos */

/*
.catsub-block .thiscat a {
color: #ff6400;
}
*/

.catsub-block {
border-color: #ff9400;
}

.catsub-block li a {
color: #5073c5;
}

#sidebar h4 {
border-color: #ffcbaa;
}

#sidebar h4 , #sidebar h4 a {
color: #FF6400;
}

#sidebar .tags-box h4 a {
color: #FF6400;
}

.mini-pop {
border-color: #ffcbaa;
}

.mnm-pop {
color: #fff;
background: #ff6400 url('../../img/mnm/elmnm-p03-s.png') no-repeat center top;
border-color: #ff6400;
}

.mnm-pop.queued {
color: #ff6400;
background: #fff url('../../img/mnm/elmnm-p03a-s.png') no-repeat center top;
}

.tags-box {
background: #fff url('../../img/common/cloud-bg.png') no-repeat center bottom;
}

.tags-box a {
color: #5073c5;
}

#sidebar .topcommentsli li, .storyrsslist li {
border-color: #ffcbaa;
color: #03a;
}

#sidebar .storyrsslist li {
background: url(../../img/common/feed-icon-12x12.png) no-repeat 0px 5px;
}


#footcol1, #footcol2, #footcol3, #footcol4, #footcol5 {
border-color: #ff6400;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
color: #ff6400;
}

#footcol1 a, #footcol2 a, #footcol3 a, #footcol4 a, #footcol5 a {
color: #5073c5;
}

#footcol1 {
background: url('../../img/common/rss-bigfoot.png') no-repeat 85% bottom;
}

#footthingy {
background: url('../../img/mnm/footeli.png') no-repeat left top;
}

#footthingy li {
color: #999;
}

#footthingy li a {
color: #999;
}

#footthingy p {
border-color: #ff6400;
background: url('../../img/mnm/meneito.png') no-repeat left 2px;
}

/*** LEGACY COLORS ***/

.tt {
color: #C85000;
}

h2 {
color: #FF6400;
border-bottom-color: #FF6400;
}

h3 {
color: #FF6400;
}

hr {
background: #ccc;
}

table img {
border-color: #ccc;
}

th, td {
border-bottom-color: #ddd;
}

th.short a, td.short a {
border-color: #FFF;
}

th.short a:hover, td.short a:hover {
background: #FFF;
border-color: #000;
}

tr:hover td {
background: #FFE2C5;
}

th span.info_s {
color: #a00;
}

.warn {
background: #FEFBEA url(../../img/common/error_s.png) 5px 50% no-repeat;
border-color: #FF6400;
}

.error {
color: #FF6400;
background: url(../../img/common/error.png) no-repeat;
}

.error-text {
color: #FF9400;
}

.form-error, .form-error-submit {
color: #FF5900;
background: url(../../img/common/error.png) 0 50% no-repeat;
}

.form-error-submit {
background: #FFE2C5;
border-color: #FF6400;
}

/* news */

.news-details {
color: #FF6400;
}

.news-details a:link, .news-details a:visited {
color: #FF7C00;
}

/*
.news-details select {
background: #FFF;
color: #FF7C00;
}
*/

.news-details .tool {
border-left-color: #FF6400;
}

/* Counter box */

.mnm-published a:hover, .mnm-queued a:hover, .mnm-discarded a:hover {
color: #03A;
}

.mnm-published, .mnm-published a, .mnm-published a:visited {
color: #FFF;
}

.mnm-published {
background: #FF6400 url(../../img/mnm/elmnm-p03.png) top left no-repeat;
}

.mnm-queued, .mnm-queued a, .mnm-queued a:visited {
color: #FF6400;
}

.mnm-queued {
background: #FFF url(../../img/mnm/elmnm-p03a.png) top left no-repeat;
border-color: #FF6400;
}

.mnm-discarded, .mnm-discarded a, .mnm-discarded a:visited {
color: #FFF;
}

.mnm-discarded {
background: #D9AA95 url(../../img/mnm/elmnm-p03b.png) top left no-repeat;
border-color: #D9AA95;
}

/* vote box */

.menealo {
background-color: #fff;
}

.menealo a {
background: url(../../img/common/menealo-background.png) bottom left repeat-x;
border-color: #ffcbaa;
}

.menealo a, .menealo span {
color: #FF6400;
}

.menealo span {
border-color: #FF6400;
}

.news-submitted {
color: #666;
}

.news-submitted a:link, .news-submitted a:visited {
color: #666;
}

.news-tags {
color: #666;
}

/* gravatar */

.news-submitted img {
border-color: #FFE2C5;
}

/* trackback */

.tab-trackback-url {
color: #FF6400;
}

.tab-trackback-entry {
color: #666;
}

.tab-trackback-entry a {
background: url(../../img/common/mnu-list-image02.png) no-repeat 0px 4px;
}

.tab-trackback-technorati a {
background: url(../../img/favicons/technorati.png) no-repeat 0px 4px;
}

.tab-trackback-google a {
background: url(../../img/favicons/google.png) no-repeat 0px 4px;
}

.tab-trackback-askcom a {
background: url(../../img/favicons/ask.gif) no-repeat 0px 4px;
}
 
/* submit form */

/* comments */

.commentform a:link, .commentform a:visited {
color: #FFF;
}

.commentform .submit {
background: #FF6400;
color: #FFF;
border-color: #FFF;
}

/*
.commentform textarea {
color: #303030;
background: #FFE2C5;
border-color: #FF9400;
}

.commentform label {
color: #FF6400;
}
*/

.commentform.warn {
background: #FF6400;
color: #FFF;
}

.comments-warning {
color: #9B0000;
}

.news-details .comments {
background: url(../../img/common/tocomments01.png) no-repeat left;
}

.comment-body {
background: #feefe5 url(../../img/mnm/comment-1.png) right bottom no-repeat;
color: #202020;
border-color: #FF6400;
}

.comment-body.admin {
background: #FFC8A6;
border-color: #FF9400;
color: #000;
}

.comment-body.high {
background: #FFC8A6 url(../../img/common/comment-high.png) right bottom no-repeat;
border-color: #FF9400;
}

.comment-body-hidden {
border-color: #aaa;
color: #aaa;
}

.comment-body-hidden a {
color: #aaa;
}

.comment-body strong {
color: #FF6400;
}

.comment-body span strong {
color: #000;
}

.comment-meta, .comment-meta-hidden {
color: #FF6400;
}

.comment-meta-hidden, .comment-meta-hidden a {
color: #aaa;
}

.comment-meta a {
color: #FF9400;
}

.comments-list ul {
background: #FFF;
}

/* gravatar */

.thumbnail {
border-color: #FFE2C5;
}

/* pagination */

.pages, .pages-margin {
border-top-color: #FF6400;
}

.pages a, .pages span, .pages-margin a, .pages-margin span {
color: #FF6400;
border-color: #FFF;
background: #FFF;
}

.pages span.current, .pages-margin span.current {
background: #FFBE94;
color: #FF6400;
border-color: #FF6400;
}

.pages span.current a, .pages-margin span.current a {
background: #FF6400;
color: #FF6400;
}

.pages a, .pages-margin a {
border-color: #FF6400;
background: url(../../img/common/tabs/tabsub-background.png) bottom left repeat-x;
}

.pages a:hover, .pages-margin a:hover {
border-color: #FF9400;
background: #FFBE94;
color: #FF6400;
}

.pages span.nextprev, .pages-margin span.nextprev {
color: #FFE2C5;
}

.pages span.nextprev, .pages-margin span.nextprev {
border-color: #FFE2C5;
color: #FFE2C5;
}

/* faq page */

.faq ul,
.faq ol {
color: #FF6400;
}

.faq h3,
.faq h4 {
color: #FF6400;
}

.faq p {
color: #303030;
}

/* generic form and wide page */

.genericform fieldset {
background: #FEF6EF;
border-color: #FF6400;
}

.genericform, .geoform {
background: #FFF;
color: #FF6400;
}

.genericform .sign legend {
color: #FF6400;
}

/*
.genericform .genericsubmit {
background: #fff url(../../img/common/menealo-background.png) bottom left repeat-x;
border-color: #FF6400;
color: #FF6400;
}
*/

.genericform .genericsubmit:hover {
background: #FFBE94;
color: #FFF;
}

.genericform .genericformtxt {
color: #303030;
}

/*
.genericform input, .geoform input  {
background: #FFE2C5;
border-color: #FF6400;
color: #303030;
}

.genericform textarea {
background: #FFE2C5;
border-color: #FF6400;
color: #303030;
}
*/

/* generic form: login page specials */

.genericform .recoverpass {
color: #FF6400;
}

.genericform .recoverpass a:link, .recoverpass a:visited {
color: #FF6400;
}

.genericform .formnotice {
color: #303030;
}

.voters-list {
color: #FF6400;
background: #FFF;
border-color: #FFE2C5;
}

.mini-pages a, .mini-pages span {
color: #FF6400;
border-color: #FFF;
background: url(../../img/common/tabs/tabsub-background.png) bottom left repeat-x;
}

.mini-pages span.current {
border-color: #FF6400;
background: #FFBE94;
color: #FF6400;
}

.mini-pages span.current a {
background: #FFBE94;
color: #FF6400;
}

.mini-pages a {
border-color: #FF6400;
}

.mini-pages a:hover {
border-color: #FF9400;
background: #FFBE94;
color: #FF6400;
}

#tooltip-text {
background: #FFEEC7;
border-color: #e2d3b0;
}

.news-websnapr {
border-color: #FFE2C5;
}

.mini-sneaker-title strong {
color: #FF9400;
}

.mini-sneaker-item {
border-bottom-color: #FFE2C5;
}

/* Form defaults */

label {
color: #FF6400;
}

textarea,
input  {
background: #fff;
border: 1px solid #FF6400;
color: #303030;
}

select {
background: #FFF;
color: #FF7C00;
}

fieldset {
border-color: #FF6400;
background: #FEEFE5;
}

legend, legend a {
background: #FF6400;
color: #fff;
}

.button, button {
background: #fff url(../../img/common/menealo-background.png) bottom left repeat-x;
border-color: #FF6400;
color: #FF6400;
}

.button:hover, button:hover {
background: #fff;
}

.button:disabled, button:disabled {
background: #feefe5;
}

#headtools input {
background-color: #fff;
border-color: #ff9400;
}

.note {
color: #FF9400;
}

/* Hacks IE6*/

* html .tabmain li a:hover {
background: #fff;
}

* html .tabmain li.tabmain-this a:hover {
background: #feefe5 url('../../img/common/reload-bt.png') no-repeat right 6px;
}

* html .tabsub li a:hover {
background: #fff;
}
