    <div class="genericform" style="text-align: center; margin-left: 20px; margin-right: 20px">
    <fieldset>
	<form id="thisform" action="">
        <select name="type" id="type">
            {% for option in options.types %}
				<option value="{{option}}"
                {% if option == options.type %}
                    selected="selected"
                {% endif %}>{{option}}
                </option>
            {% endfor %}
        </select>
	    &nbsp;&nbsp;

	    <label for="u1">{% trans _("usuario 1") %}:</label>
	    <img id="u1_avatar" alt="avatar 1"
			{% if options.u1 %}
				src="{{ globals.base_url }}backend/get_avatar.php?user={{ options.u1 }}&amp;size=20"
				style="vertical-align:text-bottom"
			{% else %}
				src="{% exec get_no_avatar_url 20 %}"
				style="vertical-align:text-bottom;visibility:hidden"
			{% endif %}
			class="avatar"
			width="20" height="20"/>
	    <input type="text" name="u1" id="u1" value="{{ options.u1 }}" size="12" class="ac_user"/>
	    &nbsp;&nbsp;

	    <label for="u2">{% trans _("usuario 2") %}:</label>
   	    <img id="u2_avatar" alt="avatar 2"
			{% if options.u2 %}
				src="{{ globals.base_url }}backend/get_avatar.php?user={{ options.u2 }}&amp;size=20"
				style="vertical-align:text-bottom"
			{% else %}
				src="{% exec get_no_avatar_url 20 %}"
				style="vertical-align:text-bottom;visibility:hidden"
			{% endif %}
			class="avatar"
			width="20" height="20"/>
	    <input type="text" name="u2" id="u2" value="{{ options.u2 }}" size="12" class="ac_user"/>
	    <br />

	    <input class="button" type="submit" value="{% trans _('mostrar') %}" />
        </form>
    </fieldset>
	</div>
<script type="text/javascript">
	addPostCode('$(".ac_user").user_autocomplete();');
</script>

