<section class="section section-medium section-article-submit">
    <form method="post" class="form">
        <div class="row">
            <div class="col-md-9">

                <input type="hidden" name="key" value="{% exec get_security_key %}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="timestamp" value="{{ globals.now }}" />
                <input type="hidden" name="id" value="{{ link.id }}" />
                <input type="hidden" name="step" value="2" />

                {% include 'story/submit/error.html' %}

                <div class="form-group">
                    <textarea name="title" row="1" class="form-control input-title" maxlength="100" required>{{
                        link.title
                    }}</textarea>
                </div>

                <div class="form-group input-group-editable">
                    <textarea name="bodytext" class="form-control input-editable" minlength="{{ site_properties.intro_min_len }}" maxlength="{{ site_properties.intro_max_len }}" required>{{
                        link.content
                    }}</textarea>
                </div>

                <script type="text/javascript">
                addPostCode(function () {
                    $('.form textarea[name="title"]').autosize();

                    new MediumEditor('.input-editable', {
                        placeholder: {
                            text: '{% trans _('Hace mucho tiempo en una galaxia muy muy lejana...') %}',
                            hideOnClick: true
                        }
                    });
                });
                </script>
            </div>

            <div class="col-md-2 col-md-offset-1">
                <div class="story-blog-aside">
                    <br class="clearfix" />

                    <button type="button" type="submit" class="btn btn-gray" data-toggle="modal" data-target="#modal-save">
                        <i class="fa fa-upload"></i>
                        {% trans _('Guardar') %} | ...
                    </button>
                </div>
            </div>
        </div>

        <div class="modal modal-mnm fade" id="modal-save" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{% trans _('Publicando tu artículo') %}</h4>
                    </div>

                    <div class="modal-body">
                        <p><strong>{% trans _('¿Dónde quieres publicarlo?') %}</strong></p>

                        <div class="form-group mt-20">
                            <select class="form-control">
                                <option value="">Entrevistas</option>
                                <option value="">Artículos</option>
                                <option value="">Astronomía</option>
                            </select>
                        </div>

                        <div class="form-group mt-20">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="nsfw" value="1">
                                    {% trans _('Marcar este artículo como NSFW') %}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-upload"></i>
                            {% trans _('Publicar') %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
