<section class="section section-medium section-article-submit">
    <form method="post" class="form">
        <div class="row">
            <div class="col-md-9">

                <input type="hidden" name="key" value="{% exec get_security_key %}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="timestamp" value="{{ globals.now }}" />
                <input type="hidden" name="id" value="{{ link.id }}" />
                <input type="hidden" name="step" value="2" />

                {% include 'story/submit/error.html' %}

                <div class="form-group">
                    <textarea name="title" row="1" class="form-control input-title" maxlength="100" required>{{
                        link.title
                    }}</textarea>
                </div>

                <div class="form-group input-group-editable">
                    <textarea name="bodytext" class="form-control input-editable" minlength="{{ site_properties.intro_min_len }}" maxlength="{{ site_properties.intro_max_len }}" required>{{
                        link.content
                    }}</textarea>
                </div>
            </div>

            <div class="col-md-2 col-md-offset-1 text-center">
                {% if link.is_new %}
                    {% include 'story/submit/article-2-aside-discard.html' %}
                {% else %}
                    {% include 'story/submit/article-2-aside.html' %}
                {% endif %}
            </div>
        </div>
    </form>
</section>
