<section class="section section-medium section-article-submit">
    <form method="post" class="form">
        <input type="hidden" name="key" value="{% exec get_security_key %}" />
        <input type="hidden" name="randkey" value="{{ link.randkey }}" />
        <input type="hidden" name="timestamp" value="{{ globals.now }}" />
        <input type="hidden" name="id" value="{{ link.id }}" />
        <input type="hidden" name="step" value="2" />

        {% include 'story/submit/error.html' %}

        <div class="form-group">
            <textarea name="title" row="1" class="form-control input-title" maxlength="100" required>{{
                link.title
            }}</textarea>
        </div>

        <div class="form-group input-group-editable">
            <textarea name="bodytext" class="form-control input-editable" minlength="{{ site_properties.intro_min_len }}" maxlength="{{ site_properties.intro_max_len }}" required>{{
                link.content
            }}</textarea>
        </div>

        <div class="mt-20 text-center">
            <a href="javascript:void(0);" onclick="window.location = '{{ globals.base_url }}';" class="btn btn-mnm btn-inverted">
                {% trans _('Salir sin guardar') %}
            </a>

            <button type="submit" class="btn btn-mnm btn-lg">
                {% trans _('Guardar') %}
            </button>
        </div>

        <script type="text/javascript">
        addPostCode(function () {
            $('.form textarea[name="title"]').autosize();

            new MediumEditor('.input-editable', {
                placeholder: {
                    text: '{% trans _('Hace mucho tiempo en una galaxia muy muy lejana...') %}',
                    hideOnClick: true
                }
            });
        });
        </script>
    </form>
</section>
