<section class="section section-medium">

    <div class="row">
        <div class="col-md-12">

            <h1>Has alcanzado el número máximo de borradores permitidos ({{ globals.max_article_drafts }})</h1>
            <br>
            <p>Accede a tu perfil de usuario y edita alguno de los borradores</p><br>
            <br>
            <p><a class="btn btn-mnm btn-lg" href="{{ globals.base_url_general}}user/{{current_user->user_login}}/articles_discard">Ir a perfil de usuario</a></p>

        </div>
    </div>

</section>
