<section class="section section-medium section-story-submit">
    <div class="section-story-submit-step1-layout">
        <div class="section-story-submit-step1-link">
            <form name="new" method="post" class="form">
                <input type="hidden" name="key" value="{{ link.key }}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="step" value="1" />
                <input type="hidden" name="type" value="link" />

                <h1>{% trans _('Comparte un enlace') %}</h1>
                <p class="info">Envía esa historia que crees que debemos conocer pero... Enlaza la fuente original, busca antes para evitar duplicidades y respeta el voto de los demás.</p>

                {% include 'story/submit/error.html' %}

                <div class="form-group form-group-highlight mt-20">
                    <input type="url" name="url" value="{{ link.url }}" class="form-control" placeholder="{% trans _('Pega aquí el enlace que deseas compartir') %}" {% if !site_properties.no_link %} required {% endif %} />
                </div>

                <div class="form-group mt-20">
                    <button type="submit" class="btn btn-mnm btn-lg">{% trans _('Enviar') %}</button>
                </div>
            </form>
        </div>

        {% if site_properties.no_link %}
        <div class="section-story-submit-step1-separator"><span>0</span></div>

        <div class="section-story-submit-step1-article">
            <form method="post" class="form">
                <input type="hidden" name="key" value="{{ link.key }}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="step" value="1" />
                <input type="hidden" name="type" value="article" />

                <h1>{% trans _('Escribe tu artículo') %}</h1>
                <p class="info">¡Tienes mucho que contar! Escribe tu artículo aquí, que sea contenido original y no olvides citar las fuentes que utilices.</p>

                <button type="submit" name="type" value="article" class="btn btn-mnm btn-inverted btn-lg mt-20">
                    {% trans _('Empezar a escribir') %}
                </button>
            </form>
        </div>
        {% endif %}
    </div>
</section>
