@charset "utf-8";

body {
  font-size: 100%;
  width: 290px;
  background: #fff url(../images/bg.png) repeat-x left top;
}

#home-links {
  text-align: right;
  font-size: 80%;
}

.news-title {
  background-color: #cccb92;
  font-size: 110%;
  padding: 0.2em 1em 0.3em 0;
}

.news-summary {
  border-right: 8px solid #cccb92;
  border-left: 8px solid #cccb92;
  margin-bottom: 0.5em;
  width: 274px;
}

.news-content {
  background-color: #fbfadb;
  margin: 0;
  padding: 0.2em 1em 0.2em 0.5em;
}

.news-footer {
  background-color: #cccb92;
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: right;
}

#banner {
  /*border: 1px solid white;*/
  width: 290px;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #5d5b44;
}

a img {
  border: 0px;
}

.tab-active {
  font-weight: bold;
  text-decoration: underline;
}
