/*
Description: Menéame CSS file
Version: 5
Site URI: http://meneame.net
Authors: Ricardo Galli, Benjamí Villoslada, Damián Vila, Aníbal De Castro
Licence: Affero GPL License (http://meneame.net/COPYING)
*/

html * {
margin: 0;
padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: small;
background-color: #fff;
background-image: url('../../img/common/bkg-01.png');
color: #000;
background-color: #fff;
margin:0px;
padding:0px;
}

label {
color: #FF6400;
}

:focus {
outline: 0;
}

select {
background: #FFF;
color: #FF6400;
}

legend {
font-weight: bold;
padding: 0 5px;
}

legend a {
text-decoration: underline;
}

legend, legend a, legend a:visited {
background: #FF6400;
color: #fff;
}

legend a:hover {
color: #888;
}

input, textarea {
margin: 0 0 10px 0;
background: #fff;
border: 1px solid #FF6400;
color: #303030;
}

.button, button, input[type="button"], input[type="submit"] {
border: 1px solid;
font-weight: bold;
margin: 4px 0 4px 0;
padding: 2px 4px 2px 4px;
background: #fff url(../../img/common/button-bck-01.png) top left repeat-x;
border-color: #FF6400;
color: #fff;
}

.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
background: #FFB300;
}

.button:disabled, button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
background: #feefe5;
}

fieldset {
border: 1px solid;
padding: 10px 10px;
margin: 10px 0;
border-color: #FF6400;
background: #FEEFE5;
}


label {
font-weight: bold;
}

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
color: #03a;
}

a:hover, a:focus {
text-decoration: underline;
color: #ff6400;
}

a:active {
color: #000;
}

a:visited {
color: #551a8b;
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly]
{
color: #aaa;
}

/* Rounded boxes, CSS3 and temporary non-standar moz and webkit properties */

/* All 3 px */
#map, .commentform.warn, .warn, .box, fieldset, label {
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/* All 2 px */
.menealo a, .menealo span, .mnm-published, .mnm-queued, .mnm-discarded, .button, input, textarea, legend, button {
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/* END roundboxes */


/* whole header */

#header{
width: 100%;
min-width: 790px;
font-family:'Open Sans', Arial, Helvetica, sans-serif;
}

/* first header zone */

#header-top{
height:25px;
background-color:#3c3c3c;
overflow:hidden;
white-space:nowrap;
}

/* top logo */

#header-top .logo-mnm{
background-image:url('../../img/mnm/h9_logo_mnm.png');
height:16px;
width:96px;
margin-left:25px;
margin-top:4px;
margin-right:0px;
float:left;
/* text-indent:-9999px; */
/* tick from http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

/* editions logo */

#header-top .logo-ed{
background-image:url('../../img/mnm/h9_logo_ed.png');
height:16px;
width:10px;
margin-left:20px;
margin-top:4px;
margin-right:15px;
float:left;
}

/* editions zone */

#header-top ul#edlist{
list-style-type:none;
margin:0;
padding:0;
float:left;
}

#header-top ul li{
font-size:14px;
color:#fff;
position:relative;
float:left;
margin-top:1px;
line-height:135%;
}

#header-top ul#edlist li a{
text-decoration:none;
padding-bottom: 5px;
margin-right:20px;
color:#fff;
}

#header-top ul#edlist li.selected a{
background: url('../../img/common/h9_underline_edition01.png') bottom left repeat-x;
white-space: nowrap;
}

#header-top ul#edlist li a:hover{
color:#fff;
background: url('../../img/common/h9_underline_edition01.png') bottom left repeat-x;
}

/* user zone */

#header-top ul#userinfo{
list-style-type:none;
margin:0;
padding:0;
float:right;
}


#header-top ul#userinfo li{
position:relative;
float:left;
}

#header-top ul#userinfo li a{
text-decoration:none;
color:#fff;
}

#header-top ul#userinfo li a:hover{
color:#ff0000;
}

#header-top .usertext{
font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
font-size:14px;
color:#fff;
margin-right:10px;
margin-top:1px;
}

#header-top .userlogin{
width: 40px;
text-align: center;
margin-top:4px;

}

/* second header zone */

#header-center{
height:45px;
background-color:#ccc;
overflow: hidden;
white-space: nowrap;
}

#header-center .logo-eli{
background-image:url('../../img/mnm/h9_eli.png');
height:35px;
width:39px;
margin-left:50px;
margin-top:5px;
margin-right:55px;
text-indent:-9999px;
float:left;
}

#header-center .edname{
margin:0;
padding:0;
float:left;
font-size:25px;
color:#fff;
position:relative;
float:left;
margin-top:3px;
}


/* search */

#searchform {
font-size: 12px;
width:300px;
height:20px;
margin-top:13px;
margin-right:10px;
position:relative;
float:right;
}

#searchform #searchglass {
background-color: #fff;
position:absolute;
width:20px;
height: 15px;
padding-top: 2px;
padding-left: 2px;
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
vertical-align: top;
}

#searchform #searchbox {
border:0px;
background-color:#fff;
position:absolute;
left:20px;
width:275px;
height: 15px;
padding-top: 2px;
padding-left: 2px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

/* menu 01 header */

#header-menu01{
height:30px;
background-color:#ececec;
white-space:nowrap;
overflow: hidden;
font-size: 15px;
}

/* menu 01 header left items */

#header-menu01 ul#menu01-itemsl{
list-style-type:none;
margin:0;
padding:0;
margin-left:20px;
margin-top:3px;
float:left;
}

#header-menu01 ul li{
margin-right:20px;
position:relative;
float:left;
line-height:145%
}

#header-menu01 ul li a{
color:#ff6400;
text-decoration:none;
}


/* menu 01 header right items */

#header-menu01 ul#menu01-itemsr{
list-style-type:none;
margin:0;
padding:0;
margin-right:0px;
margin-top:3px;
float:right;
display: block;
}

#header-menu01 ul li a{
display:inline-block;
padding-bottom: 5px;
}

#header-menu01 .selected{
background: url('../../img/common/h9_underline_menu01.png') repeat-x 100% 100%;
white-space: nowrap;
}

#header-menu01 ul li a:hover{
color:#ff6400;
background: url('../../img/common/h9_underline_menu01.png') bottom left repeat-x;
}

#wrap {
padding-top: 20px;
min-width: 790px;
max-width: 1300px;
width: 98%;
text-align: left;
background-color: #fff;
margin: auto;
margin-top: 0;
}

.banner-right {
width: 100%;
height: 252px;
margin: 5px 0 20px 0;
}

#container {
clear:both;
}

#sidebar {
float: right;
width: 300px;
margin: 0 2px 25px 10px;
overflow: hidden;
padding-top: 10px;
}

#newswrap {
margin: 10px 316px 0 4px;
}

#singlewrap {
margin: 0 10px 0 10px;
}

#map {
overflow: hidden;
}


#toplink {
position:relative;
background:#f9f9f9;
border:#ddd 1px solid;
padding: 7px 7px 0px 5px;
margin: 15px 0px 10px 6px;
vertical-align:middle;
overflow: hidden;
}

#toplink h1 {
line-height:100%;
font-size: 140%;
font-weight: normal;
margin: 0;
}

#toplink .thumbnail {
float: left;
margin-right: 8px;
margin-bottom: 6px;
}

#toplink p {
color: #888;
font-size: 90%;
}

#toplink .footer {
display:block;
margin-top:5px;
text-transform:capitalize;
font-variant:small-caps;
text-align:right;
color:#aaa;
font-size:90%;
text-decoration:underline;
}

.topbox {
position:relative;
background:#f9f9f9;
border:#ddd 1px solid;
padding: 7px 5px 3px 5px;
margin: 0 0px 15px 0;
vertical-align:middle;
overflow: hidden;
white-space: nowrap;
}

.topbox .title {
margin-top:5px;
text-transform:capitalize;
font-variant:small-caps;
text-align:right;
color:#aaa;
font-size:120%;
}

.mini-icon-text {
vertical-align: middle;
}

.subheader{
margin-top: -20px;
height:30px;
padding-left:25px;
/*background-color:#f9f9f9;*/
font-family:'Open Sans', Arial, Helvetica, sans-serif;
list-style-type: none;
}

.subheader li{
margin-right:25px;
margin-top: 3px;
float:left;
}


.subheader li a{
font-size:14px;
color:#3c3c3c;
text-decoration:none;
}

.subheader li.selected a{
background: url('../../img/common/h9_underline_menu02.png') bottom left repeat-x;
padding-bottom: 5px;
white-space: nowrap;
}

.subheader li a:hover{
color:#3c3c3c;
background: url('../../img/common/h9_underline_menu02.png') bottom left repeat-x;
padding-bottom: 5px;
}

.subheader li.icon{
margin-top:4px;
}

.subheader li.icon-right{
float:right;
background-color: #F9F9F9;
border-color: #F9F9F9;
margin-left: 0px;
margin-right: 10px;
padding-left: 0px;
padding-right: 0px;
color: #FF6400;
font-weight: bold;
}

.toggler img{
margin: 0px 0px 2px 2px !important;
vertical-align: middle;
}


/**** SIDEBAR BOXES ************/

.sidebox {
margin-bottom:25px;
background: #AAA;
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#AAAAAA', EndColorStr='#ffffff', GradientType=0);
background-image: -o-linear-gradient(top, #AAA 60%, #FFFFFF 100%);
background-image: -moz-linear-gradient(top, #AAA 60%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(top, #AAA 60%, #FFFFFF 100%);
background-image: -ms-linear-gradient(top, #AAA 60%, #FFFFFF 100%);
background-image: linear-gradient(top, #AAA 60%, #FFFFFF 100%);
padding: 0px 0px 0px 1px;
}

.sidebox > div {
margin-right:0px;
background: #fff;
padding-bottom:6px;
}

.sidebox .header {
margin-bottom: 3px;
background: #AAA;
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#AAAAAA', EndColorStr='#ffffff', GradientType=1);
background: -o-linear-gradient(left, #AAA 60%, #FFFFFF 100%);
background: -moz-linear-gradient(left, #AAA 60%, #FFFFFF 100%);
background: -webkit-linear-gradient(left, #AAA 60%, #FFFFFF 100%);
background: -ms-linear-gradient(left, #AAA 60%, #FFFFFF 100%);
background: linear-gradient(left, #AAA 60%, #FFFFFF 100%);
}

.sidebox.red {
background: #9E0016;
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#9E0016', EndColorStr='#ffffff', GradientType=0);
background-image: -o-linear-gradient(top, #9E0016 60%, #FFFFFF 100%);
background-image: -moz-linear-gradient(top, #9E0016 60%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(top, #9E0016 60%, #FFFFFF 100%);
background-image: -ms-linear-gradient(top, #9E0016 60%, #FFFFFF 100%);
background-image: linear-gradient(top, #9E0016 60%, #FFFFFF 100%);
padding-left: 1px;
}

.sidebox.red .header {
background: #9E0016;
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#9E0016', EndColorStr='#ffffff', GradientType=1);
background: -o-linear-gradient(left, #9E0016 60%, #FFFFFF 100%);
background: -moz-linear-gradient(left, #9E0016 60%, #FFFFFF 100%);
background: -webkit-linear-gradient(left, #9E0016 60%, #FFFFFF 100%);
background: -ms-linear-gradient(left, #9E0016 60%, #FFFFFF 100%);
background: linear-gradient(left, #9E0016 60%, #FFFFFF 100%);
}

.sidebox.brown {
background: #A84504;
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#A84504', EndColorStr='#ffffff', GradientType=0);
background-image: -o-linear-gradient(top, #A84504 60%, #FFFFFF 100%);
background-image: -moz-linear-gradient(top, #A84504 60%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(top, #A84504 60%, #FFFFFF 100%);
background-image: -ms-linear-gradient(top, #A84504 60%, #FFFFFF 100%);
background-image: linear-gradient(top, #A84504 60%, #FFFFFF 100%);
padding-left: 1px;
}

.sidebox.brown .header {
background: #A84504;
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#A84504', EndColorStr='#ffffff', GradientType=1);
background: -o-linear-gradient(left, #A84504 60%, #FFFFFF 100%);
background: -moz-linear-gradient(left, #A84504 60%, #FFFFFF 100%);
background: -webkit-linear-gradient(left, #A84504 60%, #FFFFFF 100%);
background: -ms-linear-gradient(left, #A84504 60%, #FFFFFF 100%);
background: linear-gradient(left, #A84504 60%, #FFFFFF 100%);
}

.sidebox .header a {
color:#fff;
}

.sidebox.blue a:hover {
color:#0033AA;
}

.sidebox .header {
height:22px;
}

.sidebox h4 {
font-family: Helvetica, Arial, sans-serif;
font-size: 13pt;
text-align:left;
color:#fff;
padding-left: 10px;
margin: 2px 0 0 0;
}

.sidebox .cell {
margin: 5px 10px 5px 10px;
min-height:32px;
clear: both;
}

.sidebox h5 {
font-size:90%;
font-weight: normal;
color:#03F;
margin-left:50px;
}

.sidebox .thumbnail {
margin:0px 0px 10px 10px;
box-shadow: 0 0 5px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.sidebox .votes {
float: left;
width: 40px;
height: 20px;
text-align: center;
font-size: 90%;
font-weight: bold;
overflow: visible;
margin: 2px 0 10px 0;
padding-top: 6px;
color: #fff;
background: #ff6400 url('../../img/mnm/elmnm-p03-s.png') no-repeat center top;
opacity: 0.9; /* Alert */
border: #ff6400 1px solid;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.sidebox .clics {
float: left;
width: 40px;
text-align: center;
line-height: 95%;
padding: 2px 1px;
background: #fff;
}

.sidebox .votes.queued {
color: #ff6400;
background: #fff url('../../img/mnm/elmnm-p03a-s.png') no-repeat center top;
}

.sidebox .mainsites ul {
list-style-type: none;
padding: 0;
margin: 6px 0 0 0;
}

.sidebox .mainsites ul li {
font-size: 0.87em;
font-weight: bold;
color:#333333;
display:block;
padding: 6px 0 6px 8px;
}

.sidebox .tagcloud {
color:#039;
margin:0px;
text-align: center;
}

.sidebox .comments ul {
list-style-type: none;
padding: 0;
}

.sidebox .comments li {
clear: left;
display:block;
font-size: 90%;
color:#039;
margin: 0px 10px 10px 0;
vertical-align: top;
}

.sidebox .comments li img {
float:left;
margin: 3px 0 8px 0;
}

.sidebox .comments li p {
margin-left: 28px;
}

.sidebox .rss {
list-style-type: none;
padding: 0
}

.sidebox .rss li {
font-size: 90%;
color: #039;
display:block;
padding-left: 24px;
background: url(../../img/common/h9_rss.png) no-repeat 4px 0px;
margin: 10px 10px 10px 0px;
}

/**** END SIDEBAR BOXES ************/

#footwrap {
margin: 5em 87px 0 87px;
clear: both;
}

#footcol1, #footcol2, #footcol3, #footcol4, #footcol5 {
float: left;
padding: 0 22px;
border-left: solid 1px #CCCCCC;
font-size: 85%;
margin-bottom: 20px;
}

#footcol1 ul, #footcol2 ul, #footcol3 ul, #footcol4 ul, #footcol5 ul {
padding-bottom: .5em;
}


#footcol1 li, #footcol2 li, #footcol3 li, #footcol4 li, #footcol5 li {
list-style-type: none;
}

#footcol1 {
width: 20%;
background: url('../../img/common/rss-bigfoot.png') no-repeat 85% bottom;
border-left: none;
}

#footcol2 {
width: 12%;
}

#footcol3 {
width: 13%;
}

#footcol4 {
width: 13%;
}

#footcol5 {
width: 9%;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
font-size: 120%;
font-weight: bold;
color: #ff6400;
margin-bottom: 4px;
}

#footcol1 a, #footcol2 a, #footcol3 a, #footcol4 a, #footcol5 a {
color: #5073c5;
}

#footthingy {
clear: both;
margin: 50px 20px 10px 13px;
padding: 0 1em 0 145px;
background: url('../../img/mnm/footeli02.png') no-repeat left top;
position: relative;
overflow: auto;
}

#footthingy li {
display: inline;
list-style-type: none;
font-size: 85%;
color: #999;
}

#footthingy li a {
color: #999;
}

#footthingy p {
border-bottom: 1px solid;
padding-bottom: 0px;
text-indent: -9999px;
border-color: #FF7D12;
background: none;
}

#legalese {
text-align: center;
float: left;
display: inline-block;
width: 84%;
margin-top: 2px;
}

#legalese li {
border-left: none;
padding: 0 0 0 0;
}

#stdcompliance {
padding: 4px 0 0 0;
text-align: right;
float: right;
display: inline-block;
width: 16%;
margin: 0px;
}

#stdcompliance li {
margin: 0px;
}

/*** LEGACY STYLES ***/
/* references in comments and posts */

dl.categorylist {
float: left;
}

dl.categorylist dt label {
margin-left: 20px;
float: none;
width: auto;
text-align: left;
font-size: 110%;
font-weight: bold;
color: #ff6400;
}

dl.categorylist dd label {
margin-left: 35px;
font-size: 85%;
color: #ff9400;
}

.metadd {
margin-top: 5px;
}

dl.categorylist input {
margin-right: 7px;
margin-bottom: 5px;
}

.thumbnail {
overflow: hidden;
float: right;
margin: 0 2px 2px 4px;
box-shadow: 0 0 7px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 7px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.news-submitted img {
float: left;
margin-right: 4px;
vertical-align: bottom;
}

abbr { cursor: help; }

img {
border: none;
}

.shadowed, .avatar, .news-submitted img {
box-shadow: 0 0 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.shadow-red {
box-shadow: 0 0 6px rgba(255,0,0,0.9);
-moz-box-shadow: 0 0 6px rgba(255,0,0,0.9);
-webkit-box-shadow: 0 0 6px rgba(255,0,0,0.9);
}

.shadow-green {
box-shadow: 0 0 4px rgba(0,255,0,0.8);
-moz-box-shadow: 0 0 4px rgba(0,255,0,0.8);
-webkit-box-shadow: 0 0 4px rgba(0,163,131,0.8);
}

.tooltip {
cursor: pointer;
}

.tt {
cursor: pointer;
text-decoration: underline;
color: #C85000;
}

hr {
height: 1px;
border: none;
}

h2 {
margin-top: 0;
margin-bottom: 8px;
font-size: 160%;
font-weight: bold;
color: #FF6400;
}

/* h2 without underline */
.topheading h2 {
padding: 10px 0 20px 0;
margin: 0 0 0 20px;
font-size: 160%;
font-weight: normal;
border: none;
}

h3 {
margin-top: 0;
margin-bottom: 3px;
font-size: 140%;
font-weight: normal;
color: #FF6400;
}

h4 {
font-size: 100%;
font-weight: bold;
margin: 5px 0 3px 0;
}

table.keyvalue tr {
border-bottom: 1px solid;
padding: 5px, 0, 2px, 0;
}

table.keyvalue th {
text-align: right;
padding-right: 4px;
vertical-align: top;
white-space: nowrap;
}

table.keyvalue td {
padding-left: 4px;
}

table.keyvalue td img {
vertical-align: text-bottom;
}

table.decorated {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
clear: both;
}

table.decorated th, table.decorated td {
text-align: left;
font-size: 85%;
padding: 6px;
border-bottom: 1px solid;
}

tr:hover td, table.keyvalue tr:hover th  {
background: #fafafa;
}

th, td, table.decorated th, table.decorated td {
border-bottom-color: #ddd;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid;
border-color: #FFF;
}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid;
background: #FFF;
border-color: #000;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
text-decoration: none;
border: none;
color: #a00;
}

td.count {
font-size: 140%;
text-align: right;
}

.warn {
position: relative;
border: 1px solid;
padding: 3px 10px 3px 30px ;
margin: 5px 0 5px 0;
font-size: 85%;
background: #FEFBEA url(../../img/common/error_s.png) 5px 50% no-repeat;
border-color: #FF6400;
}

.counter {
text-decoration: none;
padding: 1px 4px;
font-weight: bold;
text-align: center;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
color: white;
}

.error {
font-weight: bold;
font-size: 120%;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
color: #FF6400;
background: url(../../img/common/error.png) no-repeat;
}

.error-text {
font-size: 100%;
color: #FF9400;
}

.form-error, .form-error-submit {
font-size: 110%;
font-weight: bold;
margin: 20px 0 10px 20px;
padding: 5px 0 10px 30px;
color: #FF5900;
background: url(../../img/common/error.png) 0 50% no-repeat;
}

.form-error-submit {
padding: 10px;
margin: 15px 0 0 0;
border: 1px solid;
background: #FFE2C5;
border-color: #FF6400;
}

.form-full {
width: 100%;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

/* news */

.news-summary {
margin: 0;
padding: 10px 0 10px 0;
position: relative;
}

.news-body {
padding-left: 80px;
padding-right: 5px;
overflow: hidden;
}

.news-details {
display: block;
padding: 0;
margin: 4px 0 0 0;
overflow: hidden;
white-space: nowrap;
color: #666;
}

.news-details.main {
line-height: 120%;
margin-top: 6px;
}

.news-details a:link, .news-details a:visited {
color: #666;
}

.news-details select {
border: none;
letter-spacing: 0px;
max-width: 8em;
vertical-align: top;
padding: 0;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 6px;
border-left-color: #666;
}

.news-details .comments-counter {
padding: 0 6px 0 0;
border-left: none;
font-size: 115%;
}

.comments-counter .counter {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
background-color: #F30000;
font-size: 9pt;
}

.news-details .comments-counter a:link, .news-details .comments-counter a:visited {
color: #03a;
}

.comments-counter a .counter {
display: inline-block;
line-height: 120%;
margin-right: 0.25em;
} 

.comments-counter a:hover .counter {
text-decoration: none;
}


/* Counter box */
.news-shakeit {
position: absolute;
top: 10px;
left: 7px;
width: 65px;
text-align: center;
font-size: 8.2pt;
margin: 5px 0 0 0;
padding: 0;
overflow: hidden;
}

.mnm-published a, .mnm-queued a, .mnm-discarded a {
display: block;
font-size: 16pt;
font-weight: normal;
height: 19pt !important;
letter-spacing: -1px;
text-decoration: none;
vertical-align: bottom;
}

.mnm-published a:hover, .mnm-queued a:hover, .mnm-discarded a:hover {
color: #03A;
}

.mnm-published, .mnm-published a, .mnm-published a:visited {
color: #FFF;
}

.mnm-published, .mnm-queued, .mnm-discarded {
display: block;
border: 1px solid;
padding: 4px 0 4px 0;
}

.mnm-published {
background: #FF6400 url(../../img/mnm/elmnm-p03.png) top left no-repeat;
border-color: #FF6400;
opacity: 0.9; /* Alert */
}

.mnm-queued, .mnm-queued a, .mnm-queued a:visited {
color: #FF6400;
}

.mnm-queued {
background: #FFF url(../../img/mnm/elmnm-p03a.png) top left no-repeat;
border-color: #FF6400;
}

.mnm-discarded, .mnm-discarded a, .mnm-discarded a:visited {
color: #FFF;
}

.mnm-discarded {
background: #D9AA95 url(../../img/mnm/elmnm-p03b.png) top left no-repeat;
border-color: #D9AA95;
}

/* vote box */

.menealo a {
border: 1px solid;
background: url(../../img/common/menealo-background.png) bottom left repeat-x;
border-color: #ffcbaa;
}

.menealo a, .menealo span {
margin-top: 2px;
display: block;
padding: 4px 0 4px 0;
color: #FF6400;
}

.menealo span {
border: 1px solid;
border-color: #FFCBAA;
}

.menealo span.negative {
font-size:7.5pt;
background: #FFCBAA;
letter-spacing: -0.1pt;
text-shadow: 1px 1px 0 #fff;
}

.clics {
margin: 4px 0 5px 0;
font-size: 7.5pt;
color: #FFB300;
border: solid 1px  #FFDF94;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.news-body h1, .news-body h2 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: normal;
background: none;
border: none;
}

.news-body p {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: left;
overflow: hidden;
}

.news-submitted {
font-size: 85%;
margin: 0;
white-space: nowrap;
min-height: 25px;
color: #666;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
color: #3D72C3;
}

.news-tags {
font-size: 90%;
margin: 0;
color: #666;
}


/* trackback */

.tab-trackback-url {
font-weight: bold;
font-size: 100%;
color: #FF6400;
}

.tab-trackback {
margin: 0 0;
padding: 0 0 0 5px;
font-weight: normal;
}

.tab-trackback li {
list-style: none;
text-align: left;
padding: 0 0 5px 5px;
margin: 2px;
overflow: hidden;
}

.tab-trackback-entry {
color: #666;
}

.tab-trackback-entry a {
padding: 2px 0 0 20px;
background: url(../../img/common/mnu-list-image02.png) no-repeat 0px 4px
}

/* submit form */

#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

/* comments [& incipient notes] */

.comments {
margin: 10px 5px 0 10px;
}

.notes {
margin: 15px 5px 0 15px;
}

.comments h3 {
margin: 0;
}


.commentform a:link, .commentform a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
color: #FFF;
}

.commentform .submit {
font-weight: bold;
border: 1px dotted;
background: #FF6400;
color: #FFF;
border-color: #FFF;
}

.commentform a:hover {
text-decoration: none;
}

/* Should be changed when buttons backgrounds
.commentform fieldset {
background-color: #FFEDC6;
border-color: #FFEDC6;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
*/

.commentform textarea {
display: block;
width: 99%;
margin: 0 0 10px 0;
}

.commentform label {
font-weight: bold;
font-size: 100%;
}

.commentform.warn {
border: 0;
padding: 5px 0px 5px 0px;
font-weight: bold;
text-align: center;
background: #FF6400;
color: #FFF;
}

.commentform.warn p, .commentform.warn ul {
text-align: left;
font-weight: normal;
padding-left: 30px;
}

.commentform.warn li {
line-height: 0px;
margin-left: 25px;
}

.commentform.warn p {
margin-top: 20px;
}

.commentform.warn em {
font-weight: bold;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {
padding: 5px 5px 10px 10px;
line-height: 120%;
text-align: left;
overflow: hidden;
min-height: 25px;
background: #FFF1E2;
color: #202020;
border-color: #FF6400;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.comment-body a strong {
color: #FF6400;
}

.comment-body .tooltip {
color: #C85000;
text-decoration: underline;
}

.comment-body.admin, .comment-body.new {
background: #FFD5AD;
color: #000;
}

.comment-body.high {
background: #FFD5AD url(../../img/common/comment-high-01.png) 99% 5px no-repeat;
}

.comment-body.hidden {
border: 1px solid #ccc;
padding: 0px 5px 0px 10px;
font-size: 90%;
overflow: hidden;
color: #aaa;
background: #fff;
}

.comment-body.user {
border: 1px solid #FFA500;
}

.comment-body a.fancybox {
color: #C85000;
}

.comment-body.hidden a, .comment-body.hidden a strong {
color: #aaa;
}

.comment-body .avatar, #tooltip-text .avatar {
float: left;
margin: 2px 10px 2px 0;
}

.comment-body .thumb, #tooltip-text .thumb {
padding:4px;
background:#fff;
vertical-align: top;
}

.comment-meta {
font-size: 90%;
line-height: 180%;
color: #666;
margin: 0 0 15px 0;
white-space: nowrap;
}

.comment-meta.hidden, .comment-meta.hidden a {
color: #aaa;
}

.comment-meta a {
font-weight: bold;
}

.comment-meta a:hover {
text-decoration: none;
}

.comment-info {
text-align: right;
}

.comment-answers {
margin:-5px 15px 0 40px;
}

.comment-info a {
color: #3D72C3;
}

.comment-votes-info a {
color: #FF9400;
}


.comment-meta .counter {
background-color: #FFB600;
}

.comment-meta .counter.answers {
font-size: 10px;
}

.comment-meta .votes-counter {
font-weight: bold;
padding: 0 3px 0 3px;
}


.comment-votes-info {
float: left;
max-width: 60%;
display: inline;
overflow: hidden;
}

.comment-meta img {
border: none;
margin: 2px 4px 0 4px;
vertical-align: top;
}

.comment-info img {
margin: 2px 0 0 4px;
}


.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
background: #FFF;
}

.comments .comment-info select {
font-size: 85%;
}

#tolerance, #tolerance select {
font-size: 85%;
}

/* pagination */


.pages {
padding: 10px 0 0 0;
margin: 15px 0 50px 0;
clear: left;
background: #FFFFFF;
font-weight: bold;
}

.pages.margin {
margin-left: 90px;
}

.pages a, .pages span {
display: block;
float: left;
padding: 4px 10px 4px 10px;
margin-right: 3px;
color: #FF7D12;
background: #FFF;
}

.pages span.current {
color: #FFF;
background-color: #FF7D12;
border: solid 1px  #FF7D12;
}

.pages span.current a {
}

.pages a {
text-decoration: none;
border: solid 1px  #FF7D12;
}

.pages a:hover {
color: #FFF;
background-color: #FF7D12;
border-color:#FF7D12;
}

.pages span.nextprev {
border: 1px solid #FFE2C5;
color: #FFE2C5;
}


/* faq page */

.faq-title {
margin: 0 30px 0 150px;
}

.faq {
margin: 0;
}

.faq ol {
font-weight: bold;
color: #FF6400;
}

.faq ul {
font-weight: normal;
color: #FF6400;
}

.faq h3,
.faq h4 {
font-weight: bold;
font-size: 125%;
color: #FF6400;
}

.faq p {
font-weight: normal;
color: #303030;
}

.genericform h2 {
margin: 10px 0 10px 0;
}

.genericform fieldset {
border: 1px solid;
background: #FEF6EF;
border-color: #FF6400;
}

.genericform {
border: 0;
margin: 0 60px 10px 60px;
padding: 0 0 20px 0;
font-weight: bold;
background: #FFF;
color: #FF6400;
}

.genericform .sign {
font-weight: bold;
font-size: 110%;
}

.genericform .genericformtxt {
font-size: 100%;
font-weight: normal;
}

.genericform textarea {
width: 100%;
/* height: 128px;*/
}

.geoform {
margin: 5px 0 5px 0;
font-size: 8.5pt;
background: #FFF;
color: #FF6400;
}

.genericform .genericformtxt {
color: #303030;
}

.genericform .recoverpass {
font-size: 125%;
color: #FF6400;
}

.genericform .recoverpass a:link, .recoverpass a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
padding-bottom: 1px;
text-decoration: none;
color: #FF6400;
}

.genericform .recoverpass a:hover {
border-bottom-width: 1px;
border-bottom-style: solid;
padding-bottom: 1px;
text-decoration: none;
}

.genericform .formnotice {
font-weight: normal;
color: #303030;
}

.genericform .sign legend {
color: #FF6400;
}

/* image forms */

.sneaker {
margin: 0;
}

.mini-sneaker-title strong, .sneaker-title strong {
font-size: 95%;
}

.sneaker-legend {
font-size: 9pt;
text-align: center;
padding: 8px 0 2px 0;
margin: 0;
}

.sneaker-legend img {
margin: 0 25px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid;
padding: 5px 0 5px 0;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status, .sneaker-chat-friends, .sneaker-chat-admin {
float: left;
display: block;
}

.sneaker-ts {
width: 7%;
text-align: left;
}

.sneaker-type {
width: 7%;
}

.sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-chat, .sneaker-chat-friends, .sneaker-chat-admin {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-who {
width: 16%;
text-align: left;
}

.sneaker-who img {
border: 0px solid;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.sneaker-status {
width: 8%;
text-align: right;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
position: relative;
padding: 2px 2px 2px 2px;
float: left;
min-height: 150px;
width: 99%;
overflow: hidden;
border: 1px solid;
margin: 0 0 5px 0;
color: #FF6400;
background: #FFF;
border-color: #FF9400;
}


.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
white-space: nowrap;
padding: 5px 0 5px 0;
}

.friends-item {
float: left;
display: block;
overflow: hidden;
height: 25px;
white-space: nowrap;
width: 24%;
height: 30px;
font-size: 85%;
white-space: nowrap;
}

.friends-item  img,
.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
font-size: 80%;
clear: left;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
color: #FF6400;
}

.mini-pages span.current {
border: 1px solid;
font-weight: bold;
border-color: #FF6400;
background: #FFBE94;
color: #FF6400;
}

.mini-pages span.current a {
padding: 0;
border: 0px;
background: #FFBE94;
color: #FF6400;
}

.mini-pages a {
border: 1px solid;
text-decoration: none;
border-color: #FF6400;
border-color: #FFF;
background: #fff url(../../img/common/tabs/tabsub-background.png) bottom left repeat-x;
border: 1px solid;
}

.mini-pages a:hover {
border-color: #FF9400;
background: #FFBE94;
color: #FF6400;
}

#tooltip-text {
border-radius:3px;
text-align: left;
position:absolute;
display:none;
margin: 0;
z-index:15;
border: 1px solid;
padding: 6px;
font-size: 95%;
overflow: hidden;
width: 40%;
max-height: 45ex;
background: #fbfbfb;
border-color: #aaa;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

.mini-sneaker-item {
margin: 0 5px 0 5px;
width: 99%;
clear: both;
border-bottom: 1px solid;
padding: 2px 0 2px 0;
text-align: center;
overflow: hidden;
border-bottom-color: #FFE2C5;
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-title strong {
color: #FF9400;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 24%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.rich-edit-key {
color: #fff;
font-size: 10pt;
text-align: center;
padding: 2pt 0 1.5pt 0;
width: 1.8em;
margin-left: 5px;
float: right;
}

#addpost {
padding: 0;
margin-top: 0px;
margin-bottom: 10px;
}

.media-icon {
margin-bottom: 0px;
}

.note {
font-size: 85%;
font-weight: normal;
color: #FF9400;
}


.link-icon {
vertical-align: middle;
padding: 0px 0px 2px 0px;
}

@media print {
body { font-size: small }
}


#mDialog_box {
position: absolute;
z-index: 1500;
width: 25%;
min-width: 250px;
height: 18.5ex;
border:1px solid #FF6400;
background: #FFEEC7;
overflow: hidden;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}

#mDialog_header {
width:100%;
background: url(../../img/common/modal-header-bkg01.png) repeat;
color:#fff;
font-weight:bold;
height: 20px;
padding-top: 3px;
font-size: 14px;
}

#mDialog_content {
margin-top: 10px;
padding: 0 5px;
vertical-align: center;
text-align: center;
font-weight: bold;
font-size: 110%;
height: 7ex;
overflow: hidden;
color: #101010;
}

#mDialog_options {
margin: 10px;
text-align: center;
}

#mDialog_options button {
margin: 0 15px 0 15px;
padding: 2px 15px;
width: auto;
}

#mDialog_input {
padding: 4px;
width: 60%;
}

#mDialog_close {
float: right;
cursor: pointer;
margin-right: 5px;
}

.semiopaque {
opacity:0.3;
}

.semiopaque:hover {
opacity:1.0;
}

#notifier {
cursor:pointer;
background:#666;
color:#fff;
font-size:14px;
font-weight:bold;
height:25px;
width:28px;
text-align:center;
padding-top:3px;
}

#notifier:hover{
background:#fff;
color: #f00;
}

#notifier.nonzero {
background:#f00;
color:#fff;
}


#notifier_panel {
border-radius:3px;
position:absolute;
right:25px;
top:26px;
padding: 2px 2px;
color:#aaa;
background:#fff;
min-width:200px;
border:1px solid #aaa;
text-align: left;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

#notifier_panel div {
font-size: 13px;
position: relative;
color:#333;
padding:7px 0px 2px 30px;
margin-bottom:0px;
border-top:1px solid #ddd;
height:22px;
}

#notifier_panel div:first-child {
border-top:none;
}

#notifier_panel div:hover {
background-color:#ddd !important;
}

#notifier_panel div a {
color:#888;
text-decoration: none;
}

.header_ad_200x20{ /* temporal: nivea for men ad */
margin:0 0 -2px 15px;
}
