body{
margin:0;
padding:0;
background:#8aaec4;
background-image:url('../../img/nivea_2012/background_01.png');
background-repeat:repeat-x;
background-position:left top;
}

/* top mnm logo */

/** header {{{ */

#header-top{
width: 100%;
height:25px;
min-width: 790px;
font-family:'Open Sans', Arial, Helvetica, sans-serif;
background-color:#3c3c3c;
overflow:hidden;
white-space:nowrap;
}

#header-top ul#edlist{
list-style-type:none;
margin:0;
padding:0 0 0 25px;
float:left;
}

#header-top ul#edlist li{
font-size:14px;
color:#fff;
margin-right:20px;
position:relative;
float:left;
margin-top:1px;
}

#header-top ul#edlist li a{
text-decoration:none;
color:#fff;
}

#header-top ul#edlist li.selected a{
background: url('../../img/common/h9_underline_edition01.png') bottom left repeat-x;
padding-bottom: 5px;
white-space: nowrap;
}

#header-top ul#edlist li a:hover{
color:#fff;
background: url('../../img/common/h9_underline_edition01.png') bottom left repeat-x;
padding-bottom: 5px;
}

#header-top ul#userinfo{
list-style-type:none;
margin:0;
padding:0;
float:right;
}


#header-top ul#userinfo li{
position:relative;
float:left;
}

#header-top ul#userinfo li a{
text-decoration:none;
color:#fff;
}

#header-top ul#userinfo li a:hover{
color:#ff0000;
}

#header-top .usertext{
font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
font-size:14px;
color:#fff;
margin-right:10px;
margin-top:1px;
}

#header-top .userlogin{
width: 40px;
text-align: center;
margin-top:4px;

}

#notifier {
cursor:pointer;
background:#666;
color:#fff;
font-size:14px;
font-weight:bold;
height:25px;
width:28px;
text-align:center;
padding-top:3px;
}

#notifier:hover{
background:#fff;
color: #f00;
}

#notifier.nonzero {
background:#f00;
color:#fff;
}

#notifier_panel {
border-radius:3px;
position:absolute;
right:25px;
top:26px;
padding: 2px 2px;
color:#aaa;
background:#fff;
min-width:200px;
border:1px solid #aaa;
text-align: left;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

#notifier_panel div {
font-size: 13px;
position: relative;
color:#333;
padding:7px 0px 2px 30px;
margin-bottom:0px;
border-top:1px solid #ddd;
height:22px;
}

#notifier_panel div:first-child {
border-top:none;
}

#notifier_panel div:hover {
background-color:#ddd !important;
}

#notifier_panel div a {
color:#888;
text-decoration: none;
}

/** }}} */

.match-title {
  text-align: center;
  text-decoration: none;
  color: white;
}


.mnm-logo{
margin:0;
padding:0;
width:100%;
background:#fff;
border-bottom: 1px solid #ff6400;
}

.mnm-logo img{
margin-top:10px;
margin-left:20px;
margin-bottom:10px;
}

/* banner top */

.banners-container{
margin:0px auto;
margin-top:50px;
padding:0;
width:900px;
height:320px;
}

.banner-central{
margin:0px auto;
padding:0 0 0 55px;
float:left;
}

.banner-lateral-l, .banner-lateral-r{
margin:0px auto;
padding:0;
float:left;
}

.banner-lateral-r{
padding-left:70px;
}

/* game box */

.game{
margin:auto;
margin-top:50px;
margin-bottom:50px;
padding:25px;
width:850px;
overflow:hidden;
background-image:url('../../img/nivea_2012/background.png');
background-repeat:repeat-x;
background-position:left top;
}

.game-footer{
margin:auto;
float:left;
margin-top:5px;
padding:0;
width:850px;
color:#fff;
font-family:'Open Sans',sans-serif;
font-size:15px;
text-align:center;
}

/* 2 teams box */

.teams{
margin:0px auto;
margin-top:15px;
padding:0;
height:200px;
width:650px;
}

.game h1{
color:#fff;
font-family:'Open Sans',sans-serif;
font-size:25px;
margin:0px;
padding:0;
/*text-shadow:0px 0px 1px #fff;*/
text-align:center;
overflow:hidden;
}

/* team box */

/* team flag & name */

.team-A,.team-B{
position: relative;
}

.team-A{
float:left;
}

.team-B{
float:right;
}

.team-A-logo,.team-B-logo{
margin-top:15px;
opacity:0.4;
filter:alpha(opacity=40);
}

.team-B-logo{
float:right;
}

.team-A-logo{
float:left;
}

/* team how many votes box */

.team-votes-box-A,.team-votes-box-B,.team-votes-box-C{
margin-top:30px;
padding:0;
width:90px;
height:115px;
background-color:#ececec;
border:1px solid #ccc;
box-shadow:1px 1px 1px #ccc;
}

.team-votes-box-A{
position: absolute;
top: 0;
right:-60px;
}

.team-votes-box-B{
position: absolute;
top: 0;
left:-60px;
}

.team-votes-box-C{
float:left;
margin-left:130px;
margin-top:20px;
}

.team-votes-count{
margin:5px 0 0 5px;
padding:0;
width:80px;
height:80px;
background-color:#abb7d2;
}

.team-votes-number{
color:#fff;
font-family:'Open Sans',sans-serif;
font-size:25px;
text-align:center;
text-shadow:0 1px 1px #072b7a;
position:relative;
top:10px;
}

.team-votes-meneos{
color:#fff;
font-family:'Open Sans',sans-serif;
font-size:15px;
text-align:center;
text-shadow:0 1px 1px #072b7a;
position:relative;
top:8px;
}

/* team vote button */

.team-votes-menealo{
font-family:'Open Sans',sans-serif;
font-size:13px;
text-align:center;
text-shadow:0 1px 1px #072b7a;
position:relative;
top:-2px;
text-decoration:none;
color:#fff;
cursor: pointer;
}

.disabled{
cursor: default;
}


.team-votes-button-A{
margin:5px 0 0 5px;
padding:0;
width:78px;
height:18px;
border:1px solid #072b7a;
background-color:#abb7d2;
-moz-border-radius:2px;
border-radius:2px;
}

/* button 3d effect */

.team-votes-button-B{
margin:0;
padding:0;
width:78px;
height:14px;
border-top:2px solid #ececec;
background-color:#abb7d2;
-moz-border-radius:2px;
border-radius:2px;
}

/* match voters list box */

.game-voters-list{
margin:0px auto;
padding:2px 2px 2px 2px;
min-height:150px;
width:95%;
overflow:hidden;
background:#E4E9F1;
border:solid 1px #abb7d2;
}

.game-voters-list .item {
font-family:'Open Sans',sans-serif;
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 75%;
white-space: nowrap;
padding: 5px 0 1px 0;
}

.game-voters-list .avatar{
margin:0 5px 0 3px;
}

.game-voters-list a{
text-decoration:none;
color:#072b7a;
}

.game-voters-list a:hover{
color:#abb7d2;
}

/* voters pagination */

.pages,
.game-voters-pages{
padding:10px 0 0 0;
margin:0 0 40px 20px;
clear:left;
font-family:'Open Sans',sans-serif;
font-size:70%;
}

.pages a,.pages span,
.game-voters-pages a,.game-voters-pages span{
display:block;
float:left;
padding:4px 10px 4px 10px;
margin-right:3px;
color:#072b7a;
}

.pages span.current,
.game-voters-pages span.current{
color:#8aaec4;
background-color:#072b7a;
border:solid 1px #072b7a;
}

.pages a,
.game-voters-pages a{
text-decoration:none;
border:solid 1px #072b7a;
background:#E4E9F1;
}

.pages a:hover,
.game-voters-pages a:hover{
color:#fff;
background-color:#072b7a;
border-color:#072b7a;
}

/* general pagination */

.pages-ad{
margin:auto;
margin-top:50px;
padding-bottom:50px;
width:900px;
font-family:'Open Sans',sans-serif;
font-size:15px;
}

.pages-ad a,.pages-ad span{
display:block;
float:left;
padding:4px 10px 4px 10px;
margin-right:3px;
color:#072b7a;
background:#8aaec4;
}

.pages-ad span.current-ad{
color:#6b96b2;
background-color:#072b7a;
border:solid 1px #072b7a;
}

.pages-ad a{
text-decoration:none;
border:solid 1px #072b7a;
}

.pages-ad a:hover{
color:#8aaec4;
background:#072b7a;
border-color:#072b7a;
}

.pages-ad span.nextprev-ad{
border:1px solid #abb7d2;
color:#abb7d2;
}

/* bases */

.bases{
margin:0px auto;
padding:10px 0 10px 0;
width:500px;
background-color:rgba(0,51,119,0.2);
/* IE 6-8 */
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003377,endColorstr=#33003377);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003377,endColorstr=#33003377);
zoom:1;
}

.bases p{
margin:0;
padding:0;
color:#072b7a;
font-family:'Open Sans',sans-serif;
font-size:14px;
color:#fff;
text-align:center;
}

.bases a{
text-decoration:none;
color:#fff;
font-weight:bold;
}

.bases a:hover{
text-decoration:underline;
}
