{% spacefull %}
<script type="text/javascript">
//<![CDATA[
var my_version = '{{ globals.sneak_version }}';
var ts={{ globals.now }} - 3600; // just due a freaking IE cache problem
var server_name = '{{ globals.server_name }}';
var sneak_base_url = 'http://{{ globals.server_name }}{{ globals.base_url }}backend/sneaker2.php';
var mykey = {% exec rand 100 999  %};

{% if current_user.admin %}
var is_admin = true;
{% else %}
var is_admin = false;
{% endif %}


var default_gravatar = base_static+'img/common/no-gravatar-2-20.jpg';
var do_animation = true;
var animating = false;
var animation_colors = Array("#ffc387", "#ffc891", "#ffcd9c", "#ffd2a6", "#ffd7b0", "#ffddba", "#ffe7cf", "#ffecd9", "#fff1e3", "#fff6ed", "#fffbf7", "transparent");
var colors_max = animation_colors.length - 1;
var current_colors = Array();
var animation_timer;

{% if _REQUEST.hoygan %}
var do_hoygan = true;
{% else %}
var do_hoygan = false;
{% endif %}

{% if _REQUEST.flip %}
var do_flip = true;
{% else %}
var do_flip = false;
{% endif %}


// Reload the mnm banner each 5 minutes
var mnm_banner_reload = 180000;


$(function(){start_sneak()});

function play_pause() {
	if (is_playing()) {
		document.images['play-pause-img'].src = base_static+"img/common/sneak-play01.png";
		if( document.getElementById('comment-input'))
			document.getElementById('comment-input').disabled=true;
		do_pause();
		
	} else {
		document.images['play-pause-img'].src = base_static+"img/common/sneak-pause01.png";
		if (document.getElementById('comment-input'))
			document.getElementById('comment-input').disabled=false;
		do_play();
	}
	return false;

}

function set_initial_display(item, i) {
	var j;
	if (i >= colors_max)
		j = colors_max - 1;
	else j = i;
	current_colors[i] = j;
	item.css('background', animation_colors[j]);
}

function clear_animation() {
	clearInterval(animation_timer);
	animating = false;
	$('#items').children().css('background', 'transparent');
}

function animate_background() {
	if (current_colors[0] == colors_max) {
		clearInterval(animation_timer);
		animating = false;
		return;
	}
	var items = new Object; // For IE6
	items = $('#items').children();
	for (i=new_items-1; i>=0; i--) {
		if (current_colors[i] < colors_max) {
			current_colors[i]++;
			items.slice(i,i+1).css('background', animation_colors[current_colors[i]]);
		} else 
			new_items--;
	}
}


function to_html(data) {
	var tstamp=new Date(data.ts*1000);
	var timeStr;
	var text_style = '';
	var chat_class = 'sneaker-chat';

	var hours = tstamp.getHours();
	var minutes = tstamp.getMinutes();
	var seconds = tstamp.getSeconds();

	timeStr  = ((hours < 10) ? "0" : "") + hours;
	timeStr  += ((minutes < 10) ? ":0" : ":") + minutes;
	timeStr  += ((seconds < 10) ? ":0" : ":") + seconds;

	html = '<div class="sneaker-ts">'+timeStr+'<\/div>';

	tooltip_ajax_call= "onmouseout=\"tooltip.clear(event);\"  onclick=\"tooltip.clear(this);\"";
	html += '<div class="sneaker-type"  onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" >';
	switch (data.type) {
		case 'post':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_post_tooltip.php', '"+data.id+"', 10000);\"";
			html += '<img src="'+base_static+'img/common/sneak-newnotame01.png" width="21" height="17" alt="{% trans _('nótame') %}" '+tooltip_ajax_call+'/><\/div>';
			html += '<div class="sneaker-votes">&nbsp;<\/div>';
			if (check_user_ping(data.title)) {
				text_style = 'style="font-weight: bold;"';
			} 
			if (do_hoygan) data.title = to_hoygan(data.title);
			if (do_flip) data.title = flipString(data.title);
			html += '<div class="sneaker-story" '+text_style+'><a target="_blank" href="'+data.link+'">'+data.title+'<\/a><\/div>';
			html += '<div class="sneaker-who"  onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" >';
			if (data.icon != undefined && data.icon.length > 0) {
				html += '<a target="_blank" href="'+base_url+'user.php?login='+data.who+'"><img src="'+data.icon+'" width=20 height=20 onmouseover="return tooltip.ajax_delayed(event, \'get_user_info.php\', '+data.uid+');" onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" /><\/a>';
			}
			html += '&nbsp;<a target="_blank" href="'+base_url+'user.php?login='+data.who+'">'+data.who.substring(0,15)+'<\/a><\/div>';
			html += '<div class="sneaker-status">'+data.status+'<\/div>';
			return html;
			break;
		case 'chat':
			html += '<img src="'+base_static+'img/common/sneak-chat01.png" width="21" height="17" alt="{% trans _('mensaje') %}" title="{% trans _('mensaje') %}" '+tooltip_ajax_call+'/><\/div>';
			html += '<div class="sneaker-votes">&nbsp;<\/div>';
			// Change the style
			if (global_options.show_admin || data.status == 'admin') {
				chat_class = 'sneaker-chat-admin'
			} else if (global_options.show_friends || data.status == '{% trans _('amigo') %}') { 
				// The sender is a friend and sent the message only to friends
				chat_class = 'sneaker-chat-friends'
			}
			if (check_user_ping(data.title)  || (is_admin && data.status != 'admin' && check_admin_ping(data.title))) {
				text_style += 'font-weight: bold;';
			}
			if (text_style.length > 0) {
				// Put the anchor in the same color as the rest of the text
				data.title = data.title.replace(/ href="/gi, ' style="'+text_style+'" href="');
				text_style = 'style="'+text_style+'"';
			}
			// Open in a new window
			data.title = data.title.replace(/(href=")/gi, 'target="_blank" $1'); 
			if (do_hoygan) data.title = to_hoygan(data.title);
			if (do_flip) data.title = flipString(data.title);
			html += '<div class="'+chat_class+'" '+text_style+'>'+data.title+'<\/div>';
			html += '<div class="sneaker-who"  onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" >';
			if (data.icon != undefined &&  data.icon.length > 0) {
				html += '<a target="_blank" href="'+base_url+'user.php?login='+data.who+'"><img src="'+data.icon+'" width=20 height=20 onmouseover="return tooltip.ajax_delayed(event, \'get_user_info.php\', '+data.uid+');" onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" /><\/a>';
			}
			html += '&nbsp;<a target="_blank" href="'+base_url+'user.php?login='+data.who+'">'+data.who.substring(0,15)+'<\/a><\/div>';
			html += '<div class="sneaker-status">'+data.status+'<\/div>';
			return html;
			break;
		case 'vote':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 30000);\"";
			if (data.status == '{% trans _('publicada') %}')
				html += '<img src="'+base_static+'img/common/sneak-vote-published01.png" width="21" height="17" alt="{% trans _('voto') %}" '+tooltip_ajax_call+'/><\/div>';
			else
				html += '<img src="'+base_static+'img/common/sneak-vote01.png" width="21" height="17" alt="{% trans _('voto') %}"  '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'problem':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 30000);\"";
			html += '<img src="'+base_static+'img/common/sneak-problem01.png" width="21" height="17" alt="{% trans _('problema') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'comment':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_comment_tooltip.php', '"+data.id+"', 10000);\"";
			html += '<img src="'+base_static+'img/common/sneak-comment01.png" width="21" height="17" alt="{% trans _('comentario') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'new':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 30000);\"";
			html += '<img src="'+base_static+'img/common/sneak-new01.png" width="21" height="17" alt="{% trans _('nueva') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'published':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 30000);\"";
			html += '<img src="'+base_static+'img/common/sneak-published01.png" width="21" height="17" alt="{% trans _('publicada') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'discarded':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 30000);\"";
			html += '<img src="'+base_static+'img/common/sneak-reject01.png" width="21" height="17" alt="{% trans _('descartada') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'edited':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 10000);\"";
			html += '<img src="'+base_static+'img/common/sneak-edit-notice01.png" width="21" height="17" alt="{% trans _('editada') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'cedited':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_comment_tooltip.php', '"+data.id+"', 10000);\"";
			html += '<img src="'+base_static+'img/common/sneak-edit-comment01.png" width="21" height="17" alt="{% trans _('comentario editado') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		case 'geo_edited':
			tooltip_ajax_call += " onmouseover=\"return tooltip.ajax_delayed(event, 'get_link.php', '"+data.id+"', 10000);\"";
			html += '<img src="'+base_static+'img/common/sneak-geo01.png" width="21" height="17" alt="{% trans _('geo editado') %}" '+tooltip_ajax_call+'/><\/div>';
			break;
		default:
			html += data.type+'<\/div>';
	}

	html += '<div class="sneaker-votes" onmouseout="tooltip.clear(event);" onmouseover="tooltip.clear(event);">'+data.votes+'/'+data.com+'<\/div>';
	if ("undefined" != typeof(data.cid) && data.cid > 0) anchor='#c-'+data.cid;
	else anchor='';
	if (do_hoygan) data.title = to_hoygan(data.title);
	if (do_flip) data.title = flipString(data.title);
	html += '<div class="sneaker-story"><a target="_blank" href="'+data.link+anchor+'">'+data.title+'<\/a><\/div>';
	if (data.type == 'problem') {
		html += '<div class="sneaker-who">';
		html += '<img src="'+base_static+'img/mnm/mnm-anonym-vote-01.png" width=20 height=20 onmouseout="tooltip.clear(event);"/>';
		html += '<span class="sneaker-problem">&nbsp;'+data.who+'<\/span><\/div>';
	} else if (data.uid > 0)  {
		html += '<div class="sneaker-who"  onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" >';
		if (data.icon != undefined && data.icon.length > 0) {
			html += '<a target="_blank" href="'+base_url+'user.php?login='+data.who+'"><img src="'+data.icon+'" width=20 height=20  onmouseover="return tooltip.ajax_delayed(event, \'get_user_info.php\', '+data.uid+');" onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);"/><\/a>';
		}
		html += '&nbsp;<a target="_blank" href="'+base_url+'user.php?login='+data.who+'">'+data.who.substring(0,15)+'<\/a><\/div>';
	} else {
		html += '<div class="sneaker-who">&nbsp;'+data.who.substring(0,15)+'<\/div>';
	}
	if (data.status == '{% trans _('publicada') %}')
		html += '<div class="sneaker-status"><a target="_blank" href="'+base_url+'"><span class="sneaker-published">'+data.status+'<\/span><\/a><\/div>';
	else if (data.status == '{% trans _('descartada') %}')
		html += '<div class="sneaker-status"><a target="_blank" href="'+base_url+'shakeit.php?meta=_discarded"><span class="sneaker-discarded">'+data.status+'<\/span><\/a><\/div>';
	else 
		html += '<div class="sneaker-status"><a target="_blank" href="'+base_url+'shakeit.php">'+data.status+'<\/a><\/div>';
	return html;
}


function check_user_ping(str) {
	if (user_login != '') {
		re = new RegExp('(^|[\\s:,\\?¿!¡;<>\\(\\)])'+user_login+'([\\s:,\\?¿!¡;<>\\(\\).]|$)', "i");
		return str.match(re);
	}
	return false;
}

function check_admin_ping(str) {
	re = new RegExp('(^|[\\s:,\\?¿!¡;<>\\(\\)])(admin|admins|administradora{0,1}|administrador[ae]s)([\\s:,\\?¿!¡;<>\\(\\).]|$)', "i");
	return str.match(re);
}

function to_hoygan(str) 
{
	str=str.replace(/á/gi, 'a');
	str=str.replace(/é/gi, 'e');
	str=str.replace(/í/gi, 'i');
	str=str.replace(/ó/gi, 'o');
	str=str.replace(/ú/gi, 'u');

	str=str.replace(/igo(\s|$)/gi, 'ijo$1');
	str=str.replace(/yo/gi, 'io');
	str=str.replace(/m([pb])/gi, 'n$1');
	str=str.replace(/qu([ei])/gi, 'k$1');
	str=str.replace(/ct/gi, 'st');
	str=str.replace(/cc/gi, 'cs');
	str=str.replace(/ll([aeou])/gi, 'y$1');
	str=str.replace(/ya/gi, 'ia');
	str=str.replace(/yo/gi, 'io');
	str=str.replace(/g([ei])/gi, 'j$1');
	str=str.replace(/^([aeiou][a-z]{3,})/gi, 'h$1');
	str=str.replace(/ ([aeiou][a-z]{3,})/gi, ' h$1');
	str=str.replace(/[zc]([ei])/gi, 's$1');
	str=str.replace(/z([aou])/gi, 's$1');
	str=str.replace(/c([aou])/gi, 'k$1');

	str=str.replace(/b([aeio])/gi, 'vvv;$1');
	str=str.replace(/v([aeio])/gi, 'bbb;$1');
	str=str.replace(/vvv;/gi, 'v');
	str=str.replace(/bbb;/gi, 'b');

	str=str.replace(/oi/gi, 'oy');
	str=str.replace(/xp([re])/gi, 'sp$1');
	str=str.replace(/es un/gi, 'esun');
	str=str.replace(/(^| )h([ae]) /gi, '$1$2 ');
	str=str.replace(/aho/gi, 'ao');
	str=str.replace(/a ver /gi, 'haber ');
	str=str.replace(/ por /gi, ' x ');
	str=str.replace(/ñ/gi, 'ny');
	str=str.replace(/buen/gi, 'GÜEN');

        // benjami
	str=str.replace(/windows/gi, 'güindous');
	str=str.replace(/we/gi, 'güe');
	// str=str.replace(/'. '/gi, '');
	str=str.replace(/,/gi, ' ');
	str=str.replace(/hola/gi, 'ola');
	str=str.replace(/ r([aeiou])/gi, ' rr$1');
	return str.toUpperCase();
}

// From http://www.revfad.com/flip.html
function flipString(aString) {
	aString = aString.toLowerCase();
	var last = aString.length - 1;
	var result = "";
	for (var i = last; i >= 0; --i) {
		result += flipChar(aString.charAt(i))
	}
	return result;
}

function flipChar(c) {
	switch (c) {
	case 'á':
	case 'a':
	case 'à':
		return '\u0250';
	case 'b':
		return 'q';
	case 'c':
		return '\u0254'; //Open o -- copied from pne
	case 'd':
		return 'p';
	case 'e':
	case 'é':
		return '\u01DD';
	case 'f':
		return '\u025F'; //Copied from pne -- 
		//LATIN SMALL LETTER DOTLESS J WITH STROKE
	case 'g':
		return 'b';
	case 'h':
		return '\u0265';
	case 'i':
	case 'í':
		return '\u0131'; //'\u0131\u0323' //copied from pne
	case 'j':
		return '\u0638';
	case 'k':
		return '\u029E';
	case 'l':
		return '1';
	case 'm':
		return '\u026F';
	case 'n':
	case 'ñ':
		return 'u';
	case 'ó':
	case 'o':
		return 'o';
	case 'p':
		return 'd';
	case 'q':
		return 'b';
	case 'r':
		return '\u0279';
	case 's':
		return 's';
	case 't':
		return '\u0287';
	case 'u':
		return 'n';
	case 'v':
		return '\u028C';
	case 'w':
		return '\u028D';
	case 'x':
		return 'x';
	case 'y':
		return '\u028E';
	case 'z':
		return 'z';
	case '[':
		return ']';
	case ']':
		return '[';
	case '(':
		return ')';
	case ')':
		return '(';
	case '{':
		return '}';
	case '}':
		return '{';
	case '?':
		return '\u00BF'; //From pne
	case '\u00BF':
		return '?';
	case '!':
		return '\u00A1';
	case "\'":
		return ',';
	case ',':
		return "\'";
	}
	return c;
}

//]]>
</script>
<script type="text/javascript" src="http://{{ globals.server_name }}{{ globals.base_url }}js/sneak.js.php?{{ globals['sneak_version'] }}" charset="utf-8"></script>
{% endspacefull %}

