<ul class="tabmain">

<li {% if option == 1 %}class="tabmain-this"{% endif %}>
<a href="{{ globals.base_url }}sneak.php">{% trans _('todos') %}</a>
</li>

<li {% if option == 2 %}class="tabmain-this"{% endif %}>
<a href="{{ globals.base_url }}sneak.php?friends=1">{% trans _('amigos') %}</a>
</li>

{% if current_user.user_id > 0 && current_user.admin %}
<li {% if option == 3 %}class="tabmain-this"{% endif %}>
<a href="{{ globals.base_url }}sneak.php?admin=1">{% trans _('admin') %}</a>
</li>
{% endif %}

<li>
<a href="{{ globals.base_url }}telnet.php">&nbsp;<img src="{{ globals.base_static }}img/common/konsole.png" alt="telnet"/>&nbsp;</a>
</li>

</ul>

