<div class="sidebox"><div>
    <div class="header">
        <h4><span>{{ title }}</span></h4>
    </div>
    <div class="mainsites">
        <ul>
        {% for site in res %}
            <li>{{forloop.counter}}.
                <a href="{{globals.base_url}}search.php?q={{site.blog_url|urlencode}}&amp;p=site&amp;h=48&amp;s=published" title="{% trans _('votos 48 horas') %}: {{site.total}} (coef: {{site.coef|intval}})">{{ site.blog_url|hostname }}</a>
            </li>
        {% endfor %}
		</ul>
    </div>
</div></div>
