<div id="c-{{ self.prefix_id }}{{self.html_id}}">
	<div class="{{ self.comment_class }}" id="cid-{{ self.prefix_id }}{{self.id}}">
	{% include 'comment_summary_text.html' %}
	</div>
	<div class="{{ self.comment_meta_class }}">
		<div class="comment-votes-info">
		{% if self.type != 'admin' AND self.user_level != 'disabled' %}
			{% if self.can_vote %}
				{% if self.user_can_vote %}
	 				<span id="c-votes-{{ self.id }}">
					<a href="javascript:menealo_comment({{ current_user.user_id}},{{ self.id }},1)" title="{% trans _('informativo, opinión razonada, buen humor...') %}"><img src="{{ globals.base_static }}img/common/vote-up02.png" width="18" height="16" alt="{% trans _('voto positivo') %}"/></a>&nbsp;
	 				<a href="javascript:menealo_comment({{current_user.user_id}},{{self.id}},-1)" title="{% trans _('racismo, insulto, acoso, spam, magufo...') %}"><img src="{{ globals.base_static }}img/common/vote-down02.png" width="18" height="16" alt="{% trans _('voto negativo') %}"/></a>&nbsp;
	 				</span>
				{% else %}
					{% if self.voted >  0 %}
					<img src="{{ globals.base_static }}img/common/vote-up-gy02.png" width="18" height="16" alt="{% trans _('votado positivo') %}" title="{% trans _('votado positivo') %}"/>
					{% else %}{% if self.voted < 0 %}
					<img src="{{ globals.base_static }}img/common/vote-down-gy02.png" width="18" height="16" alt="{% trans _('votado negativo') %}" title="{% trans _('votado negativo') %}"/>
					{% endif %}{% endif %}
				{% endif %}
			{% endif %}

			{% trans _('votos') %}: <span id="vc-{{ self.id }}">{{ self.votes }}</span>, {% trans _('karma') %}: <span id="vk-{{ self.id }}">{{ self.karma }}</span>&nbsp;

		{% endif %}

		{% if self.has_votes_info %}
			<a class="fancybox" href="{{ globals.base_url }}backend/get_c_v.php?id={{ self.id }}" title="{% trans _('votos') %}"><span class="counter info">i</span></a>&nbsp;
		{% endif %}

		<a href="{% exec self.get_relative_individual_permalink %}" title="permalink"><img class="link-icon" src="{{ globals.base_static }}img/common/link-02.png" width="18" height="16" alt="link" title="{% trans _('enlace permanente') %}"/></a>

		{% if current_user.user_id > 0 %}
		<a id="fav-{{ self.prefix_id }}{{ self.id }}" href="javascript:get_votes('get_favorite_comment.php','{{ current_user.user_id }}','fav-{{ self.prefix_id }}{{ self.id }}',0,'{{ self.id }}')">{% exec favorite_teaser current_user.user_id self 'comment' %}</a>
		{% endif %}

		{% if self.can_reply %}
			<a href="javascript:comment_reply({{ self.c_order }})" title="{% trans _('responder') %}"><img src="{{ globals.base_static }}img/common/reply02.png" width="18" height="16" alt=""/></a>
		{% endif %}
		</div>

		<div class="comment-info">
		{{ self.author_info }}
		<img src="{{ self.avatar_img }}" width="20" height="20"
		{% if self.type != 'admin' AND self.user_level != 'disabled' %}
			class="tooltip u:{{ self.author }}" alt="{{ self.username }}"
		{% endif %}
		/>
		</div>
	</div>
</div>
