<input type="hidden" name="link_id" value="{{ link.id }}" />
<input type="hidden" name="user_id" value="{{ current_user.user_id }}"/>

{% if comment.media_size > 0 %}
	&nbsp;&nbsp;<label>{% trans _('Eliminar imagen') %}: <input type="checkbox" name="image_delete" value="1"/></label>&nbsp;
{% endif %}

{% if current_user.user_karma > globals.media_min_karma OR current_user.admin %}
	<input type="hidden" name="MAX_FILE_SIZE" value="{{ globals.media_max_size }}" />
	<div style="float:right">
	<label>{% trans _('Subir imagen') %}: <input type="file" autocomplete="off" name="image" id="fileInput" accept="image/gif, image/jpeg, image/png"/></label>

	<div class="droparea_info" style></div>

	</div>



	<script type="text/javascript">
	$('form.comment').droparea({maxsize: {{ globals.media_max_size }} });
	</script>

{% endif %}
