{% if globals.fancybox_enabled %}
<script type="text/javascript">
$(
	function() {
		$.getScript("{{globals.base_static}}js/fancybox/jquery.fancybox-1.3.4.pack.js", function () {
			$("a.fancybox"){% if current_user.user_id > 0 %}.click(fancybox_expand_images){% endif %}.fancybox({
				transitionIn: "none",
				transitionOut: "none",
				titlePosition: 'inside',
				titleFormat: function(title, cA, cI, cO) { if ($('#fancybox-img').length ) return title + '&nbsp;[\x3Ca href="'+$('#fancybox-img').attr('src')+'">{% trans _('enlace imagen') %}\x3C/a>]'; else return title; },
				onComplete: function() {
						reportAjaxStats('image', 'single');
					},
			});
		});
	}
);
</script>
{% endif %}
