{% if globals.fancybox_enabled %}
<script type="text/javascript">
$(document).ready(
	function() {
		$("a.fancybox"){% if current_user.user_id > 0 %}.click(fancybox_expand_images){% endif %}.fancybox({
			transitionIn: "none",
			transitionOut: "none",
			titlePosition: 'inside',
			titleFormat: function(title, cA, cI, cO) { return title + '&nbsp;[<a href="'+$('#fancybox-img').attr('src')+'">{% trans _('enlace imagen') %}</a>]' },
			onComplete: function() {
					reportAjaxStats('image', 'single');
				},
		});
	}
);
</script>
{% endif %}
