{% if globals.extra_js %}
	<script type="text/javascript">
	{% for js in globals.extra_js %}
    	{% if js|substr:"0, 4" == 'http' || js|substr:"0, 2" == '//' %}
        	postJavascript.push("{{js}}");
    	{% else %}
        	postJavascript.push("{{globals.base_static}}js/{{js}}");
    	{% endif %}
	{% endfor %}
	</script>
{% endif %}

{% if ! globals.partial %}
<!--[if lt IE 9]>
<script src="{{ globals.jquery }}"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="{{ globals.jquery2 }}"></script>
<!--<![endif]-->

<script src="{{ globals.base_url }}v_{{ globals.v }}/js/{{globals.js_main}}" type="text/javascript" charset="utf-8"></script>
{% endif %}

{# Include Google Adsense Async javascript #}
{% if globals.mobile AND globals.ads %}
{% try_include 'private/ad-google-async.html' %}
{% endif %}

