<script src="{{ globals.jquery }}" type="text/javascript"></script>

<script src="{{ globals.base_url }}js/{{globals.js_main}}?v={{globals.v}}" type="text/javascript" charset="utf-8"></script>

{# colorbox #}
{% if globals.fancybox_enabled %}
    <script type="text/javascript" src="{{globals.base_static}}js/jquery.colorbox-min.js"></script>
{% endif %}

{% if current_user.user_id %}
    <script type="text/javascript" src="{{globals.base_static}}js/jquery.autosize.min.js"></script>
{% endif %}


{% for js in globals.extra_js %}
    {% if js|substr:"0, 4" == 'http' || js|substr:"0, 2" == '//' %}
        <script src="{{js}}" type="text/javascript"></script>
    {% else %}
        <script src="{{globals.base_static}}js/{{js}}?{{ globals.v }}" type="text/javascript"></script>
    {% endif %}
{% endfor %}

