</div>

<div id="footthingy">
<p>menéame</p>
<ul id="legalese">

{# IMPORTANT: links change in every installation, CHANGE IT!!
 contact info #}

{% if globals.is_meneame %}
	<li><a href="{{ globals.legal }}">{% trans _('condiciones legales') %}</a>
	<a href="{{ globals.legal }}#tos">{% trans _('y de uso') %}</a>&nbsp;&#47;&nbsp;</li>
	<li><a href="{{ globals.base_url }}faq-{{ globals.lang }}.php#we">{% trans _('quiénes somos') %}</a>&nbsp;&#47;&nbsp;</li>
	<li>{% trans _('licencias') %}:&nbsp;
	<a href="{{ globals.base_url }}COPYING">{% trans _('código') %}</a>,&nbsp;
	<a href="http://creativecommons.org/licenses/by-sa/3.0/">{% trans _('gráficos') %}</a>,&nbsp;
	<a rel="license" href="http://creativecommons.org/licenses/by/3.0/es/">{% trans _('contenido') %}</a>&nbsp;&#47;&nbsp;</li>
	<li><a href="http://validator.w3.org/check?uri=referer">HTML5</a>&nbsp;&#47;&nbsp;</li>
	<li><a href="http://websvn.meneame.net/listing.php?repname=meneame&amp;path=/branches/version4/">{% trans _('descargar código') %}</a></li>
{% else %}
	<li>link to code and licenses here (please respect the menéame Affero license and publish your own code!)</li>
	<li><a href="">contact here</a></li>
	<li>code: <a href="#">Affero license here</a>, <a href="#">download code here</a></li>
	<li>you and contact link here</li>
{% endif %}

</ul>
{#
<ul id="stdcompliance">
<li><a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:80px;height:15px" src="{{ globals.base_static }}img/common/valid-xhtml10.gif" alt="Valid XHTML 1.0 Transitional" width="80" height="15"/></a></li>
<li><a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3"><img style="border:0;width:80px;height:15px" src="{{ globals.base_static }}img/common/valid-css.gif" alt="Valid CSS" width="80" height="15"/></a></li>
<li><a href="http://feedvalidator.org/check.cgi?url=http://{{ globals.server_name }}/rss2.php?local"><img style="border:0;width:80px;height:15px" src="{{ globals.base_static }}img/common/valid-rss.gif" alt="Valid RSS" title="Validate my RSS feed" width="80" height="15"/></a></li>
</ul>
#}
</div>

</div>

{# colorbox #}
{% if globals.fancybox_enabled %}
	<script type="text/javascript" src="{{globals.base_static}}js/jquery.colorbox-min.js"></script>
{% endif %}

{% if current_user.user_id %}
	<script type="text/javascript" src="{{globals.base_static}}js/jquery.autosize-min.js"></script>
{% endif %}

{% for js in globals.post_js %}
	{% if js|substr:"0, 4" == 'http' %}
		<script src="{{js}}" type="text/javascript"></script>
	{% else %}
		<script src="{{globals.base_static}}js/{{js}}" type="text/javascript"></script>
	{% endif %}
{% endfor %}

{# warn warn warn
  dont do stats of password recovering pages #}

{% spacefull %}
{% try_include 'private/stats.html' %}
</body>
{% meneame_endtime %}
{% endspacefull %}
</html>
