  <ul id="userinfo">
	{% if current_user.user_id > 0 %}
		<li class="usertext"><a href="{{ current_user.user_login|useruri }}" class="tooltip u:{{ current_user.user_id }}">{{current_user.user_login}}</a></li>
			{% if current_user.admin %}
				<li class="usertext"><a href="{{ globals.base_url }}admin/bans.php">admin</a></li>
			{% endif %}
		<li id="notifier"></li></li>
		<li><a href="{{ current_user.user_login|useruri }}"><img class="tooltip u:{{ current_user.user_id }}" src="{% exec get_avatar_url current_user.user_id, current_user.user_avatar, 25 %}" width="25" height="25" alt="{{current_user.user_login}}"/></a></li>

		<li class="userlogin"><a href="{{ globals.base_url }}login.php?op=logout&amp;return={{globals.uri|urlencode}}" title="{%trans _('cerrar sesión')%}"><img src="{{ globals.base_url }}img/common/h9_login.png" width="16" height="16" alt=""/></a></li>
	{% else %}
		<li class="usertext"><a href="{{ globals.base_url }}login.php?return={{globals.uri|urlencode}}">{% trans _('login') %}</a></li>
		<li class="usertext"><a href="{{ globals.base_url }}register.php">{% trans _('registrarse') %}</a></li>
    {% endif %}
  </ul>
