<div style="background:#f9f9f9; border:#ddd 1px solid; padding: 7px 7px 5px 5px; margin: 15px 2px 10px 6px; vertical-align:middle;overflow: auto;">
{% if self.thumb_x > 0 &&  self.thumb_y > 0 %}
	<img src='{% exec self.has_thumb %}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt='' class='thumbnail' style="float: left; margin-right: 8px"/>
{% endif %}
<h1 style="font-size: 150%; font-weight: normal; margin: 0"><a href="{% exec self.get_permalink %}">{{ self.title }}</a></h1>
<p style="font-size: 90%; color: #888">{{ self.content|text_to_html:"links" }}</p>
</div>
