<div id="bar" class="bar">
	<div class="{{ self.box_class }}"><strong id="a-votes-{{ self.id}}">{{ self.total_votes }}</strong></div>
	{% if self.votes_enabled %}
		<div class="menealo" id="a-va-{{ self.id }}">
		{% if not self.voted %}
			<a href="javascript:menealo({{ current_user.user_id}}, {{self.id}})" id="a-shake-{{ self.id }}">{% trans _('menéalo') %}</a>
		{% else %}
			{% if self.voted > 0 %}
				<span id="a-shake-{{ self.id }}">{% trans _('¡chachi!') %}</span>
			{% else %}
				<span id="a-shake-{{ self.id }}" class="negative">{{ globals.negative_votes_values[self.voted] }}</span>
			{% endif %}
		{% endif %}
		</div>
	{% endif %}

	{% if self.can_vote_negative %}
		<form  class="tool" action="" id="problem-{{ self.id }}">
		<select name="ratings"	onchange="report_problem(this.form,{{current_user.user_id}}, {{self.id}})">
			<option value="0" selected="selected">{% trans _('problema') %}</option>
			{% for pkey, pvalue in globals.negative_votes_values %}
				<option value="{{pkey}}">{{ pvalue }}</option>
			{% endfor %}
		</select>
		</form>
	{% endif %}

	{% if current_user.user_id > 0 %}
		<a class="info" id="fav-{{ self.id }}" href="javascript:get_votes('get_favorite.php','{{ current_user.user_id }}', 'fav-{{ self.id }}',0,'{{self.id }}')">{% exec favorite_teaser current_user.user_id self %}</a>
	{% endif %}

	<a class="tooltip l:{{ self.id }} info">i</a>
	<a class="close" href="{{ self.url }}" title="{% trans _('cerrar barra') %}">X</a>
</div>
<script type="text/javascript">
	$("#header-logo").attr('href', '{{ self.permalink }}')
		.attr('title', "{% trans _('ir a') %} «{{ self.title }}» {% trans _('en menéame') %}")
		.onclick(function () { location.href='{{ self.permalink }}' })
		.after($('#bar'));
</script>
</div></div>
<iframe id="content" frameborder="0" noresize="noresize" src="{{ self.url|escape }}"></iframe>
{% try_include 'private/stats.html' %}
</body>
</html>

