<div class="news-summary">

	<div class="news-body">

		 <div class="club-share">

		  {% if globals.link || type == 'short' %}
		  {% if type!='short' %}
			<span class="tool">
				{% exec self.get_short_permalink as shortlink %}
				{% exec urlencode shortlink as enc_shortlink %}
				{% exec urlencode self.title as enc_title %}
				{# Share icons #}
				{% trans _('compartir') %}
				<br />&nbsp;<a href="http://twitter.com/home?status={{ enc_title }} {{ enc_shortlink }} {% if globals.twitter_user %}(@{{ globals.twitter_user }}){% endif %}" target="_blank"><img src="{{ globals.base_static }}img/favicons/twitter.gif" alt="twitter" title="{% trans _('compartir en %s') "twitter" %}" width="16" height="16"/></a>
				&nbsp;<a href="http://www.facebook.com/share.php?u={{ enc_shortlink }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/fb.gif" alt="facebook" title="{% trans _('compartir en %s') "facebook" %}" width="16" height="16"/></a><br />
				&nbsp;<a href="http://www.tuenti.com/share?url={{ self.permalink|urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/tuenti.png" alt="tuenti" title="{% trans _('compartir en %s') "tuenti" %}" width="16" height="16"/></a>
				&nbsp;<a href="http://www.google.com/buzz/post?url={{ enc_shortlink }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/buzz.png" alt="buzz" title="{% trans _('compartir en %s') "buzz" %}" width="16" height="16"/></a>
			</span>
		{% endif %}
		{% endif %}

		</div>

	<h1>
		<a href="{{ self.url|escape }}"
		{% if globals.click_counter %}
			onmousedown="return clk(this, {{ self.id }})"
		{% endif %}
		{% if self.status != 'published' %} rel="nofollow"{% endif %}>{{ self.title }}
		</a>
		{% if self.content_type == 'image' %}
			&nbsp;<img src="{{ globals.base_static }}img/common/is-photo01.png" class="media-icon" width="18" height="15" alt="{% trans _('imagen') %}" title="{% trans _('imagen') %}" />
		{% endif %}
		{% if self.content_type == 'video' %}
			&nbsp;<img src="{{ globals.base_static }}img/common/is-video01.png" class="media-icon" width="18" height="15" alt="{% trans _('vídeo') %}" title="{% trans _('vídeo') %}" />
		{% endif %}

	</h1>
	<div class="news-submitted">
		{% trans _('Publicado el') %} {% exec get_date_time self.sent_date %}
	</div>

	{% if type == 'full' || type == 'preview' %}
		{% if self.thumb_url %}
			<img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt='' class='thumbnail'/>
		{% endif %}
		<p>
			{{ self.content }}
			{% if type != 'preview' %}
				{% if self.is_editable %}
					&nbsp;&nbsp;<a href="{% get_url 'editlink.php?id=' self.id '&amp;user=' current_user.user_id %}" title="{% trans _('editar noticia') %} #{{ self.id }}"><img class="mini-icon-text" src="{{ globals.base_static }}img/common/edit-misc01.png" alt="edit" width="18" height="12"/></a>
				{% endif %}
			{% endif %}
		</p>
		<br />
	{% endif %}

	{% exec do_banner_story as dummy %}
	</div>
</div>