<div id="toplink">

{% if self.thumb_medium_url %}
	<a href="{{ self.thumb_medium_url }}" class="fancybox" title="{% trans _('miniatura') %}"><img src="{{ globals.base_static_noversion }}{{ self.thumb_path }}/thumb_2x-{{ self.id }}.jpg" alt="{{ self.title }}" class='thumbnail medium'/></a>
{% else %} {% if self.thumb_url %}
	<a href="{{ self.thumb_medium_url }}" class="fancybox" title="{% trans _('miniatura') %}"><img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt="{{ self.title }}" class='thumbnail'/></a>
{% endif %}{% endif %}

<h1><a href="{% exec self.get_permalink %}">{{ self.title }}</a></h1>

{% if not globals.mobile %}
	{% if self.thumb_url %}
		<p>{% exec text_to_summary self.content 600 %}</p>
	{% else %}
		<p>{% exec text_to_summary self.content 200 %}</p>
	{% endif %}
{% endif %}

<a class="footer"
{% if self.thumb_x > 0 &&  self.thumb_y > 0 %}
		style="position:absolute;bottom:0;right:4px;"
{% endif %}
	href="{{ globals.base_url }}topactive.php">{% trans _('La historia destacada') %}</a>
</div>
