<div class="news-summary">
	<div class="news-body">
	{% if self.show_shakebox %}
		<div class="news-shakeit">
			<div class="{{ self.box_class }}">
				<a id="a-votes-{{ self.id}}" href="{{ self.permalink }}">{{ self.total_votes }}</a>
				{% trans _('meneos') %}
			</div>
			{% if not globals.bot %}

			<div class="menealo" id="a-va-{{ self.id }}">
			{% if not self.votes_enabled %}
				<span>{% trans _('cerrado') %}</span>
			{% else %}
				{% if not self.voted %}
					<a href="javascript:menealo({{ current_user.user_id}}, {{self.id}})" id="a-shake-{{ self.id }}">{% trans _('menéalo') %}</a>
				{% else %}
					{% if self.voted > 0 %}
					<span id="a-shake-{{ self.id }}">{% trans _('¡chachi!') %}</span>
					{% else %}
					<span id="a-shake-{{ self.id }}" class="negative">{{ globals.negative_votes_values[self.voted] }}</span>
					{% endif %}
				{% endif %}
			{% endif %}
			</div>

			{% endif %}
			{% if self.show_clicks && globals.click_counter && globals.click_counter <= self.id %}
				<div style="background-color: #FFB300; margin-top: 3px; color: #fff">
				{{ self.clicks }} {% trans _('clics') %}
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if self.status == 'abuse' OR self.has_warning %}
		{% if self.status == 'abuse' %}
			<div class="warn"><strong>{% trans _('Aviso') %}</strong>
				{% trans _('noticia descartada por violar las') %}
				<a href="{{ globals.legal }}#tos">{% trans _('normas de uso') %}</a>
			</div>
		{% else %}
			{% if self.has_warning %}
				<div class="warn"><strong>{% trans _('Aviso automático') %}</strong>:
				{% if self.status == 'published' %}
					{% trans _('noticia errónea o controvertida, por favor lee los comentarios.') %}
				{% else %}
				{% if self.author == current_user.user_id AND self.is_editable %}
					{% trans _('Esta noticia tiene varios votos negativos.') %} {% trans _('Tu karma no será afectado si la descartas manualmente.') %}
				{% else %}
					{% if self.negative_text %}
						{% trans  _('Esta noticia podría ser') %} <strong>{{ self.negative_text }}</strong>
					{% else %}
						{% trans _('Esta noticia tiene varios votos negativos.') %}
					{% endif %}
					<a href="{{ self.permalink }}">{% trans _('Asegúrate') %}</a> {% trans _('antes de menear') %}
				{% endif %}
				{% endif %}
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
	{% if globals.ads %}<!-- google_ad_section_start -->{% endif %}

	<h1>
		<a href="{{ self.url|escape }}"
		{% if globals.click_counter %}
			onmousedown="return clk(this, {{ self.id }})"
		{% endif %}
		{% if self.status != 'published' %} rel="nofollow"{% endif %}>{{ self.title }}
		</a>
		{% if self.content_type == 'image' %}
			&nbsp;<img src="{{ globals.base_static }}img/common/is-photo01.png" class="media-icon" width="18" height="15" alt="{% trans _('imagen') %}" title="{% trans _('imagen') %}" />
		{% endif %}
		{% if self.content_type == 'video' %}
			&nbsp;<img src="{{ globals.base_static }}img/common/is-video01.png" class="media-icon" width="18" height="15" alt="{% trans _('vídeo') %}" title="{% trans _('vídeo') %}" />
		{% endif %}
	</h1>

	<div class="news-submitted">
		{% if type != 'short' %}
			<a href="{{ self.username | useruri }}" title="{{ self.username }}"><img src="{% exec get_avatar_url self.author, self.avatar, 25 %}" width="25" height="25" alt="{{ self.username }}" onmouseover="return tooltip.ajax_delayed(event, 'get_user_info.php', {{ self.author }})" onmouseout="tooltip.clear(event);" /></a>
		{% endif %}
		<strong>{{ self.url_str }}</strong>&nbsp;<br />

		{% trans _("por %s") self.username_str %}
		{% if self.print_date %}
			{% trans _('el') %} {% exec get_date_time self.sent_date %}
		    	{% if self.print_date %}
			    {% trans _('publicado el') %} {% exec get_date_time self.date %}
			{% endif %}
		{% else %}
			{% trans _('hace') %} {% exec txt_time_diff self.sent_date %}
			{% if self.status == 'published' %}
				{% trans _('publicado hace') %} {% exec txt_time_diff self.date %}
	        	{% endif %}
		{% endif %}
	</div>

	{% if type == 'full' || type == 'preview' %}
		{% if self.thumb_url %}
			<img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt='' class='thumbnail'/>
		{% endif %}
		<p>
			{{ self.content|text_to_html:"links" }}
			{% if (globals.link AND type != 'preview' ) %}
				{% if self.is_editable %}
					&nbsp;&nbsp;<a href="{% get_url 'editlink.php?id=' self.id '&amp;user=' current_user.user_id %}" title="{% trans _('editar noticia') %} #{{ self.id }}"><img class="mini-icon-text" src="{{ globals.base_static }}img/common/edit-misc01.png" alt="edit" width="18" height="12"/></a>
				{% endif %}

				{% if self.map_editable %}
					&nbsp;&nbsp;<a href="#" onclick="$('#geoedit').load('{% get_url  "geo/get_form.php?id=" self.id  "&amp;type=link&amp;icon=" self.status %}'); return false;">
					<img class="mini-icon-text" src="{{ globals.base_static }}img/common/edit-geo01.png" alt="edit" title="{% trans _('editar geolocalización') %}"/></a>
				{% endif %}
			{% endif %}
		</p>
	{% endif %}


	{% if self.do_inline_friend_votes AND self.friend_votes %}
		<div style="padding: 3px 0 2px 0;">
		{% for vote in self.friend_votes %}
			<a href="{{ vote.user_login | useruri }}" title="{{ vote.user_login }}: {% trans _('valor') %} {{vote.vote_value}}"><img class="avatar" src="{% exec get_avatar_url vote.user_id vote.user_avatar 40 %}" width="40" height="40" alt=""/></a>&nbsp;&nbsp;
		{% endfor %}
		</div>
	{% endif %}



	<div class="news-details main">
		<span class="comments-counter">&nbsp;<a href="{{ self.permalink }}">{% if self.comments > 0 %}{% trans _("%d comentarios") self.comments %}{% else %}{% trans _("sin comentarios") %}{% endif %}</a></span>


		<span class="tool">
		<a href="{% get_url '?meta=' self.meta_uri %}" title="{% trans _('meta') %}">
			{{ self.meta_name}}</a>,
		<a href="{% get_url '?meta=' self.meta_uri '&amp;category=' self.category %}" title="{% trans _('categoría') %}">
			{{self.category_name}}</a>
		</span>
		<span class="tool">karma: <span id="a-karma-{{self.id}}">
			{{ self.karma|intval }}
		</span></span>

		{% if self.can_vote_negative %}
			<form  class="tool" action="" id="problem-{{ self.id }}">
			<select name="ratings"  onchange="report_problem(this.form,{{current_user.user_id}}, {{self.id}})">
				<option value="0" selected="selected">{% trans _('problema') %}</option>
				{% for pkey, pvalue in globals.negative_votes_values %}
					<option value="{{pkey}}">{{ pvalue }}</option>
				{% endfor %}
			</select>
			</form>
		{% endif %}

	</div>

	{% if globals.ads %}<!-- google_ad_section_end -->{% endif %}

	{% if globals.link || ((self.is_editable OR self.status == 'queued') AND globals.now - self.date < 7200) || type == 'short' %}
		{% if self.show_tags AND self.tags %}
		<div class="news-details">
		<strong>{% trans _('etiquetas') %}</strong>:
		{% exec explode "," self.tags as tags_array %}
		{% for id, tag in tags_array %}
			{% if id > 0 %}, {% endif %}
			{% if globals.base_search_url %}<a href="{{ globals.base_url }}{{globals.base_search_url}}tag:{{ tag|urlencode }}">{{ tag }}</a>{% else %}<a href='{{ globals.base_url }}search.php?p=tags&amp;q={{ tag|urlencode }}'>{{ tag }}</a>{% endif %}
		{% endfor %}

		{# Show link to analyze the tags #}
		{% if globals.fancybox_enabled AND globals.sphinx_server AND self.is_editable OR self.author == current_user.user_id %}
		&nbsp;[<a class="fancybox" href="{{ globals.base_url }}backend/tags_analysis.php?id={{ self.id }}" title="{% trans _('diagnóstico de etiquetas') %}"><strong>{% trans _('diagnosticar') %}</strong></a>]
		{% endif %}

		</div>
		{% endif %}
	{% endif %}

	{% if globals.link || type == 'short' %}
		{% if type!='short' %}
			<div class="news-details">
				<strong>{% trans _('negativos') %}</strong>: <span id="a-neg-{{ self.id }}">{{ self.negatives }}</span>&nbsp;&nbsp;
				<strong>{% trans _('usuarios') %}</strong>: <span id="a-usu-{{ self.id }}">{{ self.votes }}</span>&nbsp;&nbsp;
				<strong>{% trans _('anónimos') %}</strong>: <span id="a-ano-{{ self.id }}">{{ self.anonymous }}</span>&nbsp;&nbsp;

			{# show clicks #}
			{% if self.id >= globals.click_counter %}
				<span class="tool"><strong>{% trans _('clics') %}</strong>: {{ self.clicks }}</span>
			{% endif %}

			{% if current_user.user_id > 0 %}
				<span class="tool">
				<a id="fav-{{ self.id }}" href="javascript:get_votes('get_favorite.php','{{ current_user.user_id }}', 'fav-{{ self.id }}',0,'{{self.id }}')">
				{% exec favorite_teaser current_user.user_id self %}
				</a>
				</span>
			{% endif %}

			<span class="tool">
				{% exec self.get_short_permalink as shortlink %}
				{% exec urlencode shortlink as enc_shortlink %}
				{% exec urlencode self.title as enc_title %}
				<strong><a href="{{ shortlink }}" title="{% trans _('enlace corto') %}">{% trans _('compartir') %}</a></strong>:

				{# Share icons #}
				&nbsp;<a href="http://twitter.com/home?status={{ enc_title }} {{ enc_shortlink }} {% if globals.twitter_user %}(@{{ globals.twitter_user }}){% endif %}" target="_blank"><img src="{{ globals.base_static }}img/favicons/twitter.gif" alt="twitter" title="{% trans _('compartir en %s') "twitter" %}" width="16" height="16"/></a>
				&nbsp;<a href="http://www.facebook.com/share.php?u={{ enc_shortlink }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/fb.gif" alt="facebook" title="{% trans _('compartir en %s') "facebook" %}" width="16" height="16"/></a>
				&nbsp;<a href="http://www.tuenti.com/share?url={{ self.permalink|urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/tuenti.png" alt="tuenti" title="{% trans _('compartir en %s') "tuenti" %}" width="16" height="16"/></a>
				&nbsp;<a href="http://www.google.com/buzz/post?url={{ enc_shortlink }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/buzz.png" alt="buzz" title="{% trans _('compartir en %s') "buzz" %}" width="16" height="16"/></a>
				&nbsp;<a href="http://friendfeed.com/?url={{ enc_shortlink }}&amp;title={{ enc_title }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/ff.png" alt="friendfeed" title="{% trans _('compartir en %s') "friendfeed" %}" width="16" height="16"/></a>
			</span>
		</div>

		{% endif %}
	{% endif %}

	{% exec do_banner_story as dummy %}
	{% if self.best_comment %}
		<div class="box" style="font-size: 80%; border: 1px solid; border-color: #dadada; background: #fafafa; margin: 7px 50px 7px 25px; padding: 4px; overflow:hidden">
			<a onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" onmouseover="return tooltip.ajax_delayed(event, 'get_comment_tooltip.php', '{{ self.best_comment.comment_id }}', 10000);" href="{{ self.permalink }}/000{{ self.best_comment.comment_order }}">
			<strong>{{ self.best_comment.comment_order }}</strong></a>:&nbsp;{% exec text_to_summary self.best_comment.content 200 %}
		</div>
	{% endif %}
	</div>
</div>

{% if self.map_editable %}
	<div id="geoedit" class="geoform" style="margin-left:20px">
	{% if self.add_geo %}
		{% trans _('ubica al origen de la noticia o evento (ciudad, país)') as geotxt %}
		{% exec geo_coder_print_form 'link', self.id, globals.latlng, geotxt as dummy %}
	{% endif %}
	</div>
{% endif %}
