<div class="sidebox"><div>
<div class="header">
<h4><a href="{{url}}">{{title}}</a></h4>
</div>
{% for l in links %}
	<div class="cell">
	<div class="clics"><span>{{ l.clicks }}<br/>{% trans _('clics') %}</span></div>
	{% if l.thumb %}
		<img src="{{l.thumb}}" width="{{l.thumb_x}}" height="{{l.thumb_y}}" alt='' class="thumbnail"/>
	{% endif %}
	<h5 {% if l.warn %}style="padding-left:20px;background: url({{globals.base_static}}img/common/error_s.png) no-repeat left center"{% endif %}>
	<a href="{{l.url}}" class="tooltip l:{{ l.id }}">{{l.title}}</a></h5>
	</div>
{% endfor %}
</div></div>
