<ul class="subheader">
{% for item in items %}
    <li {% if item.id == option OR item.selected %}class="selected"{% endif %}>
            <a href="{{globals.base_url}}{{item.url}}">{{ item.title }}</a>
    </li>
{% endfor %}

{% if feed %}
    <li class="icon widescreen">
        <a href="{{globals.base_url}}rss2.php{{feed.url}}" title="{{feed.title}}" >
            <img src="{{globals.base_static}}img/common/h9_rss.png" width="15" height="15" alt="rss2"/>
        </a>
    </li>
{% endif %}

</ul>

