<div style="text-align: right">
<label for="notify">{% trans _('recibir avisos por email:') %}</label>
<input name="notify" id="notify" type="checkbox" value="notify_priv" {% if notify %}checked="true"{% endif %}/>
</div>

<script type="text/javascript">
function priv_notify() {
	var value;

    if (this.checked) value = 1;
    else value = 0;
    $.post(base_url + 'backend/pref.php',
			{"id": {{ current_user.user_id }}, "value": value, "key": this.value},
			function (data) {
				if (data) this.checked = true;
				else this.checked = false;
			},
			'json');
}
$("#notify").change(priv_notify);
</script>
