<div class="topbox">
<a class="title" href="{{ link_url }}/best-comments" title="{% trans _('los sombreados de rojo son de usuarios que votaron negativo') %}">{% trans _('Comentarios destacados') %}:</a>&nbsp;
{% for obj in objects %}
	<a class="tooltip c:{{ obj.link_id }}-{{ obj.order }}" href="{{obj.link}}" rel="nofollow"><img 
		src="{% exec get_avatar_url obj.user_id, obj.avatar, 20 %}" 
		alt="" width="20" height="20" 
		{% if obj.vote < 0 %}
			class="avatar shadow-red"
			{# style="border: 1px solid red;" #}
		{% else %}
			class="avatar"
		{% endif %}
		/></a>&nbsp;
{% endfor %}
</div>
