<div id="newswrap">

    <div class="genericform" style="text-align: center; margin-left: 20px; margin-right: 20px">
    <fieldset>
	<form id="thisform" action="">
	    <input type="text" name="q" value="{{ _REQUEST.words|escape}}" class="form-full"/>
	    <input class="button" type="submit" value="{% trans _('buscar') %}" />

	    <br />

        {% for id,values in options %}
	        <select name="{{id}}" id="{{id}}">
            {% for oid, option in values %}
                {% if (forloop.counter0 === oid OR forloop.counter0-1 === oid) AND oid !== '' %}
                    <option value="{{option}}"{% if selected[id] == option %} selected="selected"{%endif%}>{{option}}</option>
                {% else %}
                    <option value="{{oid}}"{% if selected[id] == oid %} selected="selected"{%endif%}>{{option}}</option>
                {% endif %}
            {% endfor %}
            {% if id == "p" %}
	            <option value="">{% trans _('todo el texto') %}</option>
            {% endif %}
            {% if id == "s" || id == "h" %}
	            <option value="">{% trans _('todas') %}</option>
            {% endif %}
            </select>
        {% endfor %}


		<div style="margin-top: 8px">
	    <label for="u">{% trans _("usuario") %}:</label>
	    <input type="text" name="u" id="u" value="{{ _REQUEST.u|escape }}" size="12" style="font-weight: bold;" class="ac_user"/>
   	    <img id="u_avatar" alt="avatar"
			{% if _REQUEST.u %}
				src="{{ globals.base_url }}backend/get_avatar.php?user={{ _REQUEST.u|escape }}&amp;size=20"
				style="vertical-align:text-bottom"
			{% else %}
				src="{% exec get_no_avatar_url 20 %}"
				style="vertical-align:text-bottom;visibility:hidden"
			{% endif %}
			class="avatar"
			width="20" height="20"/>
        </div>

        </form>

	    <script type="text/javascript">
        var do_change = function() {
	        var type = $("#w").val();
	        if (type == "links") { $("#p").attr("disabled", false); $("#s").attr("disabled", false); }
	        else { $("#p").attr("disabled", true); $("#s").attr("disabled", true); }
        };
	    $(document).ready(function() {
	        $("#w").change(do_change);
            do_change();
	    });
	    </script>
    {% if _REQUEST.q %}
	    <div style="font-size:85%;margin-top: 5px">
        {% trans _('encontrados') %}: {{response.rows}}, {% trans _('tiempo total') %}: {{response.time|stringformat:"%1.3f"}} {% trans _('segundos') %}
	        <a href="{{globals.base_url}}{{rss_program}}?{{_SERVER.QUERY_STRING|escape}}"><img src="{{globals.base_static}}img/common/feed-icon-001.png" width="18" height="18" alt="rss2" style="vertical-align:top"/></a>
	    </div>
    {% endif %}
    </fieldset>
</div>
    {% exec print_result as dummy %}
</div>
<script type="text/javascript">
	$(".ac_user").user_autocomplete();
</script>
