{# Share icons #}

{#
{% if not short_link  %}
	{% set short_link = link %}
{% endif %}
#}


&nbsp;<a href="https://twitter.com/intent/tweet?url={{ link|urlencode }}&amp;text={{ title |urlencode }}{% if globals.twitter_user %}&amp;via={{ globals.twitter_user }}{% endif %}" target="_blank"><img src="{{ globals.base_static }}img/external/tw-16.png" alt="twitter" title="{% trans _('compartir en %s') "twitter" %}" width="16" height="16"/></a>

&nbsp;<a href="http://www.facebook.com/share.php?u={{ link|urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/external/fb-16.png" alt="facebook" title="{% trans _('compartir en %s') "facebook" %}" width="16" height="16"/></a>

{#
&nbsp;<a href="http://www.tuenti.com/share?url={{ link|urlencode }}" target="_blank"><img src="{{ globals.base_static }}img/favicons/tuenti.png" alt="tuenti" title="{% trans _('compartir en %s') "tuenti" %}" width="16" height="16"/></a>

&nbsp;<div class="g-plusone" style="display:inline" data-size="small" data-count="false"></div>

<script type="text/javascript">
	window.___gcfg = {lang: 'es'};
	$(function () {
		$.getScript("https://apis.google.com/js/plusone.js");
	});
</script>
#}
