<div id="singlewrap">

    <div class="genericform" style="text-align: center; max-width: 75%; margin-left: auto; margin-right: auto">
    <fieldset>
	<form >
		<label for="search">[PROTOTIPO] {% trans _("palabras o frases separadas por ','") %}</label>
	    <input type="search" placeholder="palabra, varias palabras" autofocus name="words" value="{{ _REQUEST.words|escape}}" class="form-full"/>
	    <br />
		{% for o,t in options %}
			<input type = "radio" name="w" id="{{ o }}" value="{{ o }}" 
			{% if _GET.w == o OR ! _GET.w AND o == "links" %} 
				checked = "checked"
			{% endif %}
			/>
			<label for = "{{ o }}">{{ t }}</label>
		{% endfor %}
	    <br />
	    <input class="button" type="submit" value="{% trans _('enviar') %}" />

        </form>

		{% if _REQUEST.words %}
	    <script type="text/javascript">
		var $flot;
		var lastRequest = new Date().getTime();
		var lastQuery = -1;
		var what;
		var words;
		var options = { 
				xaxis: { mode: "time", timeformat: "%m/%y", minTickSize: [1, "month"] },
				series: { lines: { show: true }, points: { show: true }},
				grid: { hoverable: true, clickable: true },
				yaxis: { min: 0 }
		};

        function showTooltip(x, y, contents) {
			if ($('#tooltip').length>0) return;

            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y,
                left: x + 10,
                border: '1px solid #e2d3b0',
                padding: '3px',
                'background-color': '#FFEEC7',
                opacity: 0.85,
                'text-align': 'left',
                'font-size': '85%',
            }).appendTo("body").fadeIn(200);
        }


		function loadData() {
			var data = [];
			if (!words) return;
			$.getJSON(base_url+"backend/trends.php",
				{ q: words, w: what },
				function (json) {
					for (i=0; i<json.length; i++) {
						data.push(json[i]);
					}
					$.plot($flot, data, options);
				}
			);
		}

		addPostCode( function () {
			if (! $flot) $flot = $("#flot");
			words = "{{ _REQUEST.words|escape}}";
			what = $("input:radio[name=w]:checked" ).val();

			$flot.on("plothover", function (event, pos, item) {
				if (item) {
					var now = new Date().getTime();
					if (now - lastRequest < 200 || lastQuery == item.dataIndex) {
						return;
					}
					lastRequest = now;
					lastQuery = item.dataIndex;
					showTooltip(item.pageX, item.pageY, '');
					var fields;
					if (what == "links") fields = "title,total_votes";
					else fields = "karma";
					$.getJSON(base_url+"backend/info.php",
						{id: item.series.id[item.dataIndex], fields: fields, what: what },
						function (json) {
							var html = '';
							var yymm = item.series.yymm[item.dataIndex];
							var yy = Math.floor(yymm/100);
							var mm = yymm - yy * 100;
							if (mm < 10) mm = '0'+mm;
							html += '<div><b>'+mm+'/'+yy+'</b></div>';
							html += '<div><b>Total:</b> '+item.series.count[item.dataIndex]+'</div>';
							if (what == "links") {
								html += '<div><b>Destacada:</b> '+json.title+'</div>';
								html += '<div><b>Votos:</b> '+json.total_votes+'</div>';
							} else {
								html += '<div><b>Max karma:</b> '+json.karma+'</div>';
							}
							$('#tooltip').html(html);
						}
					);
				} else {
					$("#tooltip").remove();
					lastQuery = -1;
				}
			});

			$flot.on('plotclick', function (event, pos, item) {
				window.open(base_url+encodeURI('search.php?q='+item.series.label+'&w='+what+'&yymm='+item.series.yymm[item.dataIndex]+'&root_time='+item.series.ts[item.dataIndex]));
			});
			loadData();
		});
	    </script>
		{% endif %}
    </fieldset>
	</div>
	<div id="flot" style="width:90%;height:250px;margin-right:10%"></div>
</div>
