{% spacefull %}
<SCRIPT type="text/javascript">
<!--
var img_src1='{{ globals.base_static }}img/common/indicator_orange.gif';
var img1= new Image();
img1.src = img_src1;
//-->
</SCRIPT>
{% endspacefull %}

{% if errors %}
	<div>
	{% for title, messages in errors %}
		<p class="error">{{ title }}</p>
		{% for m in messages %}
			<p class="error-text">{{ m }}</p>
		{% endfor %}
	{% endfor %}
	</div>
{% endif %}


<div class="genericform">
<fieldset><legend><span class="sign">{% trans _('dirección de la noticia') %}</span></legend>
<form action="submit.php" method="post" id="thisform" onSubmit="$('#working').html('{% trans _('verificando') %}...&nbsp;<img src=\'' + img_src1 + '\'/>'); return true;">
<p><label for="url">{% trans _('url') %}:</label><br />

<input type="text" name="url" id="url"
	{% if link.url %}
		value="{{ link.url | escape }}"
	{% else %}
		value="http://"
	{% endif %}
		class="form-full" onblur="if(this.value=='') this.value='http://'" onclick="if(this.value=='http://') this.value=''"
	/></p>

<input type="hidden" name="phase" value="1" />
<input type="hidden" name="key" value="{{ link.key }}" />
<input type="hidden" name="randkey" value="{{ link.randkey }}" />
<input type="hidden" name="id" value="c_1" />
<p><input class="button" type="submit" value="{% trans _('continuar') %} &#187;"
/>&nbsp;&nbsp;&nbsp;<span id="working">&nbsp;</span></p>
</form>
</fieldset>
</div>
