<div style="position:relative;background:#f9f9f9; border:#ddd 1px solid; padding: 3px 3px 0px 2px; margin: 4px 2px 2px 2px;vertical-align:middle;overflow:hidden;">
{% if self.thumb_url %}
	<img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt='' class='thumbnail' style="float: left; margin-right: 4px; margin-bottom: 2px"/>
{% endif %}
<h1 style="line-height:100%;font-size: 110%;margin: 0"><a href="{% exec self.get_permalink %}">{{ self.title }}</a></h1>
{% if self.thumb_url %}
    <p style="color: #888;font-size: 90%">{% exec text_to_summary self.content 200 %}</p>
{% endif %}

<p style="
{% if self.thumb_x > 0 &&  self.thumb_y > 0 %}
        position:absolute;bottom:0;right:4px;
{% endif %}
	margin: 0;margin-top:4px;text-transform:capitalize;font-variant:small-caps;text-align:right;color:#aaa;font-size:95%;">{% trans _('La historia destacada') %}</p>
</div>
