body {
font-family: sans-serif;
color: #303030;
margin: 0;
padding: 0;
background: #FFF;
}

.header {
background: #FF6400;
color: #fff;
font-size: 200%;
padding: 2px 2px 2px 0.25em;
margin: 0 0 0.5em 0;
}

.links a {
font-size: 90%;
background: #FF6400;
color: #fff;
}

ul, li {
list-style: none;
margin: 0;
padding: 0;
}

li {
margin: 1em 0.5em;
}

li em {
font-size: 75%;
font-style: normal;
font-weight: normal;
}

li a {
font-weight: bold;
color: #FF6400;
background: #fff;
text-decoration: none;
font-weight: bold;
}

li a:visited {
color: #DCAD97;
}

.text a {
color: #303030;
text-decoration: underline;
font-weight: normal;
}

.text em {
font-size: 100%;
}
