<div id="singlewrap">
    <div class="genericform" style="margin:0">
        <div style="float:right;">
            <form method="get" action="{{globals.base_url}}admin/bans.php">
                <input type="hidden" name="tab" value="{{selected_tab}}"/>
                <input type="hidden" name="key" value="{{key}}"/>
                <input type="text" name="s" {% if search %} value="{{ search }}" {% else %} value="{% trans _('buscar') %}..."{% endif %} onblur="if(this.value=='') this.value='{% trans _('buscar') %}...';" onfocus="if(this.value=='{% trans _('buscar') %}...') this.value='';" />&nbsp;
                <input style="padding:2px;" type="image" align="top" value="buscar" alt="buscar" src="{{ globals.base_static }}img/common/search-03.png">
            </form>
        </div>

        {% if current_user.user_level == "god" %}
            &nbsp; [ <a href="{{ globals.base_url}}admin/bans.php?tab={{ selected_tab }}&op=new">{% trans _('Nuevo ban') %}</a> ]
            &nbsp; [ <a href="{{ globals.base_url }}admin/bans.php?tab={{ selected_tab }}&op=news">{% trans _('Múltiples bans') %}</a> ]
        {% endif %}

        <table class="decorated" style="font-size: 10pt">
            <tr>
                <th width="25%">
                    <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_text">
                        {{selected_tab}}
                    </a>
                </th>

                <th width="30%">
                    <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_comment">
                        {% trans _('comentario') %}
                    </a>
                </th>

                <th>
                    <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_date">
                        {% trans _('fecha creación') %}
                    </a>
                </th>

                <th>
                    <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_expire">
                        {% trans _('fecha caducidad') %}
                    </a>
                </th>

                <th>
                    {% trans _('Editar / Borrar') %}
                </th>
            </tr>
            {% for ban in bans %}
            <tr>
                <td>{{ban.ban_text|clean_text}}</td>
                <td class="tooltip b:{{ban.ban_id}}" style="overflow: hidden;white-space: nowrap;">
                    {{ ban.ban_comment|txt_shorter:50|clean_string }}
                </td>
                <td>{{ban.ban_date}}</td>
                <td>{{ban.ban_expire}}</td>
                <td>
                    {% if current_user.user_level == "god" %}
                        <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}&op=edit&id={{ban.ban_id}}" title="{% trans _('Editar') %}">
                            <img src="{{globals.base_static}}img/common/sneak-edit-notice01.png" alt="Editar"/></a>
                        &nbsp;/&nbsp;
                        <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}&del_ban={{ban.ban_id}}&key={{key}}" title="{% trans _('Eliminar') %}"><img src="{{globals.base_static}}img/common/sneak-reject01.png" alt="Eliminar"/></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
