<div id="singlewrap">
    <div class="genericform" style="margin:0">
        <div style="float:right;">
            <form method="get" action="{{globals.base_url}}admin/bans.php">
                <input type="hidden" name="tab" value="{{selected_tab}}"/>
                <input type="hidden" name="key" value="{{key}}"/>
                <input type="text" name="s" {% if search %} value="{{ search }}" {% else %} value="{% trans _('buscar') %}..." {% endif %} onblur="if(this.value=='') this.value='{% trans _('buscar') %}...';" onfocus="if(this.value=='{% trans _('buscar') %}...') this.value='';"/>&nbsp;
                <input style="padding:2px;" type="image" align="top" value="buscar" alt="buscar" src="{{ globals.base_static }}img/common/search-03.png">
            </form>
        </div>

        {% if current_user.user_level == "god" %}
        &nbsp; [ <a href="{{ globals.base_url}}admin/bans.php?tab={{ selected_tab }}&op=new">{% trans _('Nuevo ban')
        %}</a> ]
        &nbsp; [ <a href="{{ globals.base_url }}admin/bans.php?tab={{ selected_tab }}&op=news">{% trans _('Múltiples bans') %}</a> ]
        {% endif %}

        <form method="post" name="newban" action="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}">
            <input type="hidden" name="key" value="{{key}}"/>

            <table class="decorated" style="font-size: 10pt">
                <tr>
                    <th width="25%">
                        <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_text">
                            {{selected_tab}}
                        </a>
                    </th>

                    <th width="30%">
                        <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_comment">
                            {% trans _('comentario') %}
                        </a>
                    </th>

                    <th>
                        <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_date">
                            {% trans _('fecha creación') %}
                        </a>
                    </th>

                    <th>
                        <a href="{{globals.base_url}}admin/bans.php?tab={{selected_tab}}{% if search %}&s={{search}}{% endif %}&order_by=ban_expire">
                            {% trans _('fecha caducidad') %}
                        </a>
                    </th>

                    <th>
                        {% trans _('Editar / Borrar') %}
                    </th>
                </tr>
                <tr>
                    <td>
                        <textarea id="ban_text" name="ban_text"></textarea>
                    </td>
                    <td>
                        <input class="form-full" type="text" name="ban_comment" id="ban_comment"/>
                    </td>
                    <td>
                    </td>
                    <td>
                        <select name="ban_expire" id="ban_expire">
                            {% set two_hours = globals.now + 7200 %}
                            {% set one_day = globals.now + 86400 %}
                            {% set one_week = globals.now + 86400*7 %}
                            {% set one_month = globals.now + 86400*30 %}
                            {% set two_months = globals.now + 86400*60 %}
                            {% set six_months = globals.now + 86400*180 %}
                            {% set one_year = globals.now + 86400*365 %}
                            <option value="UNDEFINED">{% trans _('Sin caducidad') %}</option>
                            <option value="{{globals.now}}">{% trans _('Ahora') %}</option>
                            <option value="{{ two_hours }}">{% trans _('Ahora + dos horas') %}</option>
                            <option value="{{ one_day }}">{% trans _('Ahora + un día') %}</option>
                            <option value="{{ one_week }}">{% trans _('Ahora + una semana') %}</option>
                            <option value="{{ one_month }}">{% trans _('Ahora + un mes') %}</option>
                            <option value="{{ two_months }}">{% trans _('Ahora + dos meses') %}</option>
                            <option value="{{ six_months }}">{% trans _('Ahora + seis meses') %}</option>
                            <option value="{{ one_year }}">{% trans _('Ahora + un año') %}</option>
                        </select>

                    </td>
                    <td>
                        <input type="hidden" name="new_bans" value="1"/>
                        <input type="submit" name="submit" value="{% trans _('Crear bans') %}"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
