.tabsub li a {
border-radius-topright: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-radius-topleft: 3px;
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
}

.tabsub-this {
font-weight: bold;
background-color: #FFEDC6;
}

.tabsub {
height: 22px !important;
margin: 10px 0 20px 0;
padding-left: 20px;
border-bottom: 1px solid;
border-color: #ff6400;
}

.tabsub li {
float: left;
list-style-type: none;
margin-right: 5px;
height: 22px;
}

.tabsub li a {
display: block;
float: left;
padding: 3px 8px 0 6px;
border-top: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
font-size: 12px;
text-decoration: none;
border-color: #ff6400;
color: #ff6400;
}

.tabsub li a:hover {
text-decoration: none;
background-color: #FFEDC6;
}

.tabsub li.tabsub-this {
height: 23px;
background-color: #FFEDC6;
}

.tabsub li.tabsub-this a {
padding: 2px 8px 0 4px;
height: 22px;
}

.tabsub li.tabsub-this a:hover {
background: #fff;
}

.tabsub a:visited,
.tabsub-shakeit a:visited {
color: #ff6400;
}

.thiscat a {
font-weight: bold;
}

.reporters-list {
    position: relative;
    padding: 2px 2px 2px 2px;
    float: left;
    min-height: 150px;
    width: 99%;
    overflow: hidden;
    border: 1px solid;
    margin: 0 0 5px 0;
    color: #FF6400;
    background: #FFF;
    border-color: #FF9400;
}


.reporters-list .item {
    float: left;
    overflow: hidden;
    display: block;
    width: 24%;
    height: 20%;
    font-size: 85%;
    white-space: nowrap;
    padding: 5px 0 5px 0;
}

table.decorated td.normal {
    color: #666;
}

a.admin-button, a.admin-button:hover, a.admin-button:visited {
    color: #fff;
    background-color: #FF6400;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}

select, input {
    font-weight: normal;
}

td.normal {
    color: #666;
}
